<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin/indexAdmin}">


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>


<body>
	<section layout:fragment="adminContent">
		<!-- 내용 시작 -->


		<!-- 본문 내용 -->
		<!-- start blog detail section -->
		<section class="blogs">
			<div class="container">
				<div class="row">

					<!--  start blog left-->
					<div>

						<div class="posts">
							<table class="table"
								style="border-top: 3px solid #69737C; border-collapse: collapse;">
								<thead>
									<tr>
										<td width="120px">신고한 사람</td>
										<td width="250px">신고이유</td>
										<td width="120px">신고날짜</td>
										<td width="120px">신고된 회원</td>
										<td width="120px">상세페이지</td>
										<td width="120px">제재</td>
									</tr>
								</thead>

								<tbody>
									<tr th:each="c : ${rvo}" th:id="${c.compCode}" class="code">
										<td>[[${c.id}]]</td>

										<td>[[${c.comName}]]</td>

										<td>[[${c.repDate}]]</td>

										<td>[[${c.targetId}]]</td>


										<td><button type="button" class="btn btn-danger"
												data-toggle="modal" data-target="#myModal" id="modalForm"
												onclick="modalForm()">신고된 글</button></td>
										<td>
											<form action="/duration" method="post" id="submit">
												<!-- 										<input type="hidden"  name="state" value="1"> -->
												<select name="state" id="state">
													<option th:each="c : ${cs}" th:value="${c.comCode}"
														th:text="${c.comName}"></option>
												</select> <input type="hidden" id="targetID" name="targetId"
													th:value="${c.targetId}">
												<button>제제하기</button>
											</form>
										</td>
									</tr>
								</tbody>

							</table>

							<script>
								function modalForm() {
									var compCode = $(event.target).closest(
											".code").attr("id");
									console.log(compCode);
									let str = '<iframe src="/companionDetail/'+compCode+'"></iframe>'

									let s = $("#s")
									s.html(str)
								}
							</script>

						</div>
					</div>
					<script type="text/javascript">
						$(".btn-modal").click(function() {
							var data = $(this).data('id');
							$("#contents.body-contents").val(data);
							$("#text-contents.body-contents").html(data);
						});
					</script>


					<div class="modal hide" id="myModal">
						<div class="modal-header">
							<!-- 					<button class="close" data-dismiss="modal">x</button> -->
							<div class="modal-dialog" role="document">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">신고사유</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div id="s"></div>
											<div class="modal-footer"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- end blog detail section -->
	</section>
	<!-- 내용 끝 -->
</body>
</html>
