<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin/indexAdmin}">


<body layout:fragment="adminContent">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">관광정보요청</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
					cellspacing="0">
                         	<thead>
                         		<tr>
                         			<td width="120px">신고한 사람</td>
                         			<td>신고이유</td>
                         			<td>신고날짜</td>
                         			<td>신고된 회원</td>
                         			<td width="120px">제재</td>
                         		</tr>
                         	</thead>
                         		<tbody th:each="c : ${rvo}">
                         			<tr>
                         				<td>[[${c.id}]]</td>
                         				
                         				<td>[[${c.comName}]]</td>
                         			
                         				<td>[[${c.repDate}]]</td>
                         			
                         				<td>[[${c.targetId}]]</td>
                         				
                         				<td>
												<form action="/duration" method="post" id="submit">
													<!-- 										<input type="hidden"  name="state" value="1"> -->
													<select name="sanDay" id="sanDay">
														<option th:each="c : ${cs}" th:value="${c.comCode}"
															th:text="${c.comName}"></option>
													</select> <input type="hidden" id="targetID" name="targetId"
														th:value="${c.targetId}"> <input type="hidden"
														id="state" name="state" value="1"> <input
														type="hidden" id="state" name="id"
														th:value="${c.targetId}">
													<button>제제하기</button>
												</form>
											</td>
                         			</tr>
                         		</tbody>
               
                         </table>

      
                        </div>
                    </div>
                    <!--  end blog left-->

<!--                      start blog right -->
<!--                     <div class="col-lg-4 col-md-12 padding-30px-left sm-padding-15px-left"> -->
<!--                         <div class="side-bar"> -->
                        
<!--                             <div class="widget"> -->
<!--                                 <div class="widget-title margin-20px-bottom"> -->
<!--                                     <h3>Categories</h3> -->
<!--                                 </div> -->
<!--                                 <ul class="widget-list"> -->
<!--                                     <li> -->
<!--                                         <a href="/reportCompanion">동행자 신고 -->
<!--                                         </a> -->

<!--                                     </li> -->
<!--                                     <li> -->
<!--                                         <a href="/reportFree">자유 신고 -->
<!--                                         </a> -->

<!--                                     </li> -->
<!--                                     <li> -->
<!--                                         <a href="/reportReview">리뷰 신고 -->
<!--                                         </a> -->

<!--                                     </li> -->
<!--                                     <li> -->
<!--                                         <a href="/reportComment">댓글 신고 -->
<!--                                         </a> -->

<!--                                     </li> -->
<!--                                 </ul> -->
<!--                             </div> -->

                           
<!--                         </div> -->
<!--                     </div> -->
<!--                      end blog right -->

                </div>
            </div>
        </section></section>
        <!-- end blog detail section -->
		<!-- 내용 끝 -->
</body>
</html>
