<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/index}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
<div>
	<div class="container">
		<form action="" id="frm">
			<div class="mb-3">
			  	<label for="comContent" class="form-label">댓글</label>
			  	<textarea class="form-control" rows="3" id="comContent" name="comContent"></textarea>
			</div>
			<div class="mb-3" style="text-align: right">
				<button class="btn btn-primary" type=button id="btn">등록</button>
			</div>
			<div id="comList">
			</div>
		</form>
	</div>
</div>
<script>
	$(function(){
		$("#comList").append($("<div>"))
		$("#btn").on('click',function(){
			console.log( $("#comContent").val())
		})
	})
</script>	
</body>
</html>