<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/index}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
	<section class="page-title-section bg-img cover-background"
		th:style="|background: url('img/banner/bg4.jpg')|">
		<h1 class="text-white font-weight-600">Tour Listing</h1>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><span class="active">Tour Listing</span></li>
		</ul>
	</section>

	<!--  start comment-->
	<div class="container">
		<div class="row">
			<div
				class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom">
				<div class="posts" >
					<div class="comments-area">
						<div class="title-g margin-30px-bottom">
							<h3>Comments</h3>
						</div>
						<div class="comment-box" th:each=" c : ${com}">
							<div class="author-thumb">
								<img src="img/blog/01.png" alt="" class="rounded-circle width-85px width-100px" />
							</div>
							<div class="comment-info">
								<h6>
									<a href="javascript:void(0);">Alex Joyrina</a>
								</h6>
								<p th:text="${c.comContent}"></p>
								<div class="reply">
									<a href="javascript:void(0);"> <i class="fa fa-reply"
										aria-hidden="true"></i> 답글
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--  start form-->
					<div class="comment-form">
						<div class="title-g margin-30px-bottom">
							<h3>Post a Comment</h3>
						</div>
						<form id='comment-form' method='post'>
							<div class="controls">
								<div class="row">
								<input type="hidden" name="id" value="USER" id="id">
									<div class="col-md-12 form-group">
										<textarea id="comContent" name="comContent"
											placeholder="Message" rows="4" required="required"></textarea>
									</div>
									<div class="col-md-12">
										<button type="button" id="butn" class="butn">
											<span>Send Message</span>
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end comment-->
	<script>
	$("#butn").click(function(){
		let comContent =$("#comContent").val();
		console.log(comContent)
		let comId =$("#id").val();
		console.log(comId)
		console.log($("#comContent").val());
		
		if(comId == ""){
			alert("로그인 후 이용하세요")
			return;
		}; // 로그인 안했을시 댓글 작성 x
		
		$.ajax({
			url:"/comInsert",
			type:"POST",
			data: JSON.stringify(
				{
					"comContent" :comContent,
					"id" :comId
				}
			),
			contentType:'application/json',
			success : function(data){
				console.log("댓글등록");
			},
			error:function(){
				alert('통신실패');
			}
		});
		
	});
		
	
</script>
</body>
</html>