<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/index}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
	<section class="page-title-section bg-img cover-background"
		th:style="|background: url('img/banner/bg4.jpg')|">
		<h1 class="text-white font-weight-600">Tour Listing</h1>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><span class="active">Tour Listing</span></li>
		</ul>
	</section>

	<!--  start comment-->
	<div class="container">
		<div class="row">
			<div
				class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom">
				<div class="posts" >
					<div class="comments-area">
						<div class="title-g margin-30px-bottom">
							<h3>Comments</h3>
						</div>
						<!-- <div class="comment-box" 
							th:each=" c : ${com}"
							th:data-comcode="${c.comCode}">
							<div class="author-thumb">
								<img src="img/blog/01.png" alt="" class="rounded-circle width-85px width-100px" />
							</div>
							<div class="comment-info">
								<h6>
									<a href="javascript:void(0);" th:text="${c.name}"></a>
								</h6>
								<p th:text="${c.comContent}"></p>
									<button type="button" class="btnDel" onclick="comDelete()">삭제</button>
								<div class="reply">
									<a href="javascript:void(0);"> <i class="fa fa-reply"
										aria-hidden="true"></i> 답글
									</a>
								</div>
							</div>
							<input type="hidden" id="comCode" name="comCode"> 
						</div> -->
					</div>
					<!--  start form-->
					<div class="comment-form">
						<div class="title-g margin-30px-bottom">
							<h3>댓글</h3>
						</div>
						<form id='comment-form' method='post'>
							<div class="controls">
								<div class="row">
								<input type="hidden" name="id" value="USER" id="id">
									<div class="col-md-12 form-group">
										<textarea id="comContent" name="comContent"
											placeholder="댓글 내용" rows="4" required="required"></textarea>
									</div>
									<div class="col-md-12">
										<button type="button"id="butn" class="butn">
											<span>댓글 달기</span>
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end comment-->
	<script>
	$(document).ready(function(){
		getComList()
	})
	
	$("#butn").click(function(){
		let comContent =$("#comContent").val();
		console.log(comContent)
		let comId =$("#id").val();
		console.log(comId)
		console.log($("#comContent").val());
		
		if(comId == ""){
			alert("로그인 후 이용하세요")
			return;
		}; // 로그인 안했을시 댓글 작성 x
		
		$.ajax({
			url:"/comInsert",
			type:"POST",
			data: JSON.stringify(
				{
					"comContent" :comContent,
					"id" :comId
				}
			),
			contentType:'application/json',
			success : function(data){
				console.log("댓글등록")
				comContent = ""
				console.log("====")
				getComList()
			},
			error:function(){
				alert('등록실패');
			}
		});
	});
	function getComList(){
		let str=""
		let comArea =$(".comments-area");
		$.ajax({
			url:"/comGetList",
			success : function(result){
				console.log(result[0].comCode);
				$(result).each(function(index,item){
					str += "<div class='comment-box' id='"+item.comCode+"'>"
					str += '<div class="author-thumb">'
					str += '<img src="img/blog/01.png" alt="" class="rounded-circle width-85px width-100px" /> </div>'
					str += '<div class="comment-info">'
					str += '<h6> <a href="javascript:void(0);" >'+item.name+' </a></h6>'
					str	+= '<p>'+item.comContent+'</p>'
					str += '<button type="button" class="btnDel" onclick="comDelete()">삭제</button>'
					str += '<div class="reply">'
					str += '<a href="javascript:void(0);"> <i class="fa fa-reply" aria-hidden="true"></i> 답글</a>'
					str += '</div> </div> <input type="hidden" id="comCode" name="comCode"> </div>'
				})
				comArea.html(str);
			}
		})
	} 
	function comDelete(){
		let comBox = $(event.target).closest(".comment-box")
		console.log($(event.target).text())
		let comCode = comBox.attr('id')
		console.log(comCode)
		$.ajax({
			url:"/comDelete",
			type:"delete",
			data:
				{comCode}
			,
			success : function(data){
				console.log(data)
				comBox.remove();
			}
		})
	} 
	
</script>
</body>
</html>