<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<body>
	<div layout:fragment="content" class="content">
		<!-- start page title section -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background: url('img/banner/bg3.jpg')|">
			<div class="container">
				<h1 class="text-white font-weight-600">Hotel</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">Hotel</span></li>
				</ul>
			</div>
		</section>
		<!-- end page title section -->
		
		<!-- start blog detail section -->
        <section class="blogs">
            <div class="container">
                <div class="row">

                    <!-- 여기에넣기 -->
                    <div
										class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom blogs">
										
										<div class="posts">
											<!--  start post-->
											<div class="post">
												<div class="content">
													<p style="font-size: 30px;">취소 예약내역</p>
														<div th:each="r : ${res}">
															<ul class="tour-inner">
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<p style="font-size:17px;">예약번호</p>
																		</div>
																		<div>
																			<p th:text="${r.resId}" id="resId" data-no="${r.resId}"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<p style="font-size:17px;">호텔명</p>
																		</div>
																		<div>
																			<p th:text="${r.hotelName}"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<p style="font-size:17px;">방 등급</p>
																		</div>
																		<div>
																			<p th:text="${r.roomGrade}"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<p style="font-size:17px;">숙박일자</p>
																		</div>
																		<div>
																			<p
																				th:text="|${#dates.format(r.checkIn, 'yyyy년 MM월 dd일')} ~
																			${#dates.format(r.checkOut, 'yyyy년 MM월 dd일')}|"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">오후
																				3시</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<p style="font-size:17px;">인원</p>
																		</div>
																		<div>
																			<p
																				th:text="|성인 ${r.humanCount}명, 유아 ${r.childCount}명|"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">디럭스</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<p style="font-size:17px;">예약자명</p>
																		</div>
																		<div>
																			<p th:text="${r.resName}" id="resName"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<p style="font-size:17px;">예약자
																				전화번호</p>
																		</div>
																		<div>
																			<p th:text="${r.resTel}" id="resTel"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">서울</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<p style="font-size:17px;">예약자 이메일</p>
																		</div>
																		<div>
																			<p th:text="${r.resEmail}" id="resEmail"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">디럭스</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<p style="font-size:17px;">요청사항</p>
																		</div>
																		<div>
																			<p th:text="${r.resRequest}" id="resRequest"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">디럭스</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<p style="font-size:17px;">환불진행상황</p>
																		</div>
																		<div>
																			<p th:text="${r.resState == 1 ? '환불요청중' : r.resState == 2 ? '환불완료' : ''}" id="resState"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">디럭스</p>
																		</div>
																	</div>
																</li>
															</ul>
														
												
														</div><hr>
												</div>
											
											</div>
										</div>
									</div>

                    <!--  start blog right-->
                    <div class="col-lg-4 col-md-12 padding-30px-left sm-padding-15px-left">
                        <div class="side-bar">
                            <div class="widget">
                                <div class="widget-title margin-17px-bottom" style="margin-top: 40px;">
								    <p style="font-size: 17px;">예약 목록</p>
								</div>
                                <ul class="widget-list">
                                    <li>
                                        <a href="/myReservation">현재 예약내역
                                        </a>

                                    </li>
                                    <li>
                                        <a href="/finReservation">지난 예약내역
                                        </a>

                                    </li>
                                    <li>
                                        <a href="/cancelReservation">취소 예약내역
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--  end blog right-->

                </div>
            </div>
        </section>
        <!-- end blog detail section -->
			</div>

</body>
</html>