<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<body>
	<div layout:fragment="content" class="content">
		<!-- start page title section -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background: url('img/banner/bg3.jpg')|">
			<div class="container">
				<h1 class="text-white font-weight-600">Hotel</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">Hotel</span></li>
				</ul>
			</div>
		</section>
		<!-- end page title section -->
		
		<!-- start blog detail section -->
        <section class="blogs">
            <div class="container">
                <div class="row">

                    <!-- 여기에넣기 -->
                    <div
										class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom blogs">
										
										<div class="posts">
											<!--  start post-->
											<div class="post">
												<div class="content">
													<p style="font-size: 30px;">지난 예약내역</p>
														<div th:each="r : ${res}">
															<ul class="tour-inner">
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">예약번호</h6>
																		</div>
																		<div>
																			<p th:text="${r.resId}" id="resId" data-no="${r.resId}"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">호텔명</h6>
																		</div>
																		<div>
																			<p th:text="${r.hotelName}"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">방 등급</h6>
																		</div>
																		<div>
																			<p th:text="${r.roomGrade}"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">숙박일자</h6>
																		</div>
																		<div>
																			<p
																				th:text="|${#dates.format(r.checkIn, 'yyyy년 MM월 dd일')} ~
																			${#dates.format(r.checkOut, 'yyyy년 MM월 dd일')}|"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">오후
																				3시</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">인원</h6>
																		</div>
																		<div>
																			<p
																				th:text="|성인 ${r.humanCount}명, 유아 ${r.childCount}명|"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">디럭스</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">예약자명</h6>
																		</div>
																		<div>
																			<p th:text="${r.resName}" id="resName"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">예약자
																				전화번호</h6>
																		</div>
																		<div>
																			<p th:text="${r.resTel}" id="resTel"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">서울</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">예약자 이메일</h6>
																		</div>
																		<div>
																			<p th:text="${r.resEmail}" id="resEmail"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">디럭스</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">요청사항</h6>
																		</div>
																		<div>
																			<p th:text="${r.resRequest}" id="resRequest"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">디럭스</p>
																		</div>
																	</div>
																</li>
															</ul>
														
												
														</div>
												</div>
											
											</div>
										</div>
									</div>

                    <!--  start blog right-->
                    <div class="col-lg-4 col-md-12 padding-30px-left sm-padding-15px-left">
                        <div class="side-bar">
                        
                        		<!-- 검색창 -->
<!--                             <div class="widget search"> -->
<!--                                 <div class="input-group mb-3"> -->
<!--                                     <input type="text" class="form-control" placeholder="Type here..." aria-label="Recipient's username" aria-describedby="button-addon2"> -->
<!--                                     <div class="input-group-append"> -->
<!--                                         <button class="butn" type="button" id="button-addon2"><span class="ti-search"></span></button> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                             </div> -->

                            <div class="widget">
                                <div class="widget-title margin-20px-bottom" style="margin-top: 40px;">
								    <p style="font-size: 20px;">예약 목록</p>
								</div>
                                <ul class="widget-list">
                                    <li>
                                        <a href="/myReservation">현재 예약내역
                                        </a>

                                    </li>
                                    <li>
                                        <a href="/finReservation">지난 예약내역
                                        </a>

                                    </li>
                                    <li>
                                        <a href="/cancelReservation">취소 예약내역
                                        </a>
                                    </li>
                                </ul>
                            </div>

<!--                             <div class="widget"> -->
<!--                                 <div class="widget-title"> -->
<!--                                     <h3>Recent Posts</h3> -->
<!--                                 </div> -->
<!--                                 <div class="media margin-20px-bottom align-items-center"> -->
<!--                                     <img src="img/blog/blog-8.jpg" class="mr-3 border-radius-4" alt="" /> -->
<!--                                     <div class="media-body"> -->
<!--                                         <h5 class="no-margin-top margin-5px-bottom font-size17"><a href="#" class="text-extra-dark-gray">I think that's a really good motto</a></h5> -->
<!--                                         <span class="font-size14">20 Jan, 2020</span> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                 <div class="media margin-20px-bottom align-items-center"> -->
<!--                                     <img src="img/blog/blog-9.jpg" class="mr-3 border-radius-4" alt="" /> -->
<!--                                     <div class="media-body"> -->
<!--                                         <h5 class="no-margin-top margin-5px-bottom font-size17"><a href="#" class="text-extra-dark-gray">get in the mood for your next epic trip</a></h5> -->
<!--                                         <span class="font-size14">12 Feb, 2020</span> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                 <div class="media align-items-center"> -->
<!--                                     <img src="img/blog/blog-12.jpg" class="mr-3 border-radius-4" alt="" /> -->
<!--                                     <div class="media-body"> -->
<!--                                         <h5 class="no-margin-top margin-5px-bottom font-size17"><a href="#" class="text-extra-dark-gray">Life is either adventure or nothing</a></h5> -->
<!--                                         <span class="font-size14">17 Feb, 2020</span> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                             </div> -->

<!--                             <div class="widget"> -->
<!--                                 <div class="widget-title"> -->
<!--                                     <h3>Tags</h3> -->
<!--                                 </div> -->
<!--                                 <ul class="tags"> -->
<!--                                     <li><a href="#">Destination</a></li> -->
<!--                                     <li><a href="#">Travel</a></li> -->
<!--                                     <li><a href="#">Tip</a></li> -->
<!--                                     <li><a href="#">Discover</a></li> -->
<!--                                     <li><a href="#">Tour</a></li> -->
<!--                                     <li><a href="#">Explore</a></li> -->
<!--                                 </ul> -->
<!--                             </div> -->

                        </div>
                    </div>
                    <!--  end blog right-->

                </div>
            </div>
        </section>
        <!-- end blog detail section -->
			</div>

</body>
</html>