<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<body>
	<!-- 각자 내용 -->
	<div layout:fragment="content" class="content">
		<!-- start page title section -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background: url('img/banner/bg4.jpg')|">
			<div class="container">
				<h1 class="text-white font-weight-600">Hotel</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">Hotel</span></li>
				</ul>
			</div>
		</section>
		<!-- end page title section -->
		<!-- start blog section -->
		<section>
			<div class="container">
				<h2>추천 호텔(별점순)</h2><hr>
				<div class="row">
					<div class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom blogs">
						<div class="row margin-30px-bottom">
							<div th:each="h : ${hotelList}"
								class="col-md-6 margin-30px-bottom">
								<div class="border border-radius-4 package h-100">
									<img th:src="${h.img1}"/>
									<div class="padding-30px-all">
										<div
											class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
											<div>
												<h5 th:text="${h.hotelName}"
													class="no-margin-bottom font-size22">Bali</h5>
												<span class="letter-spacing-2"> <span
													th:text="${h.hotelRegion}" class="ti-location-pin"></span></span>
											</div>
											<div>
												<!--<span class="font-size30 text-dark">549$</span> -->
											</div>
										</div>
										<a th:href="@{/hotelDetail/{hotelId}(hotelId = ${h.hotelId})}" class="butn">Details</a>
									</div>
								</div>
							</div>
						</div>
						<div
							class="pagination text-small text-uppercase text-extra-dark-gray">
							<ul>
								<li><a href="javascript:void(0);"><i
										class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i>
										Prev</a></li>
								<li class="active"><a href="javascript:void(0);">1</a></li>
								<li><a href="javascript:void(0);">2</a></li>
								<li><a href="javascript:void(0);">3</a></li>
								<li><a href="javascript:void(0);">Next <i
										class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
							</ul>
						</div>
					</div>
					<div
						class="col-lg-4 col-md-12 padding-30px-left sm-padding-15px-left">
						<div class="side-bar">
							<div class="widget">
								<button class="butn btn-block" onClick="location.href='/hotelToday'">
									<i class="fa fa-search"></i> 오늘 예약 가능한 호텔 보기
								</button>
								<br><br>
								<hr>
								<div class="widget-title">
									<h3>Search</h3>
								</div>
								<form action="#!" method="post">
									<div class="form-group">
										<label class="margin-5px-bottom">checkin</label> <input
											type="text"
											class="form-control date no-margin-bottom padding-10px-tb"
											data-provide="datepicker" placeholder="Date">
									</div>
									<div class="form-group">
										<label class="margin-5px-bottom">checkout</label> <input
											type="text" class="form-control date no-margin-bottom padding-10px-tb"
											data-provide="datepicker" placeholder="Date">
									</div>
									<div class="form-group">
										<label class="margin-5px-bottom">지역</label> <select
											class="form-control padding-10px-tb"
											id="exampleFormControlSelect1">
											<option selected>지역 선택</option>
											<option>서울</option>
											<option>경기</option>
											<option>부산</option>
											<option>대구</option>
											<option>인천</option>
											<option>광주</option>
											<option>대전</option>
											<option>울산</option>
											<option>세종</option>
											<option>경기</option>
											<option>강원</option>
											<option>충북</option>
											<option>충남</option>
											<option>전북</option>
											<option>전남</option>
											<option>경북</option>
											<option>경남</option>
											<option>제주</option>
										</select>
									</div>
									<div class="form-group margin-30px-bottom">
										<label class="margin-5px-bottom">인원</label> <select
											class="form-control padding-10px-tb"
											id="exampleFormControlSelect2">
											<option>1</option>
											<option selected>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
									<div class="form-group margin-30px-bottom">
										<label class="margin-5px-bottom">유아(7세 이하)</label> <select
											class="form-control padding-10px-tb"
											id="exampleFormControlSelect2">
											<option selected>0</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
									<button class="butn btn-block" type="submit">
										<i class="fa fa-search"></i> Check
									</button>
								</form>
							</div>
							<div class="widget">
								<div class="widget-title">
									<h3>Destination</h3>
								</div>
								<div class="price-range"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end tour grid section -->
	</div>
	<!-- 내용 끝 -->
</body>
</html>