<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<body>
	<div layout:fragment="content" class="content">
	
	<!-- 페이징 -->
    <script th:inline="javascript">
   function gopage(page) { // 이거 지금 안 먹음 ㅠㅠ
	   let searchInfo = [[${paging.SearchInfo}]];
	   location.href = "hotelSearch?page=" + page + searchInfo;
	   frmSearch.page.value = page;
	   frmSearch.submit();
	}

   </script>
   <!-- 페이징 끝-->
   
		<!-- start page title section -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background: url('img/banner/bg3.jpg')|">
			<div class="container">
				<h1 class="text-white font-weight-600">Hotel</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">Hotel</span></li>
				</ul>
			</div>
		</section>
		<!-- end page title section -->
	<!-- 각자 내용 -->
		<!-- start blog section -->
		<section>
			<div class="container">
				<p style="font-size: 30px;">추천 호텔<p><hr>
				<div class="row">
					<div class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom blogs">
						<div class="row margin-30px-bottom">
							<div th:each="h : ${hotelList}"
								class="col-md-6 margin-30px-bottom">
								<div class="border border-radius-4 package h-100">
									<img th:src="${h.img1}"/>
									<div class="padding-30px-all">
										<div
											class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
											<div>
												<p style="font-size: 20px;" th:text="${h.hotelName}"
													class="no-margin-bottom font-size22">Bali</p>
												<span class="letter-spacing-2"> <span
													th:text="${h.hotelRegion}" class="ti-location-pin"></span></span>
											</div>
											<div>
												<!--<span class="font-size30 text-dark">549$</span> -->
											</div>
										</div>
										<a th:href="@{/hotelDetail/{hotelId}(hotelId = ${h.hotelId})}" class="butn" onclick="detailBtn()">Details</a>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 페이징 버튼 -->
						<div
							class="pagination text-small text-uppercase text-extra-dark-gray gopage">
							<ul>
								<li th:if="${paging.startPage > 1}">
									<a href="javascript:void(0);" th:href="|javascript:gopage(${paging.startPage-1})|"><i
										class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i>
										</a></li>
								<li th:classappend="${paging.page}==${num} ? 'active'"
													th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}">
													<a th:href="|javascript:gopage(${num})|">[[${num}]]</a></li>
								<li th:if="${paging.endPage < paging.lastPage}"><a th:href="|javascript:gopage(${paging.endPage+1})|"> <i
										class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
							</ul>
						</div>
						<!-- 페이징 버튼 끝 -->
						
					</div>
					<div
						class="col-lg-4 col-md-12 padding-30px-left sm-padding-15px-left">
						<div class="side-bar">
							<div class="widget">
								<button class="butn btn-block" onClick="location.href='/hotelToday'">
									<i class="fa fa-search"></i> go jeju
								</button>
								<br><br>
								<hr>
								<div class="widget-title">
									<h3>Search</h3>
								</div>
								<form action="#!" method="post">
									<div class="form-group">
										<label class="margin-5px-bottom">checkin</label> <input
                                 type="text" th:value="${paging.checkIn}"
                                 class="form-control date no-margin-bottom padding-10px-tb"
                                 placeholder="체크인 날짜 선택" name="checkIn" id="checkIn">
                           </div>
                           <div class="form-group">
                              <label class="margin-5px-bottom">checkout</label> <input
                                 type="text" th:value="${paging.checkOut}"
                                 class="form-control date no-margin-bottom padding-10px-tb"
                                 placeholder="체크아웃 날짜 선택" name="checkOut" id="checkOut">
                           </div>
									
							<script>
                              $(function() {
                                 $(document).ready(function() {
         
                                    $('#checkIn').datepicker({
                                        format : "yyyy-mm-dd",
                                        startDate : '0d',
                                        language : "ko",
                                        todayHighlight : true,
                                        autoclose : true
                                    }).on('changeDate', function(selected){
                                        var startDate = new Date(selected.date.valueOf());
                                        $('#checkOut').datepicker('setStartDate', startDate);
                                    });
         
                                    $('#checkOut').datepicker({
                                        format : "yyyy-mm-dd",
                                        language : "ko",
                                        todayHighlight : true,
                                        autoclose : true
                                    }).on('changeDate', function(selected){
                                        var endDate = new Date(selected.date.valueOf());
                                        $('#checkIn').datepicker('setEndDate', endDate);
                                    });
                                    
                                    
                                 });
         
                              });
                           </script>
									<div class="form-group">
										<label class="margin-5px-bottom">지역</label> <select
											class="form-control padding-10px-tb"
											id="hotelRegion" name="hotelRegion">
											<option selected>지역 선택</option>
											<option th:value="서울" th:selected="${paging.hotelRegion eq '서울'}">서울</option>
											<option th:value="부산" th:selected="${paging.hotelRegion eq '부산'}">부산</option>
											<option th:value="대구" th:selected="${paging.hotelRegion eq '대구'}">대구</option>
											<option th:value="인천" th:selected="${paging.hotelRegion eq '인천'}">인천</option>
											<option th:value="대전" th:selected="${paging.hotelRegion eq '대전'}">대전</option>
											<option th:value="울산" th:selected="${paging.hotelRegion eq '울산'}">울산</option>
											<option th:value="제주" th:selected="${paging.hotelRegion eq '제주'}">제주</option>
										</select>
									</div>
									<div class="form-group margin-30px-bottom">
										<label class="margin-5px-bottom">성인</label> <select
											class="form-control padding-10px-tb" id="humanCount"
											name="humanCount">
											<option th:value="1" th:selected="${paging.humanCount eq '1'}">1명</option>
											<option th:value="2" th:selected="${paging.humanCount eq '2'}">2명</option>
											<option th:value="3" th:selected="${paging.humanCount eq '3'}">3명</option>
											<option th:value="4" th:selected="${paging.humanCount eq '4'}">4명</option>
											<option th:value="5" th:selected="${paging.humanCount eq '5'}">5명</option>
										</select>
									</div>
<!-- 									<div class="form-group margin-30px-bottom"> -->
<!-- 										<label class="margin-5px-bottom">유아(7세 이하)</label> <select -->
<!-- 											class="form-control padding-10px-tb" id="childCount" -->
<!-- 											name="childCount"> -->
<!-- 											<option value="0" selected>해당 없음</option> -->
<!-- 											<option value="1">1명</option> -->
<!-- 											<option value="2">2명</option> -->
<!-- 											<option value="3">3명</option> -->
<!-- 											<option value="4">4명</option> -->
<!-- 											<option value="5">5명</option> -->
<!-- 										</select> -->
<!-- 									</div> -->
									<button class="butn btn-block" type="button" id="searchBtn">
										<i class="fa fa-search"></i> Check
									</button>
								</form>
							</div>
							
							<script>
							// 페이징할 때 검색 정보 계속 가지고 있게
							 document.getElementById("searchBtn").onclick = function () {
							    
							  let checkIn = document.getElementsByName("checkIn")[0].value;
							  let checkOut = document.getElementsByName("checkOut")[0].value;
							  let hotelRegion =  document.getElementsByName("hotelRegion")[0].value;
							  let humanCount =  document.getElementsByName("humanCount")[0].value;
							  
							  location.href="hotelSearch?page=1"+"&checkIn="+checkIn+"&checkOut="+checkOut+"&hotelRegion="+hotelRegion+"&humanCount="+humanCount;
							  
							  console.log(checkIn)
							  console.log(hotelRegion)
							  console.log(humanCount)
							 };
							</script>
							
							<div class="widget">
								<div class="widget-title">
									<h3>Destination</h3>
								</div>
								<div class="price-range"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end tour grid section -->
	</div>
	<!-- 내용 끝 -->
</body>
</html>