<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<style type="text/css">
::-webkit-input-placeholder{color:#ccc;}
		::-moz-placeholder{color:#ccc;}
		:-ms-input-placeholder{color:#ccc;}

		body{background:#eee;}
		#wrap{margin:0 auto;}
		#wrap h1{padding:20px 0;border-bottom:2px solid #aaa;margin-bottom:40px;font-size:24px;color:#000000;text-align:center;}
		#wrap h1 span{font-size:14px;color:#000;}
		.home{background:#e93a84;right:10px;top:10px;margin-right:inherit;}

		.slider-price-wrap{margin:0 auto;width:240px;}
		.slider-price{position:relative;margin:0 auto;width:222px;height:2px;background:#41465c;}
		.slider-price .ui-slider-handle{position:absolute;top:-9px;width:18px;height:18px; margin-left:-9px;border-radius:50%;border:1px solid #41465c;background:#fff;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);outline:none;}
		.slider-price .ui-slider-range{position:absolute;height:2px;background:#41465c;}
		.slider-price-wrap .slider-result{margin-top:20px;width:240px;font-size:14px;}
		.slider-price-wrap .slider-result:after{content:"";display:block;clear:both;}
		.slider-price-wrap .slider-result .left{float:left;width:50%;}
		.slider-price-wrap .slider-result .right{float:right;width:50%;text-align:right;}
		.slider-price-wrap .slider-result .num{font-size:14px;color:#000000;width:inherit;}
		.slider-price-wrap .slider-result .right .num{text-align:right;}
		.slider-price-wrap .slider-result .unit{position:relative;top:4px;}
</style>
<body>
	<div layout:fragment="content" class="content">
	
	<!-- 페이징 -->
    <script th:inline="javascript">
   function gopage(page) { 
	   let searchInfo = [[${paging.SearchInfo}]];
	   location.href = "hotelSearch?page=" + page + searchInfo;
	   frmSearch.page.value = page;
	   frmSearch.submit();
	}

   </script>
   <!-- 페이징 끝-->
   
		<!-- start page title section -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background: url('img/banner/bg3.jpg')|">
			<div class="container">
				<h1 class="text-white font-weight-600">Hotel</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">Hotel</span></li>
				</ul>
			</div>
		</section>
		<!-- end page title section -->
	<!-- 각자 내용 -->
		<!-- start blog section -->
		<section>
			<div class="container">
				<p style="font-size: 30px;">검색 결과<p><hr>
				<div class="row">
					<div class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom blogs">
						<div class="row margin-30px-bottom">
							<div th:each="h : ${hotelList}"
								class="col-md-6 margin-30px-bottom">
								<div class="border border-radius-4 package h-100">
									<img th:src="${h.img1}"/>
									<div class="padding-30px-all">
										<div
											class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
											<div>
												<p style="font-size: 20px;" th:text="${h.hotelName}"
													class="no-margin-bottom font-size22">Bali</p>
												<span class="letter-spacing-2"> <span
													th:text="${h.hotelRegion}" class="ti-location-pin"></span></span>
											</div>
											<div>
												<span th:text="|₩${#numbers.formatInteger(h.roomPrice, 3, 'COMMA')}|"></span>
											</div>
										</div>
										<a th:href="@{/hotelDetail/{hotelId}(hotelId = ${h.hotelId}, checkIn=${paging.checkIn}, checkOut=${paging.checkOut}, hotelRegion=${paging.hotelRegion}, humanCount=${paging.humanCount}, childCount=${paging.childCount})}" class="butn">Details</a>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 페이징 버튼 -->
						<div
							class="pagination text-small text-uppercase text-extra-dark-gray gopage">
							<ul>
								<li th:if="${paging.startPage > 1}">
									<a href="javascript:void(0);" th:href="|javascript:gopage(${paging.startPage-1})|"><i
										class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i>
										</a></li>
								<li th:classappend="${paging.page}==${num} ? 'active'"
													th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}">
													<a th:href="|javascript:gopage(${num})|">[[${num}]]</a></li>
								<li th:if="${paging.endPage < paging.lastPage}"><a th:href="|javascript:gopage(${paging.endPage+1})|"> <i
										class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
							</ul>
						</div>
						<!-- 페이징 버튼 끝 -->
						
					</div>
					<div
						class="col-lg-4 col-md-12 padding-30px-left sm-padding-15px-left">
						<div class="side-bar">
							<div class="widget">
								<button class="butn btn-block" onClick="location.href='/hotelToday'">
									<i class="fa fa-search"></i> 오늘 예약 가능한 제주 호텔은?
								</button>
								<br><br>
								<hr>
								<div class="widget-title">
									<h3>Search</h3>
								</div>
								<form action="#!" method="post">
									<div class="form-group">
										<label class="margin-5px-bottom">checkin</label> <input
                                 type="date" th:value="${paging.checkIn}"
                                 class="form-control date no-margin-bottom padding-10px-tb"
                                 placeholder="체크인 날짜 선택" name="checkIn" id="checkIn">
                           </div>
                           <div class="form-group">
                              <label class="margin-5px-bottom">checkout</label> <input
                                 type="date" th:value="${paging.checkOut}"
                                 class="form-control date no-margin-bottom padding-10px-tb"
                                 placeholder="체크아웃 날짜 선택" name="checkOut" id="checkOut">
                           </div>
									
							<script>
                              $(function() {
                                 $(document).ready(function() {
         
                                    $('#checkIn').datepicker({
                                        dateFormat : "yy-mm-dd",
//                                       	monthNamesShort: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
                                        dayNamesMin:["일","월","화","수","목","금","토"],
                                      buttonImage: "images/btns.png", // 버튼 이미지
                                    buttonImageOnly : true,  
                                        minDate : '0',
                                        language : "ko",
                                        todayHighlight : true,
                                        autoclose : true
                                    }).on('changeDate', function(selected){
                                        var startDate = new Date(selected.date.valueOf());
                                        $('#checkOut').datepicker('setStartDate', startDate);
                                    });
         
                                    $('#checkOut').datepicker({
                                    	dateFormat : "yy-mm-dd",
                                    	minDate : '1',
                                        language : "ko",
                                        todayHighlight : true,
                                        autoclose : true
                                    }).on('changeDate', function(selected){
                                        var endDate = new Date(selected.date.valueOf());
                                        $('#checkIn').datepicker('setEndDate', endDate);
                                    });
                                    
                                    
                                 });
         
                              });
                           </script>
									<div class="form-group">
										<label class="margin-5px-bottom">지역</label> <select
											class="form-control padding-10px-tb"
											id="hotelRegion" name="hotelRegion">
											<option selected>지역 선택</option>
											<option th:value="서울" th:selected="${paging.hotelRegion eq '서울'}">서울</option>
											<option th:value="부산" th:selected="${paging.hotelRegion eq '부산'}">부산</option>
											<option th:value="대구" th:selected="${paging.hotelRegion eq '대구'}">대구</option>
											<option th:value="인천" th:selected="${paging.hotelRegion eq '인천'}">인천</option>
											<option th:value="대전" th:selected="${paging.hotelRegion eq '대전'}">대전</option>
											<option th:value="울산" th:selected="${paging.hotelRegion eq '울산'}">울산</option>
											<option th:value="제주" th:selected="${paging.hotelRegion eq '제주'}">제주</option>
										</select>
									</div>
									<div class="form-group margin-30px-bottom">
										<label class="margin-5px-bottom">성인</label> <select
											class="form-control padding-10px-tb" id="humanCount"
											name="humanCount">
											<option th:value="1" th:selected="${paging.humanCount eq '1'}">1명</option>
											<option th:value="2" th:selected="${paging.humanCount eq '2'}">2명</option>
											<option th:value="3" th:selected="${paging.humanCount eq '3'}">3명</option>
											<option th:value="4" th:selected="${paging.humanCount eq '4'}">4명</option>
											<option th:value="5" th:selected="${paging.humanCount eq '5'}">5명</option>
										</select>
									</div>
									<div class="form-group margin-30px-bottom">
										<label class="margin-5px-bottom">유아(7세 이하)</label> <select
											class="form-control padding-10px-tb" id="childCount"
											name="childCount">
											<option value="0" selected>해당 없음</option>
											<option th:value="1" th:selected="${paging.childCount eq '1'}">1명</option>
											<option th:value="2" th:selected="${paging.childCount eq '2'}">2명</option>
											<option th:value="3" th:selected="${paging.childCount eq '3'}">3명</option>
											<option th:value="4" th:selected="${paging.childCount eq '4'}">4명</option>
											<option th:value="5" th:selected="${paging.childCount eq '5'}">5명</option>
										</select>
									</div>
									<!-- 가격 범위 검색 -->
									<div id="wrap">
										<div class="slider-price-wrap">
											<div id="priceRangeSet" class="slider-price"></div><br>
											<div class="slider-result"  style="margin-bottom: 20px;">
												<span class="left">
													<input type="text" th:value="${paging.priceRangeMin}" class="num col-md-4" id="priceRangeMin" name="priceRangeMin" style="ime-mode:disabled;" onkeypress="txtOnlyNum(event)" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"  />
													<span class="unit">원 ~ </span>
												</span>
												<span class="right">
													<input type="text" th:value="${paging.priceRangeMax}" class="num col-md-4" id="priceRangeMax" name="priceRangeMax" style="ime-mode:disabled;" onkeypress="txtOnlyNum(event)" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"  />
													<span class="unit">원</span>
												</span>
											</div>
										</div><!-- // slider-price-wrap -->
							
									</div>
									<!-- // wrap -->
									<button class="butn btn-block" type="button" id="searchBtn">
										<i class="fa fa-search"></i> Check
									</button>
								</form>
							</div>
							
														<script>
							// 페이징할 때 검색 정보 계속 가지고 있게
							 document.getElementById("searchBtn").onclick = function () {
							    
							  let checkIn = document.getElementsByName("checkIn")[0].value;
							  let checkOut = document.getElementsByName("checkOut")[0].value;
							  let hotelRegion =  document.getElementsByName("hotelRegion")[0].value;
							  let humanCount =  document.getElementsByName("humanCount")[0].value;
							  let childCount =  document.getElementsByName("childCount")[0].value;
							  let priceRangeMin = (document.getElementsByName("priceRangeMin")[0].value).replace(/,/g,''); // replace함수 이용하여 모든 ,를 제거
							  let priceRangeMax = (document.getElementsByName("priceRangeMax")[0].value).replace(/,/g,'');
							  
							  location.href="hotelSearch?page=1"+"&checkIn="+checkIn+"&checkOut="+checkOut+
									  "&hotelRegion="+hotelRegion+"&humanCount="+humanCount+"&childCount="+childCount
									  +"&priceRangeMin="+priceRangeMin+"&priceRangeMax="+priceRangeMax;
							 };
							 
							 var numberSetComma = function(val){
								 while (/(\d+)(\d{3})/ .test(val.toString())){
									val = val.toString().replace( /(\d+)(\d{3})/, '$1' + ',' + '$2' );
								 }
								 return val;
								};
								var numberDelComma = function(val){
								 return parseInt(val.replace(/,/g, ""));
								};
								var txtOnlyNum = function(e){
									var keycode = (window.netscape) ? e.which : e.keyCode;
									if(!(keycode == 0 || keycode == 8 ||(keycode >=48 && keycode <= 57 ))){
										if(window.netscape){
											e.preventDefault();
										}else{
											e.returnValue = false;
										}
									}
								}
								var initPriceRange = function(minVal,maxVal){
									//슬라이더 init
									var priceRS = $("#priceRangeSet");
									var priceRMax = $("#priceRangeMax");
									var priceRMin = $("#priceRangeMin");

									priceRS.slider({
										range: true,
										min: minVal,
										max: maxVal,
										values: [ minVal, maxVal ],
										slide: function( event, ui ) {
											priceRMin.val(numberSetComma(ui.values[0]));
											priceRMax.val(numberSetComma(ui.values[1]));
										}
									});
									//텍스트 폼에 최초 최대값 세팅
									priceRMin.val(numberSetComma(priceRS.slider( "values", 0 ))).attr("title","가격 최소값(숫자만 입력 가능, " + numberSetComma(priceRS.slider( "values", 0 )) + " 이상)");
									priceRMax.val(numberSetComma(priceRS.slider( "values", 1 ))).attr("title","가격 최대값(숫자만 입력 가능, " + numberSetComma(priceRS.slider( "values", 1 )) + " 이하)");

									//접근성 처리를 위한 텍스트 폼과 slider UI 연동
									priceRMin.bind({
										keyup : function(){
											if($(this).val().length > 0){
												$(this).val(numberSetComma(numberDelComma($(this).val())));
											}
										},
										blur : function(){
											var originNum = numberDelComma($(this).val());
											var maxFormVal = numberDelComma(priceRMax.val());
											if(originNum < minVal){
												swal("","최소 기준가격은  " + numberSetComma(minVal) + "원 입니다. 최소 기준가격 이상으로 입력해주세요.","error");
												$(this).val(numberSetComma(minVal));
												$(this).focus();
											}
											if(originNum >= maxFormVal){
												swal("","가격 검색 시작값이 끝값보다 크거나 같습니다. 끝값인 " + priceRMax.val() + "보다 작은 값을 입력해주세요.","error");
												$(this).val(numberSetComma(minVal));
												$(this).focus();
											}
											priceRS.slider({values : [numberDelComma(priceRMin.val()), numberDelComma(priceRMax.val())]});
										}
									});
									priceRMax.bind({
										keyup : function(){
											if($(this).val().length > 0){
												$(this).val(numberSetComma(numberDelComma($(this).val())));
											}
										},
										blur : function(){
											var originNum = numberDelComma($(this).val());
											var minFormVal = numberDelComma(priceRMin.val());
											if(originNum > maxVal){
												swal("","최대 기준가격은  " + numberSetComma(maxVal) + "원 입니다. 최대 기준가격 이하로 입력해주세요.","error");
												$(this).val(numberSetComma(maxVal));
												$(this).focus();
											}
											if(originNum <= minFormVal){
												swal("","가격 검색 끝값이 시작값보다 작거나 같습니다. 시작값인 " + priceRMin.val() + "보다 큰 값을 입력해주세요.","error");
												$(this).val(numberSetComma(maxVal));
												$(this).focus();
											}
											priceRS.slider({values : [numberDelComma(priceRMin.val()), numberDelComma(priceRMax.val())]});
										}
									});
								};

								$(function(){
									initPriceRange([[${paging.priceRangeMin}]],[[${paging.priceRangeMax}]]); //로드시 혹은 로드 후 리스팅된 상품가격의 최소 최대값
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end tour grid section -->
	</div>
	<!-- 내용 끝 -->
</body>
</html>