<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">


<body>
	<!-- 각자 내용 -->
	<div layout:fragment="content" class="content">
<!--좋아요 버튼 css-->
<style>
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.right_area .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100vw * ( 45/ 1920));
	height: calc(100vw * ( 45/ 1920));
	border-radius: 50%;
	border: solid 2px #eaeaea;
	background-color: #fff;
	
}

.icon.heart img {
	width: calc(100vw * ( 24/ 1920));
	height: calc(100vw * ( 24/ 1920));
	 
}

.icon.heart.fas {
	color: red
}

.heart {
	transform-origin: center;
	
}

.heart.active img {
	animation: animateHeart .3s linear forwards;
}

@keyframes animateHeart { 0%{
	transform: scale(.2);
}
40%
{
transform:scale(1.2);
}
100%
{
transform:scale(1);
}
}
#greatBtn{
position: absolute;
     left: 700px;
      top: 50px;
}
</style>
<!--좋아요 버튼 css-종료-->	
	
	
	
		<!-- start page title section -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background: url('/img/banner/bg3.jpg')|">
			<div class="container">
				<h1 class="text-white font-weight-600">Hotel</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">Hotel</span></li>
				</ul>
			</div>
		</section>
		<!-- end page title section -->
		<!-- start tour details section -->
		<section>
			<div class="container">
				<div class="row">
					<div
						class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom blogs">
						<div class="posts">
							<!--  start post-->
							<div class="post">
								<div class="content">
									<div class="blog-list-simple-text post-meta margin-20px-bottom">
										<div class="post-title margin-20px-bottom">
											<h5 th:text="${h.hotelName}"></h5>
											<div class="right_area" id="greatBtn">
						<!--좋아요 버튼 기능html-->
												<button type="button" class="icon heart">
													<img src="https://cdn-icons-png.flaticon.com/512/812/812327.png" id="greatImg">
												</button>
											</div>
						<!--좋아요 버튼 기능html 종료-->					
										</div>

									</div>
									<div
										class="row margin-40px-bottom border-bottom padding-30px-bottom">
										<div class="col-md-6">
											<p class="margin-10px-bottom text-extra-dark-gray">
												<span class="ti-time text-theme-color margin-10px-right"></span>
												<a th:text="${h.star}"></a>

											</p>
											<p
												class="no-margin-bottom xs-margin-10px-bottom text-extra-dark-gray">
												<span class="ti-stamp text-theme-color margin-10px-right"></span>Min
												Age: 15+
											</p>
										</div>
										<div class="col-md-6">
											<p class="margin-10px-bottom text-extra-dark-gray">
												<span class="ti-user text-theme-color margin-10px-right"></span>
												최대수용인원 : <a th:text="${h.roomLimit}"></a>명

											</p>
											<p class="no-margin-bottom text-extra-dark-gray">
												<span
													class="ti-location-pin text-theme-color margin-10px-right"></span>
												<a th:text="${h.hotelRegion}">서울</a>
											</p>

										</div>
									</div>
									<div class="margin-40px-bottom">
										<!-- 										<h5>Information</h5> -->
										<!-- 										<p th:text="${h.hotelInfo}" class="margin-30px-bottom">It is a long established -->
										<!-- 											fact that a reader will be distracted by the readable content -->
										<!-- 											of a page when looking at its layout. The point of using -->
										<!-- 											Lorem Ipsum is that it has a more-or-less normal distribution -->
										<!-- 											of letters, as opposed to using 'Content here, content here', -->
										<!-- 											making it look like readable English. Many desktop publishing -->
										<!-- 											packages and web page editors now use Lorem Ipsum as their.</p> -->
										<div class="owl-carousel owl-theme tour">
											<div>
												<img th:src="${h.img1}" class="border-radius-4" alt="" />
											</div>
											<div>
												<img th:src="${h.img4}" class="border-radius-4" alt="" />
											</div>
											<div>
												<img th:src="${h.img5}" class="border-radius-4" alt="" />
											</div>
										</div>
									</div>
									<div>
										<ul class="tour-inner">
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">Room Type</h6>
													</div>
													<div>
														<p th:text="${h.roomGrade}"
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">Kathmandu
															International Airport</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">check In</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">오후
															3시</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">check Out</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">오전
															11시</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">Address</h6>
													</div>
													<div>
														<p th:text="${h.hotelAddr}"
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">서울</p>
													</div>
												</div>

											</li>
											<li>
												<div class="row">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">Price
															Includes</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">
															<span class="ti-check text-info margin-5px-right"></span>Accommondatio
														</p>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">
															<span class="ti-check text-info margin-5px-right"></span>Porter
															& Personal Guide
														</p>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">
															<span class="ti-check text-info margin-5px-right"></span>Insurance
														</p>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">
															<span class="ti-check text-info margin-5px-right"></span>Breakfast
														</p>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">
															<span class="ti-check text-info margin-5px-right"></span>Tranportation
															/ Car
														</p>
													</div>
												</div>
											</li>
											<li class="border-bottom">
												<div class="row">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">Price
															Includes</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">
															<span
																class="ti-close text-danger font-size12 margin-5px-right"></span>Flights
														</p>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">
															<span
																class="ti-close text-danger font-size12 margin-5px-right"></span>Lunch
														</p>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">
															<span
																class="ti-close text-danger font-size12 margin-5px-right"></span>Typical
															Souvenir
														</p>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">
															<span
																class="ti-close text-danger font-size12 margin-5px-right"></span>Sunscreen
															and personal items
														</p>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="margin-30px-top">
										<div id="map" class="map-height"></div>
									</div>
								</div>
							</div>
							<!--post-->
						</div>
					</div>
					<div
						class="col-lg-4 col-md-12 padding-30px-left sm-padding-15px-left">
						<div class="side-bar">
							<div class="widget">
								<div class="widget-title">
									<h3>Reservation</h3>
								</div>
								<form action="/reservation" method="post">
                           <div class="form-group">
                              <label class="margin-5px-bottom">checkin</label> <input
                                 type="text"
                                 class="form-control date no-margin-bottom padding-10px-tb"
                                 placeholder="체크인 날짜 선택" name="checkIn" id="checkIn">
                           </div>
                           <div class="form-group">
                              <label class="margin-5px-bottom">checkout</label> <input
                                 type="text"
                                 class="form-control date no-margin-bottom padding-10px-tb"
                                 placeholder="체크아웃 날짜 선택" name="checkOut" id="checkOut">
                           </div>
                           <script>
                              $(function() {
                                 $(document).ready(function() {
         
                                    $('#checkIn').datepicker({
                                        format : "yyyy-mm-dd",
                                        startDate : '0d',
                                        language : "ko",
                                        todayHighlight : true,
                                        autoclose : true
                                    }).on('changeDate', function(selected){
                                        var startDate = new Date(selected.date.valueOf());
                                        $('#checkOut').datepicker('setStartDate', startDate);
                                    });
         
                                    $('#checkOut').datepicker({
                                        format : "yyyy-mm-dd",
                                        language : "ko",
                                        todayHighlight : true,
                                        autoclose : true
                                    }).on('changeDate', function(selected){
                                        var endDate = new Date(selected.date.valueOf());
                                        $('#checkIn').datepicker('setEndDate', endDate);
                                    });
                                    
                                    
                                 });
         
                              });
                           </script>
									<div class="form-group margin-30px-bottom">
										<label class="margin-5px-bottom">성인</label> <select
											class="form-control padding-10px-tb" id="humanCount"
											name="humanCount">
											<option value="1">1명</option>
											<option value="2" selected>2명</option>
											<option value="3">3명</option>
											<option value="4">4명</option>
											<option value="5">5명</option>
										</select>
									</div>
									<div class="form-group margin-30px-bottom">
										<label class="margin-5px-bottom">유아(7세 이하)</label> <select
											class="form-control padding-10px-tb" id="childCount"
											name="childCount">
											<option value="0" selected>해당 없음</option>
											<option value="1">1명</option>
											<option value="2">2명</option>
											<option value="3">3명</option>
											<option value="4">4명</option>
											<option value="5">5명</option>
										</select>
									</div>
									<button class="butn btn-block" type="submit">
										<i class="fa fa-search"></i> 예약하기
									</button>
									<input type="hidden" id="hotelId" name="hotelId"
										th:value="${h.hotelId}">
								</form>
							</div>
						</div>
					</div>
				</div>

				<script>
				
				//좋아요 기능 시작

				//회원 좋아요 있는지 여부 확인 
				$(document).ready(function(){
					getGreat()
				})
				
				var id = ('user4');
				var greatNcode = window.location.pathname.split("/").pop(); //상세페이지 번호
				var greatFlag = ("HT");  //호텔 구분
				var $likeBtn = $('.heart'); //하트버튼 id값
				
				
				var greatVO = {
					    id: id,
					    greatFlag: greatFlag,
					    greatNcode: greatNcode
					};
				
				//회원 좋아요 있는지 여부 확인 
				function getGreat(){
				$.ajax({
				  url: "/greatCheck/"  + greatNcode +"/"+ id,
				  data: greatVO
				}).then(function(result) { 
				  if (result) { // greatCheck 메서드에서 반환된 값이 true/false이므로, result로 바로 사용 가능
				    $likeBtn.addClass("active")
				    .find("img").attr({
				      src: "https://cdn-icons-png.flaticon.com/512/803/803087.png", 
				    })
				  } else {
				    $likeBtn.removeClass("active")
				    .find("img").attr({
				      src: "https://cdn-icons-png.flaticon.com/512/812/812327.png",
				    })
				    
				  }

				});
				}

				$(function() {
					  $likeBtn.click(function() {
					    if (!$likeBtn.hasClass('active')) {
					      $(this).find('img').attr({
					        'src': 'https://cdn-icons-png.flaticon.com/512/803/803087.png',
					        alt: '좋아요 꽉찬거'
					      });
					      great(); //좋아요 함수 호출 
					    } else {
					      $(this).find('i').removeClass('active');
					      $(this).find('img').attr({
					        'src': 'https://cdn-icons-png.flaticon.com/512/812/812327.png',
					        alt: '좋아요 안한거'
					      });
					      greatDown(); //좋아요 취소 호출 
					    }
					  });
					});


			  
				//좋아요 클릭시 효과 
				 function great() {
				  $.ajax({
				    url: "/greatUP/" + greatNcode,
				    type: "POST",
				    data: greatVO,
				    success: function(result) {
				      alert(result.message);
				      getGreat(); //회원 확인 여부 호출
				    },
				    error: function() {
				      alert("좋아요를 누르는 중 오류가 발생했습니다.");
				      getGreat(); //회원 확인 여부 호출
				    }
				  });
				  console.log(greatVO);
				}

				//좋아요 취소시 효과 기능 
				function greatDown(){
				      $.ajax({
				        url: "/greatDown/" + greatFlag + "/" + greatNcode + "/" + id,
				        type: "POST",
				        data: greatVO,
				        success: function(result) {
				          alert(result.message);
				          getGreat(); //회원 확인 여부 호출
				        },
				        error: function() {
				          alert("좋아요 취소 중 오류가 발생했습니다.");
				        }
				          });
				    } 
				</script>
				
			</div>
		</section>
		<!-- end tour details section -->
	</div>
	
</body>
</html>