<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<body>
	<div layout:fragment="content" class="content">
		<!-- start page title section -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background: url('img/banner/bg3.jpg')|">
			<div class="container">
				<h1 class="text-white font-weight-600">Hotel</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">Hotel</span></li>
				</ul>
			</div>
		</section>
		<!-- end page title section -->
		<!-- 각자 내용 -->
		<div class="container">
			<div id="main-wrapper">

				<div class="row">
					<div class="col-md-12">
						<div class="row margin-40px-bottom">
							<div class="col-md-12">
								<div class="row">
									<div
										class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom blogs">
										<div class="posts">
											<!--  start post-->
											<div class="post">
												<div class="content">
													<p style="font-size: 30px;">나의 예약내역</p>
														<div th:each="r : ${res}">
															<ul class="tour-inner">
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">예약번호</h6>
																		</div>
																		<div>
																			<p th:text="${r.resId}"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">호텔명</h6>
																		</div>
																		<div>
																			<p th:text="${r.hotelName}"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">방 등급</h6>
																		</div>
																		<div>
																			<p th:text="${r.roomGrade}"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">숙박일자</h6>
																		</div>
																		<div>
																			<p
																				th:text="|${#dates.format(r.checkIn, 'yyyy년 MM월 dd일')} ~
																			${#dates.format(r.checkOut, 'yyyy년 MM월 dd일')}|"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">오후
																				3시</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">인원</h6>
																		</div>
																		<div>
																			<p
																				th:text="|성인 ${r.humanCount}명, 유아 ${r.childCount}명|"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">디럭스</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">예약자명</h6>
																		</div>
																		<div>
																			<p th:text="${r.resName}" id="resName"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"></p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">예약자
																				전화번호</h6>
																		</div>
																		<div>
																			<p th:text="${r.resTel}" id="resTel"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">서울</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">예약자 이메일</h6>
																		</div>
																		<div>
																			<p th:text="${r.resEmail}" id="resEmail"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">디럭스</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">예약상태</h6>
																		</div>
																		<div>
																			<p th:text="${r.resState}" id="resEmail"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">디럭스</p>
																		</div>
																	</div>
																</li>
																<li>
																	<div class="row align-items-center">
																		<div class="col-md-6">
																			<h6 class="font-size17 no-margin-bottom">요청사항</h6>
																		</div>
																		<div>
																			<p th:text="${r.resRequest}" id="resRequest"
																				class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">디럭스</p>
																		</div>
																	</div>
																</li>
															</ul>
															<button class="butn updatebtn" type="button">예약자
																정보수정</button>
															<button class="butn cancelbtn" type="button">예약
																취소</button>
															<!-- 버튼에 이벤트 걸기. 참고 : reservation.html -->
														</div>
													</form>
												</div>
												<script th:inline="javascript">
													// 예약 취소
													$(".cancelbtn").on('click', function(e){
														var result = confirm("예약을 취소하시겠습니까?");
															if(result == true){
	// 														console.log($.trim($(e.target).parent().find('li:nth-child(1)').children().children('div:eq(1)').text()))
// 															console.log($.trim($(e.target).parent().find('li:nth-child(6)').children().children('div:eq(1)').text()))
															let resId = $.trim($(e.target).parent().find('li:nth-child(1)').children().children('div:eq(1)').text());
															let resName = $.trim($(e.target).parent().find('li:nth-child(6)').children().children('div:eq(1)').text());
															let resTel = $.trim($(e.target).parent().find('li:nth-child(7)').children().children('div:eq(1)').text());
															let resEmail = $.trim($(e.target).parent().find('li:nth-child(8)').children().children('div:eq(1)').text());
															let resRequest = $.trim($(e.target).parent().find('li:nth-child(9)').children().children('div:eq(1)').text());
															
															$.ajax({
																url : "/cancel",
																type : "POST",
																data : JSON.stringify(
																	{
																		"resId": resId,
																		"resName": resName,
																		"resTel": resTel,
																		"resEmail": resEmail,
																		"resRequest": resRequest,
																	}
																),
																contentType:'application/json',
																success : function(result){
																	if(result == "y") {
																		alert("예약이 취소되었습니다.");
																	}else{
																		alert("디비입력실패");
																		return false;
																	}
																},
																error : function(a,b,c){}
															});
															}else{
																return false;
															}
													})
													
													//
													$(".updatebtn").on('click', function(e){
														var result = confirm("예약자 정보를 수정하시겠습니까?");
													
															if(result == true){
																let resId = $.trim($(e.target).parent().find('li:nth-child(1)').children().children('div:eq(1)').text());
																let resName = $.trim($(e.target).parent().find('li:nth-child(6)').children().children('div:eq(1)').text());
																let resTel = $.trim($(e.target).parent().find('li:nth-child(7)').children().children('div:eq(1)').text());
																let resEmail = $.trim($(e.target).parent().find('li:nth-child(8)').children().children('div:eq(1)').text());
																let resRequest = $.trim($(e.target).parent().find('li:nth-child(9)').children().children('div:eq(1)').text());
																	
																$(e.target).parent().find('li:nth-child(6)').children().children('div:eq(1)').remove();
																$(e.target).parent().find('li:nth-child(6)').children().children().append("<input></input>");
																// 이거 지금 안됨 고쳐야됨 하..............
																// 이거 지금 안됨 고쳐야됨 하..............
																// 이거 지금 안됨 고쳐야됨 하..............
																// 이거 지금 안됨 고쳐야됨 하..............
																// 이거 지금 안됨 고쳐야됨 하..............
																$(e.target).parent().find('li:nth-child(6)').children().children('div:eq(1)').attr('id','resName'); // 이거 지금 안됨 고쳐야됨 하..............
																$(e.target).parent().find('li:nth-child(6)').children().children('div:eq(1)').attr('value',resName); // 하.........
																
																
																$(e.target).parent().find('li:nth-child(7)').children().children('div:eq(1)').remove();
																$(e.target).parent().find('li:nth-child(7)').children().children().append("<input></input>");
																$(e.target).parent().find('li:nth-child(8)').children().children('div:eq(1)').remove();
																$(e.target).parent().find('li:nth-child(8)').children().children().append("<input></input>");
																$(e.target).parent().find('li:nth-child(9)').children().children('div:eq(1)').remove();
																$(e.target).parent().find('li:nth-child(9)').children().children().append("<input></input>");
																
																
																
	// 														console.log($.trim($(e.target).parent().find('li:nth-child(1)').children().children('div:eq(1)').text()))
// 															console.log($.trim($(e.target).parent().find('li:nth-child(6)').children().children('div:eq(1)').text()))

															
// 															$.ajax({
// 																url : "/updateInfo",
// 																type : "POST",
// 																data : JSON.stringify(
// 																	{
// 																		"resId": resId,
// 																		"resName": resName,
// 																		"resTel": resTel,
// 																		"resEmail": resEmail,
// 																		"resRequest": resRequest,
// 																	}
// 																),
// 																contentType:'application/json',
// 																success : function(result){
// 																	if(result == "y") {
// 																		alert("예약이 취소되었습니다.");
// 																	}else{
// 																		alert("디비입력실패");
// 																		return false;
// 																	}
// 																},
// 																error : function(a,b,c){}
// 															});
															}else{
																return false;
															}
													})
												</script>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>