<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
   
	<!-- 뭐야.. CSS -->
	<th:block layout:fragment="head" th:include="@{head}"></th:block>
    <!-- 뭐야.. CSS 끝 -->
    
    
    <body>
    
    	<!-- 헤더 시작 -->
        <th:block layout:fragment="header" th:include="@{header}"></th:block>
		<!-- 헤더 끝 -->
		
		<!-- 배너 시작 -->
		<!--         <banner th:replace="~{banner ::banner }"></banner> -->
		<th:block layout:fragment="banner" th:include="@{banner}"></th:block>
        <!-- 배너 끝 -->
        
        <!-- 각자 내용 -->
        <div layout:fragment="content" class="content">
            
		












        </div>
        <!-- 내용 끝 -->
        
        <!-- 푸터 시작 -->
        <th:block layout:fragment="footer" th:include="@{footer}"></th:block>
        <!-- 푸터 끝 -->
 
    </body>
</html>