<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 뭐야.. CSS -->
	<th:block layout:fragment="head" th:include="@{head}"></th:block>
    <!-- 뭐야.. CSS 끝 -->



    <body>

    	<!-- 헤더 시작 -->
        <th:block layout:fragment="header" th:include="@{header}"></th:block>
		<!-- 헤더 끝 -->

		<!-- 배너 시작 -->
		<!--         <banner th:replace="~{banner ::banner }"></banner> -->
		<section class="bg-img screen-height cover-background line-banner" data-overlay-dark="2" data-background="img/banner/bg3.jpg">

            <!-- start banner text -->
            <div class="header-text">
                <div class="container">
                    <div class="text-center">

                        <!-- start banner headline text -->
                        <h1 class="cd-headline slide">
                            Walking Holiday
                        </h1>
                        <!-- end banner headline text -->
                    </div>
                </div>
            </div>
            
            <!-- end banner text -->

        </section>
        <!-- 배너 끝 -->

        <!-- 각자 내용 -->
        <div layout:fragment="content" class="content">
            <!-- Start popular destination Section -->
        <section>
            <div class="container" align="center">
<!--                 <div class="row"> -->
<!--                     <div class="col-md-5 margin-30px-top xs-no-margin-top xs-margin-30px-bottom"> -->
<!--                         <div class="destination padding-50px-right xs-no-padding-right"> -->
<!--                             <div class="input-group"> -->
<!--                                 <div class="input-group-append"> -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<div>
                    <div class="col-md-7 text-center">
                        <div class="owl-carousel owl-theme" id="destination">
                            <div>
                                <img src="img/content/destination-1.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">Argentina</h5>
                                    <p class="no-margin-bottom">12 Tours Available</p>
                                </div>
                            </div>
                            <div class="margin-30px-top xs-no-margin-top">
                                <img src="img/content/destination-2.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">Slovenia</h5>
                                    <p class="no-margin-bottom">10 Tours Available</p>
                                </div>
                            </div>
                            <div>
                                <img src="img/content/destination-3.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">Maldives</h5>
                                    <p class="no-margin-bottom">4 Tours Available</p>
                                </div>
                            </div>
                            <div class="margin-30px-top xs-no-margin-top">
                                <img src="img/content/destination-4.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">Madrid</h5>
                                    <p class="no-margin-bottom">5 Tours Available</p>
                                </div>
                            </div>
                            <div>
                                <img src="img/content/destination-5.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">New York</h5>
                                    <p class="no-margin-bottom">8 Tours Available</p>
                                </div>
                            </div>
                            <div class="margin-30px-top xs-no-margin-top">
                                <img src="img/content/destination-6.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">Bali</h5>
                                    <p class="no-margin-bottom">2 Tours Available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End  popular destination Section -->

        <!-- start packages section -->
        <section>
            <div class="container">
                <div class="text-center margin-40px-bottom">
                    <h3 class="margin-10px-bottom position-relative">인기 여행지????</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 sm-margin-30px-bottom">
                        <div class="border border-radius-4 package h-100">
                            <img src="img/content/package-1.jpg" alt="" />
                            <div class="padding-30px-all">
                                <div class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
                                    <div>
                                        <h5 class="no-margin-bottom font-size22">Bali</h5>
                                        <span class="letter-spacing-2"><span class="ti-location-pin"></span> Indonesia</span>
                                    </div>
                                    <div>
                                        <span class="font-size30 text-dark">549$</span>
                                    </div>
                                </div>
                                <p class="margin-30px-bottom">Lorem ipsum dolor sit amet, elit consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibu.</p>
                                <a href="tour-detail.html" class="butn">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 sm-margin-30px-bottom">
                        <div class="border border-radius-4 package h-100">
                            <img src="img/content/package-2.jpg" alt="" />
                            <div class="padding-30px-all">
                                <div class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
                                    <div>
                                        <h5 class="no-margin-bottom font-size22">New York</h5>
                                        <span class="letter-spacing-2"><span class="ti-location-pin"></span> USA</span>
                                    </div>
                                    <div>
                                        <span class="font-size30 text-dark">769$</span>
                                    </div>
                                </div>
                                <p class="margin-30px-bottom">It is a long established fact that a reader will be distracted by the readable content of a page when.</p>
                                <a href="tour-detail.html" class="butn">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="border border-radius-4 package h-100">
                            <img src="img/content/package-3.jpg" alt="" />
                            <div class="padding-30px-all">
                                <div class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
                                    <div>
                                        <h5 class="no-margin-bottom font-size22">Tokio</h5>
                                        <span class="letter-spacing-2"><span class="ti-location-pin"></span> Japan</span>
                                    </div>
                                    <div>
                                        <span class="font-size30 text-dark">899$</span>
                                    </div>
                                </div>
                                <p class="margin-30px-bottom">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                                <a href="tour-detail.html" class="butn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end packages section -->

        <!-- start other section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 xs-margin-30px-bottom">
                        <div class="bg-img padding-100px-tb border-radius-4 cover-background text-center h-100" Data-overlay-dark="3" data-background="img/content/01.jpg">
                            <div class="position-relative z-index-9">
                                <span class="text-white font-size16">01. Last Minute</span>
                                <h4 class="text-white margin-20px-top font-size38 xs-font-size34 margin-30px-bottom">Discover Cities</h4>
                                <a href="#" class="butn white">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bg-img padding-100px-tb border-radius-4 cover-background text-center h-100" data-overlay-dark="4" data-background="img/content/02.jpg">
                            <div class="position-relative z-index-9">
                                <span class="text-white font-size16">02. Last Minute</span>
                                <h4 class="text-white margin-20px-top font-size38 xs-font-size34 margin-30px-bottom">Discover Nature</h4>
                                <a href="#" class="butn white">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end other section -->
        </div>
        <!-- 내용 끝 -->

        <!-- 푸터 시작 -->
        <th:block layout:fragment="footer" th:include="@{footer}"></th:block>
        <!-- 푸터 끝 -->

    </body>
</html>