<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<!-- 뭐야.. CSS -->
<th:block layout:fragment="head" th:include="@{head}"></th:block>
<!-- 뭐야.. CSS 끝 -->


<body>

	<!-- 헤더 시작 -->
	<th:block layout:fragment="header" th:include="@{header}"></th:block>
	<!-- 헤더 끝 -->

	<!-- 배너 시작 -->
	<!--         <banner th:replace="~{banner ::banner }"></banner> -->
	<th:block layout:fragment="banner2" th:include="@{banner2}"></th:block>
	<!-- 배너 끝 -->

	<!-- 각자 내용 -->
	<div class="container">
	<div layout:fragment="content" class="content">

		<div class="card d-flex flex-row align-items-center overflow-hidden"
			style="height: 200px;" th:each="c : ${companionList}">
			<div class="card-image w-25 ">
				<img class="card-img-top h-auto" src="img/banner/bg4.jpg">
			</div>
			<div class="card-body">
				<!-- el표현식은 변수명을 적으면 자동으로 get함수를 호출해준다. -->
				<h4 class="card-title">
				<p th:text="${c.compTitle}"></p>
				</h4>
					인원수 : <td th:text="${c.compCount}"></td>	<br>
					그룹유형 : <td th:text="${c.compGroup}"></td><br>
					여행기간 : <td th:text="${c.compStartDate}"></td> ~ <td th:text="${c.compEndDate}"></td><br>

					

				<a href="/board/${board.id}" class="btn btn-primary">상세보기</a>
			</div>
		</div>
		
		<button class="btn btn-danger"><a href="companionForm">신청하기</a></button>
		





	</div>
	</div>
	<!-- 내용 끝 -->

	<!-- 푸터 시작 -->
	<th:block layout:fragment="footer" th:include="@{footer}"></th:block>
	<!-- 푸터 끝 -->

</body>
</html>