<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<!-- 뭐야.. CSS -->
<th:block layout:fragment="head" th:include="@{head}"></th:block>
<!-- 뭐야.. CSS 끝 -->

<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
<script>
// 	$(function() {
// 		$(".btnInfo").on("click", function() {
// 			//클릭한 버튼이 있는 행의 employeeId를 가져오자
// 			let compCode = $(this).closest("tr").children().first().text();
// 			location.href = "companionDetail?compCode="+compCode


// 		})

// 	});
$(function() {
		$(".btnInfo").on("click", function() {
			//클릭한 버튼이 있는 행의 employeeId를 가져오자
			let compCode = $(this).closest("tr").children().first().text();
			location.href = "companionDetail?compCode="+compCode


		})

	});
</script>
<body>

	<!-- 헤더 시작 -->
	<th:block layout:fragment="header" th:include="@{header}"></th:block>
	<!-- 헤더 끝 -->

	<!-- 배너 시작 -->
	<!--         <banner th:replace="~{banner ::banner }"></banner> -->
	<th:block layout:fragment="banner2" th:include="@{banner2}"></th:block>
	<!-- 배너 끝 -->

	<!-- 각자 내용 -->
	<div class="container">
		<div layout:fragment="content" class="content">

			<div class="card d-flex flex-row align-items-center overflow-hidden"
				style="height: 200px;" th:each="c : ${companionList}">
				<div class="card-image w-25 ">
					<img class="card-img-top h-auto" src="img/banner/bg4.jpg">
				</div>
				<div class="card-body">
					<!-- el표현식은 변수명을 적으면 자동으로 get함수를 호출해준다. -->
					<h4 class="card-title">[[${c.compTitle}]]</h4>
					인원수 : <span th:text="${c.compCount}"></span> <br> 그룹유형 : <span
						th:text="${c.compGroup}"></span><br> 여행기간 : <span
						th:text="${c.compStartDate}"></span> ~ <span
						th:text="${c.compEndDate}"></span><br> <a
						href="companionDetail" class="btn btn-primary">상세보기</a>
				</div>
			</div>

			<button class="btn btn-danger">
				<a href="companionForm">신청하기</a>
			</button>

			<table class="table">
				<thead>
					<tr>

					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${companionList}">
						<td th:text="${c.compCode}"></td>
						<td th:text="${c.compCount}"></td>
						<td th:text="${c.compGroup}"></td>
						<td th:text="${c.compStartDate}"></td>
						<td>
							<button type="button" class="btnInfo">조회</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>




	</div>
	</div>
	<!-- 내용 끝 -->

	<!-- 푸터 시작 -->
	<th:block layout:fragment="footer" th:include="@{footer}"></th:block>
	<!-- 푸터 끝 -->

</body>
</html>