<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>


<body>

	<!-- 내용 시작 -->
	<div layout:fragment="content" class="content">

		<!-- 배너시작 -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background:url(/img/banner/bg2.jpg)|">
			<div class="container">

				<h1 class="text-white font-weight-600">커뮤니티</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">동행사 등록페이지</span></li>
				</ul>
			</div>
		</section>
		<!-- 배너끝 -->
		<!-- 각자 내용 -->


		<!-- start booking section -->
		<section>
			<div class="container">

				<form id="frm" action="companionJoin.do" method="post"
					enctype="multipart/form-data">
					<div class="row">
						<div class="form-group col-md-7">
							[필수]연락처<input type="text" name="tel" id="tel">
						</div>
						<div class="form-group col-md-7">
							[필수]이름<input type="text" name="name" id="name">
						</div>
						<div class="form-group col-md-7">
							[필수]성별<input type="text" name="gender" id="gender">
						</div>

						<div class="form-group col-md-12">
							함께 여행하고 싶은 그룹 유형<br>
							<div th:each="c : ${gr}">
								<input type="radio" th:value="${c.comCode}" th:text="${c.comName}" 
									   name="comCode" id="comCode" onclick="setComName(this)"> 
							<br>
						</div>
									<input type="hidden" name="comName" id="comName"> </div>

						<script>
							function setComName(radio) {
								var comName = radio.nextSibling.textContent;
								document.getElementById("comName").value = comName;
							}
						</script>
						
						
						
						<div class="form-group col-md-7">
							제목<input type="text" name="compTitle" id="compTitle">
						</div>
						<div class="form-group col-md-7">
							인원수<select name="compCount" id="compCount">
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="제한없음">제한없음</option>
							</select>
						</div>
						<div class="form-group col-md-7">
							지역<select name="compLocal">
								<option th:each="c : ${co}" th:value="${c.comCode}"
									th:text="${c.comName}"></option>
							</select>
						</div>




						<div class="input-group input-daterange">
							<input type="text" class="form-control input1"
								placeholder="Start Date" name="compStartDate" id="compStartDate">
							<input type="text" class="form-control input2"
								placeholder="End Date" name="compEndDate" id="compEndDate">
						</div>

						<script>
							$(function() {
								$(document).ready(function() {

									$('.input-daterange').datepicker({
										format : "yyyy-mm-dd",
										startDate : '0d',
										language : "ko",
										todayHighlight : true,
										autoclose : true
									});

								});

							});
						</script>
						<div class="form-group col-md-12">
							<table class="table border">
								<tr>
									<th style="vertical-align: middle;">TextArea<br /> <sup>(<span
											id="byteInfo">0</span>/1000bytes)
									</sup>
									</th>
									<td>
										<form>
											<textarea rows="10" class="form-control" id="compContent"
												name="compContent" onkeyup="fn_checkByte(this,'1000')"></textarea>
										</form>
									</td>
								</tr>
							</table>
						</div>
						<div class="form-group col-md-12">
							<input type="file" name="imgFile" id="imgFile">
						</div>
						<div class="form-group col-md-12">
							나만의 코스 불러오기<input type="text" name="couCode" id="couCode">
						</div>
						<input type="hidden" name="id" id="id" value="ADMIN"> <input
							type="hidden" name="imgGroCode" id="imgGroCode" value="WT">
						<input type="hidden" name="imgPath" id="imgPath">
					</div>
					<input type="submit" value="모집">
				</form>
			</div>

		</section>

	</div>


	<!-- 글자수 체크하는 function -->
	<script type="text/javascript">
		//Byte 수 체크 제한
		function fn_checkByte(obj, maxByte) {
			var str = obj.value;
			var str_len = str.length;

			var rbyte = 0;
			var rlen = 0;
			var one_char = "";
			var str2 = "";

			for (var i = 0; i < str_len; i++) {
				one_char = str.charAt(i);
				if (escape(one_char).length > 4) {
					rbyte += 2; //한글2Byte
				} else {
					rbyte++; //영문 등 나머지 1Byte
				}
				if (rbyte <= maxByte) {
					rlen = i + 1; //return할 문자열 갯수
				}
			}
			if (rbyte > maxByte) {
				// alert("한글 "+(maxByte/2)+"자 / 영문 "+maxByte+"자를 초과 입력할 수 없습니다.");
				alert("메세지는 최대 " + maxByte + "byte를 초과할 수 없습니다.")
				str2 = str.substr(0, rlen); //문자열 자르기
				obj.value = str2;
				fnChkByte(obj, maxByte);

			} else {
				document.getElementById('byteInfo').innerText = rbyte;
			}
		}
	</script>
</body>
</html>