<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>


<body>

	<!-- 내용 시작 -->
	<div layout:fragment="content" class="content">
		<!-- 배너시작 -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background:url(img/banner/bg2.jpg)|">
			<div class="container">

				<h1 class="text-white font-weight-600">커뮤니티</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">동행사 목록페이지</span></li>
				</ul>
			</div>
		</section>
동행자 게시물 확인 게시판이지롱 ㅎㅎ
</body>
</html>