
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">


<body>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- 내용 시작 -->
	<div layout:fragment="content" class="content">
<style>
.title{
display: inline-block;;
width:20%;
font-size: large;
color:black;
}
</style>
		<!-- 배너시작 -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background:url(/img/banner/bg2.jpg)|">
			<div class="container">

				<h1 class="text-white font-weight-600">커뮤니티</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><a href="/companion">동행자</a></li>
					<li><a th:href="@{/companionDetail/{compCode}(compCode = ${c.compCode})}"><span class="active">동행자 상세페이지</span></a></li>
				</ul>
			</div>
		</section>
		<!-- 배너끝 -->
		<!-- 각자 내용 -->
		<section>

			<div class="container">
				<form id="frm" method="post" action="/companionDelete"
					enctype="multipart/form-data">
				<div class="row">	
					<div class="col-lg-6 mb-5 ftco-animate">
						<img th:src="'/image/'+${c.imgPath}" alt="Colorlib Template"
							width="400px" height="auto">
					</div>

					<div class="col-lg-6 product-details pl-md-5 ftco-animate">
						<h1>
							<span th:text="${c.compTitle}"></span>
						</h1>
						<hr>
						<p>
							<span class="title">인원수   :</span> <span th:text="${c.compCount}"></span>
						</p>
						<hr>
						<p>
							<span class="title">그룹유형 :</span> <span th:text="${c.comName}"></span>
						</p>
						<hr>
						<p>
							<span class="title">여행지역 :</span> <span th:text="${lo.comName}"></span>
						</p>
						<hr>
						<p>
							<span class="title">여행 기간 :</span> <span th:text="${c.compStartDate}"></span> ~ <span
								th:text="${c.compEndDate}"></span>
						</p>
						<hr>
						<p><span class="title">여행 내용</span>
						<p th:text="${c.compContent}"></p>
						<hr>
					</div></div>
					<input type="hidden" th:value="${c.imgGroCode}" id="imgGroCode"
						name="imgGroCode"> <a
						th:href="|/companionUpdateForm?compCode=${c.compCode}|"
						class="btn btn-primary btn-lg" th:if="${c.id == session.name}" style="float: right;">수정하기</a>
					<input type="hidden" name="compCode" th:value="${c.compCode}" />
					<button type="submit" class="btn btn-danger btn-lg"
						th:if="${c.id == session.name}" style="float: right;">삭제하기</button>
					<button type="button" class="btn btn-danger btn-lg"
						data-toggle="modal" data-target="#myModal"
						th:if="${c.id != session.name}" style="float: right;">신고해보자고</button>
				</form>
				<form method="post" action="/comListInsert"
				enctype="multipart/form-data">
				<input type="hidden" id="id" name="id" th:value="${session.name}">
				<input type="hidden" id="compTitle" name="compTitle"
					th:value="${c.compTitle}"> <input type="hidden"
					id="compCode" name="compCode" th:value="${c.compCode}"> <input
					type="hidden" id="compCode" name="compCode"
					th:value="${c.compCode}"> <input type="hidden" id="tel"
					name="tel" th:value="${me.tel}"> <input type="hidden"
					id="name" name="name" th:value="${me.name}"> <input
					type="hidden" id="coState" name="coState" value="000"> <input
					type="hidden" id="gender" name="gender" th:value="${me.gender}">
				<button th:if="${se == 0 and c.id != session.name}" type="submit"
					class="btn btn-primary btn-lg" id="submit-btn" style="float: right;">동행자 신청하기</button>
			</form>
			        <!-- 댓글 시작 -->
			<section class="blogs">
				<div class="posts">
					<div class="posts">
                         <div class="comments-area"></div>
							<div class="comment-form">
								<form id='comment-form' method='post'>
									<div class="controls">
										<div class="row">
												<input type="hidden" name="id" th:value="${session.name}" id="id">
												<input type="hidden" th:value="${session.perm}" id="perm">
												<div class="col-md-12 form-group">
													<textarea id="comContent" name="comContent"
														placeholder="댓글 내용" rows="4" required="required"></textarea>
												</div>
												<div class="col-md-12">
													<button type="button" id="butn" class="butn">
														<span>댓글 달기</span>
													</button>
													<label><input type="checkbox" id="lockChk"class="secChk" value="1">비밀</label>
												</div>
											</div>
										</div>
										<input type="hidden" id="comBoardCode" name="comBoardCode" th:value="${c.compCode}">
										<input type="hidden" id="comFlag" name="comFlag" value="CWT">
									</form>
								</div>
							</div>
						</div>
				</section>
				<!-- 댓글 끝 -->
			</div>

			
		</section>
		<script type="text/javascript">
			$(".btn-modal").click(function() {
				var data = $(this).data('id');
				$("#contents.body-contents").val(data);
				$("#text-contents.body-contents").html(data);
			});
		</script>


		<div class="modal hide" id="myModal">
			<form id="frmf" action="/report" method="post"
				enctype="multipart/form-data">
				<div class="modal-header">
					<!-- 					<button class="close" data-dismiss="modal">x</button> -->
					<div class="modal-dialog" role="document">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">신고사유</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">

									<div th:each="c: ${r}">
										<label class="rad-label"> <input type="radio"
											th:text=${c.comName} th:value="${c.comCode}" name="repReason"
											id="repReason">
										</label>
									</div>


									<input type="hidden" name="id" id="id"
										th:value="${session.name}"> <input type="hidden"
										name=repCatCode id="repCatCode" value="RWT">
								</div>
								<div class="modal-footer">
									<input type="hidden" id="compCode" name="compCode"
										th:value="${c.compCode}"> <input type="hidden"
										id="targetId" name="targetId" th:value="${c.id}"> <input
										type="submit" class="btn btn-primary" value="신청하기">

								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<script>

/* 댓글  시작*/
$(document).ready(function(){
	getComList() 
})

$("#butn").click(function(){ //댓글 등록
	let comContent = $("#comContent").val(); //댓글내용
	let comId =$("#id").val(); //회원아이디
	let comOrder = 1 //댓글순서
	let comBlock = 1 //댓글계층
	let comFlag = $("#comFlag").val();  //게시물구분
	let comBoardCode = $("#comBoardCode").val(); //게시물번호

	let comLock = $("#lockChk").val() //비밀댓글
	if($("#lockChk").is(':checked') == true){
		comLock = 0
	}
	if(comId == ""){
		alert("로그인 후 이용하세요")
		return;
	}; // 로그인 안했을시 댓글 작성 x
	
	$.ajax({
		url:"/comInsert",
		type:"POST",
		data: JSON.stringify(
			{
				"block" : comBlock, //댓글계층
				"comContent" :comContent,
				"id" :comId,
				"comLock" : comLock,
				"comOrder" : comOrder,
				"comFlag" : comFlag, //게시물 구분
				"comBoardCode" : comBoardCode// 게시물 번호
			}
		),
		contentType:'application/json',
		success : function(data){
			console.log("댓글등록")
			$("#comContent").val("")
			console.log("====")
			getComList()
		},
		error:function(){
			alert('등록실패');
		}
	});
});

function getComList(){ //댓글 리스트
	let str = ""
	id = $("#id").val()
	author = $("#perm").val()
	perm = author.slice(1,-1)
	console.log(perm)
	console.log(id)
	let comFlag = $("#comFlag").val();  //게시물구분
	let comBoardCode = $("#comBoardCode").val(); //게시물번호
	    str += '<div class="title-g margin-30px-bottom">'
		str +='<h3>댓글</h3>'
		str +='</div>'
	let comArea =$(".comments-area");
	$.ajax({
		url:"/comGetList",
		type:"POST",
		data: JSON.stringify(
				{
					"comFlag" : comFlag, //게시물 구분
					"comBoardCode" : comBoardCode// 게시물 번호
				}
			),
		contentType:'application/json',
		success : function(result){
			$(".title-g margin-30px-bottom").remove()
			$(result).each(function(index,item){
				if(item.block == 1){
					str += "<div class='comment-box' id='"+item.comCode+"'>"
					str += '<div class="author-thumb">'
					str += '<img src="img/blog/01.png" alt="" class="rounded-circle width-85px width-100px" /> </div>'
					str += '<div class="comment-info">'
					str += '<h6> <a href="javascript:void(0);" >'+item.name+' </a></h6>'
					if(item.comLock != 0 || item.id == id || perm == "ADMIN"){
					str	+= '<p>'+item.comContent+'</p>'
					}else{
					str += 	'<p>비밀 댓글입니다.</p>'
					}
					if( perm == "ADMIN" || item.id == id){
					str += '<button type="button" class="btnDel" onclick="comDelete()">삭제</button>'
					str += '<button type="button" class="btnDel" onclick="comUpdateForm()">수정</button>'
					}
					str += '<input type="hidden" name="comGroup" id="comGroup" value="'+item.comGroup+'">'
				}else{
					str += "<div class='comment-box' id='"+item.comCode+"' style='margin-left: 100px;'>"
					str += '<div class="author-thumb">'
					str += '<img src="img/blog/01.png" alt="" class="rounded-circle width-85px width-100px" /> </div>'
					str += '<div class="comment-info"> '
					str += '<h6> <a href="javascript:void(0);" >'+item.name+'</a></h6>'
					if(item.comLock != '0' || item.id == id || perm == "ADMIN"){
					str	+= '<p>'+item.comContent+'</p>'
					}else{
					str += 	'<p>비밀 댓글입니다.</p>'
					}
					if(perm == "ADMIN" || item.id == id){
					str += '<button type="button" class="btnDel" onclick="reComDelete()">삭제</button>'
					str += '<button type="button" class="btnDel" onclick="comUpdateForm()">수정</button>'
					}
				}
			//if(item.block == 1){
				str += '<div class="reply">'
				str += '<h6>'+item.comDate+'</h6>'
				str += '<a href="javascript:void(0);" onclick="comReply()"> <i class="fa fa-reply" aria-hidden="true"></i> 답글</a>' 
				str += '</div> </div> </div>'
				str += '<div class="rep-form" id="'+item.comCode+'" style="display:none">'
				str += 	'<form id="reply-form " method="post">'
				str +=  '<div class="controls">'
				str +=  '<div class="row">'
				str += '<div class="col-md-12 form-group">'
				str += '<textarea id="comRep" name="comContent" class="comRep"'
				str += 'placeholder="답글" rows="2" required="required">#'+item.id+'</textarea>'
				str += '<input type="hidden" name="comGroup" id="comGroup" value="'+item.comGroup+'">'
				str += '<button type="button" id="reButn" class="reButn" onclick="comReplyInsert()">답글등록</button>'
				str += '<label><input type="checkbox" class="secChk" value="1">비밀</label>'
				str +=	'</div>'
				str += '<div class="col-md-12">'
				str += '<input type="hidden" name="comGroup" value="'+item.comGroup+'"'
				str += '</div></div></div></form></div></div>'
				//}
			})
			comArea.html(str);
		}
	})
}

function reComDelete(){ //댓글 삭제
	let comBox = $(event.target).closest(".comment-box")
	let reply = comBox.next()
	console.log($(event.target).text())
	let comGroup = $(event.target).find("#comGroup").val()
	let comOrder = 1
	let comCode = comBox.attr('id')
	console.log(comCode)
	//alert 후 true 일경우 삭제 누른 댓글 삭제
	//false 후 
	$.ajax({
		url:"/reComDelete",
		type:"delete",
		data:{
						
						
				 comCode
						//게시물 번호
					    //댓글 비밀여부
					}
		,
		success : function(data){
			console.log(data)
			getComList()
		}
	})
}

function comDelete(){ //댓글 삭제
	let comBox = $(event.target).closest(".comment-box")
	let reply = comBox.next()
	let comGroup = $(event.target).next().next().val()
	//alert 후 true 일경우 삭제 누른 댓글 삭제
	//false 후 
	$.ajax({
		url:"/comDelete",
		type:"delete",
		data:{	
			comGroup		
		}	   
		,
		success : function(data){
			console.log(data)
			getComList()
		}
	})
}

function comReply(){ //답글창 on,off
	let comBox = $(event.target).closest(".comment-box")
	let recom = comBox.next()
	if(recom.is(':visible') != true){	
		recom.show();
	}else{
		recom.hide();
	}
	
}
//대댓글 댓글 그룹,  
function comReplyInsert(){
	let rep = $(event.target).closest(".rep-form").attr('id')
	let reContent =$(event.target).prev().prev().val()
	let comId =$("#id").val();
	let comGroup = $(event.target).prev().val()
	let comLock = $(event.target).next().val() //비밀댓글
	let comBlock = '2'
	let comFlag = $("#comFlag").val();
	let comBoardCode = $("#comBoardCode").val();
	if($(event.target).next().is(':checked') == true){
		comLock = 0
	}
	$.ajax({
		url:"/reComInsert",
		type:"POST",
		data: JSON.stringify(
			{
				"comContent" :reContent,
				"id" :comId,
				"comGroup" : comGroup,
				"comLock" : comLock,
				"block" : comBlock,
				"comFlag" : comFlag, //게시물 구분
				"comBoardCode" : comBoardCode// 게시물 번호
				//게시물 번호
			   //댓글 비밀여부
			}
		),
		contentType:'application/json',
		success : function(data){
			console.log("답글등록")
			$(event.target).prev().val("")
			getComList()
		},
		error:function(){
			alert('등록실패');
		}
	});
}
$(".btnUp").on("click")

 function comUpdate(){
	let comContent =$(event.target).prev().prev().val();
	let comCode =$(event.target).closest(".comment-box").attr('id');
	$.ajax({
		url:"/comUpdate",
		type:"POST",
		data: JSON.stringify(
			{
				"comContent" :comContent,
				"comCode" : comCode,
			}
		),
		contentType:'application/json',
		success : function(data){
			console.log("답글등록")
			getComList()
		},
		error:function(){
			alert('등록실패');
		}
	});
}

function comUpdateForm(){
	
	let pTag = $(event.target).prev().prev()
	let content = pTag.text()
	console.log(content)
	let delBtn =  $(event.target).prev()
	let upBtn = $(event.target)
	
	$( pTag ).replaceWith('<textarea id="coUpText" name="comContent" class="coUpText">'+content+'');
	$(delBtn).replaceWith('<button type="button" class="btnRet" onclick="resetBtn()">취소</button>')
	let up = $(upBtn).replaceWith('<button type="button" class="btnUp" onclick="comUpdate()">저장</button>')
}

function resetBtn(){
	getComList()
}
/* 댓글  끝*/
</script>
		
	</div>
	<!-- 내용 끝 -->

</body>
</html>
