<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<body>
	<!-- 각자 내용 -->
	<div layout:fragment="content" class="content">
<!-- 배너시작 -->
		<section class="page-title-section bg-img cover-background"
      th:style="|background: url('/img/banner/bg1.jpg')|">
      <h1 class="text-white font-weight-600">맛집리스트</h1>
      <ul>
         <li><a href="/main">Home</a></li>
         <li><span class="active">맛집리스트</span></li>
      </ul>
   </section>
		<!-- 배너끝 -->
	 <form method="post" action="/foodDelete"><br><br>
<div class="container">
	<table class="table">
	<tr>
	<td width="20%" class="text-center warning">번호</td>
	 <td width=30% class="text-center" th:text="${food.foodCode}"></td>
	 <td width="20%" class="text-center warning">작성일</td>
	 <td width=30% class="text-center" th:text="${food.foodDate}"></td>
	 </tr>
	 <tr>
	 <th width=20% class="text-center warning">작성자</th>
	 <td width=30% class="text-center" th:text="${food.id}"></td>
	 <th width=20% class="text-center warning">조회수</th>
	 <td width=30% class="text-center" th:text="${food.foodHit}"></td>
	 <tr>
	 <th width=20% class="text-center warning">제목</th>
	 <td colspan="3" th:text="${food.foodTitle}"></td>
	 </tr>
	 <tr>
	 <th width=20% class="text-center warning">상호명</th>
	 <td colspan="3" th:text="${food.foodName}"></td>
	 </tr>
	 <tr>
	 <th width=20% class="text-center warning">
	  <img th:src="'/image/'+${food.imgPath}">
	 </th>
	 <td colspan="4" class="text-left" valign="top" height="200">
	 <pre th:text="${food.foodTitle}" style="white-space: pre-wrap;border:none; background-color:white;"> </pre>
	
	 </td>
	 </tr>
	
	 
	 <tr>
	 <td colspan="4" class="text-right">
	 <a th:href="@{/foodUpdateForm(foodCode=${food.foodCode})}" class="btn btn-xs btn-info">수정</a>
	 <input type="hidden" name="foodCode" th:value="${food.foodCode}" />
								<button type="submit" class="btn btn-xs btn-warning">삭제</button>
	 <a href="/food" class="btn btn-xs btn-success">목록</a>
	 
	</table>
	
</div>

		 </form> 

</div>
	<!-- 내용 끝 -->

</body>
</html>