<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<th:block layout:fragment="head" th:include="@{head}"></th:block>


<!-- 뭐야.. CSS -->
<th:block layout:fragment="head" th:include="@{head}"></th:block>
<!-- 뭐야.. CSS 끝 -->


<body>

	<!-- 각자 내용 -->
	<div layout:fragment="content" class="content">
		<!-- 배너시작 -->
		<section class="page-title-section bg-img cover-background"
			data-overlay-dark="6" data-background="img/banner/bg5.jpg">
			<div class="container">
				<h1 class="text-white font-weight-600">맛집리스트</h1>
				<ul>
					<li><a href="main">Home</a></li>
					<li><span class="active">맛집정보</span></li>
				</ul>
			</div>
		</section>
		<!-- 배너끝 -->



		<!-- start booking section -->
		<section>
			<div class="container">

				<form id="frm" action="foodInsert.do" method="post">
					<div class="row">
						<div class="form-group col-md-12">
							*제목<input type="text" name="foodTitle" id="foodTitle">
						</div>
						<div class="form-group col-md-12">
							*주소<input type="text" name="foodAddr" id="foodAddr">
						</div>
						<div class="form-group col-md-12">
							*상호명<input type="text" name="foodName" id="foodName">
						</div>
						<div class="form-group col-md-12">
							<table class="table border">
								<tr>
									<th style="vertical-align: middle;">리뷰<br /> <sup>(<span
											id="byteInfo">0</span>/1000bytes)
									</sup>
									</th>
									<td>
										<form id="foodContent" name="foodContent">
											<textarea rows="10" class="form-control"
												id="textArea_byteLimit" name="textArea_byteLimit"
												onkeyup="fn_checkByte(this,'1000')"></textarea>
										</form>
									</td>
								</tr>
							</table>
						</div>
						<div class="form-group col-md-12">
							첨부파일<input type="file" name="imgGroCode" id="imgGroCode">
						</div>

						<input type="hidden" name="id" id="id" value="1"> <input
							type="hidden" name="imgGroCode" id="imgGroCode" value="1">
					</div>
				
					<input type="submit" value="완료">
				</form>
			</div>

		</section>

	</div>


	<!-- Row -->
	<!-- end booking section -->





	<!-- 내용 끝 -->



	<!-- 글자수 체크하는 function -->
	<script type="text/javascript">
		//Byte 수 체크 제한
		function fn_checkByte(obj, maxByte) {
			var str = obj.value;
			var str_len = str.length;

			var rbyte = 0;
			var rlen = 0;
			var one_char = "";
			var str2 = "";

			for (var i = 0; i < str_len; i++) {
				one_char = str.charAt(i);
				if (escape(one_char).length > 4) {
					rbyte += 2; //한글2Byte
				} else {
					rbyte++; //영문 등 나머지 1Byte
				}
				if (rbyte <= maxByte) {
					rlen = i + 1; //return할 문자열 갯수
				}
			}
			if (rbyte > maxByte) {
				// alert("한글 "+(maxByte/2)+"자 / 영문 "+maxByte+"자를 초과 입력할 수 없습니다.");
				alert("메세지는 최대 " + maxByte + "byte를 초과할 수 없습니다.")
				str2 = str.substr(0, rlen); //문자열 자르기
				obj.value = str2;
				fnChkByte(obj, maxByte);

			} else {
				document.getElementById('byteInfo').innerText = rbyte;
			}
		}
	</script>
</body>
</html>
