<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">


<style>
body {
	margin-bottom: 60px;
}

body>.container {
	padding: 60px 15px 0;
}

.gopage {
	width: 100%;
	display: flex;
	justify-content: center;
}

.pagination {
	margin: 0;
}
</style>
<body>


	<!-- 내용 시작 -->
	<div layout:fragment="content" class="content">

		<!-- 배너시작 -->
		<!-- start page title section -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background: url('img/banner/bg4.jpg')|">
			<div class="container">
				<h1 class="text-white font-weight-600">NOTICE</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">NOTICE</span></li>
				</ul>
			</div>
		</section>
		<!-- end page title section -->
		<!-- 배너끝 -->


		<!-- start faq section -->
		<section>
			<div class="container">
				<!-- 페이징 -->
				<script>
					function gopage(page) {
						location.href = "notice?page=" + page;
						frmSearch.page.value = page;
						frmSearch.submit();
					}
				</script>
				<div class="row">
					<div class="col-md-10 center-col">
						<div class="accordion" id="accordionOne">
							<div class="card">
								<div class="card-header" id="headingOne">
									<div class="mb-0">
										<div id="mainHide">
											<table class="table table-hover">
												<div class="pull-right"
													style="width: 100px; margin: 10px; margin-left: 800px;">

												</div>
												<br>
												<thead>
													<tr>
														<th class="col-md-2">번호</th>
														<th class="col-md-5">제목</th>
														<th class="col-md-3">등록일</th>
														<th class="col-md-3">수정일</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="n  : ${noticelists}">
														<td th:text="${n.noticeCode}"></td>
														<td><a
															th:href="@{/noticeDetail/{noticeCode}(noticeCode=${n.noticeCode})}">
																<span
																th:text="${n.noticeTitle != null and #strings.length(n.noticeTitle) > 10 ? #strings.substring(n.noticeTitle, 0, 10) + '.....' : (n.noticeTitle != null ? n.noticeTitle : '')}"></span>
														</a></td>
														<td th:text="${n.noticeRegDate}"></td>
														<td th:text="${n.noticeModDate}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<br> <br>
								<!-- 페이징 추가 해주세요 -->
								<div class="gopage" align="center">
									<nav aria-label="Page navigation example" class="gopage">
										<ul class="pagination">
											<li class="page-item" th:if="${paging.startPage > 1}"><a
												class="page-link"
												th:href="|javascript:gopage(${paging.startPage-1})|">이전</a>
											</li>
											<li class="page-item"
												th:classappend="${paging.page}==${num} ? 'active'"
												th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}">
												<a class="page-link" th:href="|javascript:gopage(${num})|">
													[[${num}]] </a>
											</li>
											<li class="page-item"
												th:if="${paging.endPage < paging.lastPage}"><a
												class="page-link"
												th:href="|javascript:gopage(${paging.endPage+1})|">다음</a></li>
										</ul>
									</nav>
								</div>
								<!-- 페이징 끝 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- end faq section -->
	<!-- 내용 끝 -->

	<script>
		var titleCell = document.getElementById("title-cell");
		if (titleCell.innerHTML.length > 10) {
			titleCell.innerHTML = titleCell.innerHTML.substr(0, 10) + "...";
		}
	</script>
</body>

</html>
