<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<meta charset="utf-8">
<title>CKEditor</title>
<style>
.ck.ck-editor {
	max-width: 1000px;
}

.ck-editor__editable {
	min-height: 300px;
}
.title {
max-width: 1000px;
}
</style>
</head>
<!-- 뭐야.. CSS -->
<th:block layout:fragment="head" th:include="@{head}"></th:block>
<!-- 뭐야.. CSS 끝 -->

<body>
	<!-- 헤더 시작 -->
	<th:block layout:fragment="header" th:include="@{header}"></th:block>
	<!-- 헤더 끝 -->

	<!-- 내용 시작 -->
	
	<form action="" method="POST">
		<div>
			<input type="text" name="subject" placeholder="제목을 입력하세요" class="title">
		</div>

		<textarea name="text" id="editor"></textarea>
		<p>
			<input type="submit" value="전송">
		</p>

	</form>

	<script
		src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
	<script>
		ClassicEditor.create(document.querySelector('#editor'));
	</script>
	<!-- 내용 끝 -->
<script>
  ClassicEditor.create( document.querySelector( '#editor' ), {
    removePlugins: [ 'Heading' ],
    language: "ko"
  } );
</script>

	<!-- 푸터 시작 -->
	<th:block layout:fragment="footer" th:include="@{footer}"></th:block>
	<!-- 푸터 끝 -->
</body>
</html>