<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/index}">

<head>

</head>

<body>

	<!-- 내용 시작 -->
	<div layout:fragment="content" class="content">

		<!-- 배너시작 -->
		<section class="page-title-section bg-img cover-background"
			data-overlay-dark="6" data-background="img/banner/bg1.jpg">
			<div class="container">

				<h1 class="text-white font-weight-600">공지사항</h1>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><span class="active">공지사항</span></li>
				</ul>
			</div>
		</section>
		<!-- 배너끝 -->


		<!-- 내용 찐시 -->
		<section>
			<div class="container">

				<div class="row" style="margin-bottom: 20px; margin-left: 1px;">
				</div>

				<div class="panel" style="margin-left: 1px;">
					<div id="contAreaBox">
						<div class="panel">
							<div class="panel-body">
								<form role="form" action="/board/create_action" method="post">
									<div class="table-responsive" style="text-align: center;">
										<table id="datatable-scroller"
											class="table table-bordered tbl_Form">
											
											<colgroup>
												<col width="250px" />
												<col />
											</colgroup>
											<tbody>
												<tr>
													<th scope="row">글 번호</th>
													<td>${map.TITLE }</td>
													<th scope="row">조회수</th>
													<td>${map.HIT_CNT }</td>
												</tr>
												<tr>
													<th scope="row">첨부파일</th>
													<td>${map.CREA_ID }</td>
													<th scope="row">작성시간</th>
													<td>${map.CREA_DTM }</td>
												</tr>
												<tr>
													<th scope="row">제목</th>
													<td colspan="3">${map.TITLE }</td>
												</tr>
												<tr>
													<td colspan="4">${map.CONTENTS }</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div style="margin-left: 1px;">
										<a href="notice" class="btn btn-primary" style="margin-left: 1040px">목록</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- 내용 끝 -->
</body>
</html>