<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/index}">

<meta charset="UTF-8">

<style>
/*html{position:relative;min-height:100%;}*/
body {
	margin-bottom: 60px;
}

body>.container {
	padding: 60px 15px 0;
}
</style>
<body>


	<!-- 내용 시작 -->
	<div layout:fragment="content" class="content">
		<script>
			function gopage(page) {
				location.href = "notice?page=" + page;
				frmSearch.page.value = page;
				frmSearch.submit();
			}
		</script>



		<!-- 배너시작 -->
		<section class="page-title-section bg-img cover-background"
			data-overlay-dark="6" data-background="img/banner/bg1.jpg">
			<div class="container">

				<h1 class="text-white font-weight-600">공지사항</h1>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><span class="active">공지사항</span></li>
				</ul>
			</div>
		</section>
		<!-- 배너끝 -->



		<!--  [[ ${noticelist} ]]-->
		<hr>


		<!-- start faq section -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-10 center-col">
						<div class="accordion" id="accordionOne">
							<div class="card">
								<div class="card-header" id="headingOne">
									<div class="mb-0">
										<div id="mainHide">
											<table class="table table-hover">
												<div class="pull-right"
													style="width: 100px; margin: 10px; margin-left: 800px;">
													<a href="noticeForm" class="btn btn-primary btn-block">등록</a>
												</div>
												<br>
						 						<thead>
													<tr>
														<th class="col-md-2">번호</th>
														<th class="col-md-4">제목</th>
														<th class="col-md-4">등록일</th>
														<th class="col-md-5">첨부파일</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="n  : ${noticelists}">
														<td th:text="${n.noticeCode}"></td>
														<td><a th:text="${n.noticeTitle}"
															th:href="@{/noticeDetail/{noticeCode}(noticeCode=${n.noticeCode})}"></a></td>
														<td th:text="${n.noticeRegDate}"></td>
														<td th:text="${n.noticeFile}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div>
									<a
										th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}"
										th:href="|javascript:gopage(${num})|"
										th:class="${paging.page}==${num} ? 'active'"> [[${num}]] </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- end faq section -->
	<!-- 내용 끝 -->




</body>

</html>
