<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>
	<!-- 내용 시작 -->
	<div layout:fragment="content" class="content">


		<!-- 배너시작 -->
		<!-- start page title section -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background: url('/img/banner/bg4.jpg')|">
			<div class="container">
				<h1 class="text-white font-weight-600">NOTICE</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">NOTICE</span></li>
				</ul>
			</div>
		</section>
		<!-- end page title section -->
		<!-- 배너끝 -->

		<!-- 내용 찐시 -->
		<form method="post" action="/noticeDelete">
			<br> <br>
			<div class="container">
				<a href="/notice" class="btn btn-primary">목록</a> <br><br>
				<table class="table">
					<tr>
						<td width="20%" class="text-center text-warning">번호</td>
						<td width=30% class="text-center" th:text="${n.noticeCode}"></td>
						<td width="20%" class="text-center text-warning">작성일</td>
						<td width=30% class="text-center" th:text="${n.noticeRegDate}"></td>
					</tr>
					<tr>
						<th width=20% class="text-center text-warning"><i class="bi bi-eye"></i></th>
						<!-- 눈모양 이모티콘 (조회수) -->
						<td width=30% class="text-center" th:text="${n.noticeHit}"></td>
						<td width=20% class="text-center text-warning">수정일</td>
						<td width=30% class="text-center" th:text="${n.noticeModDate}"></td>
					<tr>
						<th width=20% class="text-center text-warning">제목</th>
						<td colspan="3" class="text-center" th:text="${n.noticeTitle}"></td>
					</tr>
					<tr>
						<td colspan="4" class="text-left" valign="top" height="200">
							<pre th:utext="${n.noticeContent}"
								style="white-space: pre-wrap; border: none; background-color: white;"> </pre>
							<div class="feed-img">
								<img id="feed-img" th:src="'/image/'+${n.imgPath}">
							</div>
						</td>
					<tr>
						<th width=20% class="text-center text-warning">파일</th>
						<td colspan="3" class="text-center"><a th:href="@{/myproject/image/{path}(path=${n.imgPath})}" th:text="${n.imgName}" th:download="${n.imgName}"></a></td>
					</tr>

					<tr>
				</table>
			</div>
		</form>

	</div>

</body>
</html>