<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

						<div class="row margin-30px-bottom" id="hotelListContent">
							<div th:each="v : ${videoSelect}"
								class="hotels col-md-6 margin-30px-bottom">
								<div class="hotel border border-radius-4 package h-100">
									
									<div class="padding-30px-all">
								<div class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
								<p>[[${v.videoName}]]</p>
								</div>
								<img th:src="${v.thumbnail}"/>
									</div>
								<a th:href="@{/videoDetail/{videoCode}(videoCode = ${v.videoCode})}">Details</a>
								</div>
							</div>
						</div>
						
</html>