<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin/indexAdmin}">
<body>

	<!-- 내용 시작 -->
<section layout:fragment="adminContent">
zzzzzzzzzzzzzzzhttps://www.youtube.com/watch?v=dZmIv9IvY48
<iframe width="560" height="315" src="https://www.youtube.com/embed/dZmIv9IvY48" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
https://youtu.be/dZmIv9IvY48
<a href="videoForm" class="btn btn-danger" style="float: right;;">신청하기</a>
</section>
</body>
</html>