<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<body>
	<div layout:fragment="content" class="content">

		<!-- 배너시작 -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background:url(/img/banner/bg2.jpg)|">
			<div class="container">

				<h1 class="text-white font-weight-600">커뮤니티</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">동행사 수정페이지</span></li>
				</ul>
			</div>
		</section>
		<!-- 배너끝 --><!-- start blog section -->
		<section>
			<div class="container">
            	<p style="font-size: 30px;">지역<p><hr>
            	<div id="product_order_list">
			<p>
			<a href="javascript:region(11);">서울</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(21);">부산</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(22);">대구</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(23);">인천</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(24);">광주</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(25);">대전</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(26);">울산</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(29);">세종</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(31);">경기</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(32);">강원</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(33);">충북</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(34);">충남</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(35);">전북</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(36);">전남</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(37);">경북</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(38);">경남</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(39);">제주</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp

		</div>
		<script th:inline="javascript">
		
		// 서울 -->
 		var region = function(videoRegion){
 			$.ajax({ 
 				type: 'post', 
				url: "/region",
				data: {videoRegion},
 				success: function(data) { 
 					$("#hotelListContent").replaceWith(data);
 				}, 
 				error: function(request, status, error) { 
 					alert(error); 
 				} 
			}); 
 		};
 	
		</script>
<!-- 페이징 -->

   <!-- 페이징 끝-->
				<div class="row margin-30px-bottom" id="hotelListContent">
					<div th:each="v : ${video}" class="hotels col-md-6 margin-30px-bottom">
						<div class="hotel border border-radius-4 package h-100">

							<div class="padding-30px-all">
								<div
									class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
									<p>[[${v.videoName}]]</p>
								</div>
								<img th:src="${v.thumbnail}" />
							</div>
						<a th:href="@{/videoSelectDetail/{videoCode}(videoCode = ${v.videoCode})}">Details</a>
						</div>
					</div>
				</div>

				
	
</section>
</body>
</html>