<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<body>
	<div layout:fragment="content" class="content">

		<!-- 배너시작 -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background:url(/img/banner/bg2.jpg)|">
			<div class="container">

				<h1 class="text-white font-weight-600">커뮤니티</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">동행사 수정페이지</span></li>
				</ul>
			</div>
		</section>
		<!-- 배너끝 --><!-- start blog section -->
		<section>
			<div class="container">
            	<p style="font-size: 30px;">지역<p><hr>
            	<div id="product_order_list">
			<p>
			<a href="javascript:seoul();">서울</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:busan();">부산</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:daegu();">대구</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:incheon();">인천</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:gwangju();">광주</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:daejeon();">대전</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:ulsan();">울산</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:sejong();">세종</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:gyeonggi();">경기</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:gangwon();">강원</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:chungbuk();">충북</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:chungnam();">충남</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:jeonbuk();">전북</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:jeonnam();">전남</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:kyungbuk();">경북</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:kyungnam();">경남</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:jeju ();">제주</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp

		</div>
		<script th:inline="javascript">
		
		// 서울 -->
 		var seoul = function(url){
 			$.ajax({ 
 				type: 'post', 
				url: "/seoul",
 				success: function(data) { 
 					$("#hotelListContent").replaceWith(data);
 				}, 
 				error: function(request, status, error) { 
 					alert(error); 
 				} 
			}); 
 		};
 		
 	// 부산 -->
 		var busan = function(url){
 			$.ajax({ 
 				type: 'post', 
				url: "/busan",
 				success: function(data) { 
 					$("#hotelListContent").replaceWith(data);
 				}, 
 				error: function(request, status, error) { 
 					alert(error); 
 				} 
			}); 
 		};
		
 		// 대구-->
		var daegu = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/daegu", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 인천-->
		var incheon = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/incheon", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 광주-->
		var gwangju = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/gwangju", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 대전-->
		var daejeon = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/daejeon", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 울산-->
		var ulsan = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/ulsan", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 세종-->
		var sejong = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/sejong", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 경기-->
		var gyeonggi = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/gyeonggi", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 강원-->
		var gangwon = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/gangwon", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 충북-->
		var chungbuk = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/chungbuk", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 충남-->
		var chungnam = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/chungnam", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 전북-->
		var jeonbuk = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/jeonbuk", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 전남-->
		var jeonnam = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/jeonnam", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 경북-->
		var kyungbuk = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/kyungbuk", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 경남-->
		var kyungnam = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/kyungnam", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
 		// 제주-->
		var jeju = function(url){ 
 			$.ajax({ 
 				type: 'post', 
 				url: "/jeju", 
				success: function(data) { 
 					$("#hotelListContent").replaceWith(data); 
				}, 
 				error: function(request, status, error) { 
					alert(error); 
				} 
			}); 
 		}; 
		</script>
<!-- 페이징 -->
   <script>
   		function gopage(page) {
   			location.href = "videoSelect?page=" + page;
			frmSearch.page.value = page;
			frmSearch.submit();
   		}   		
   </script>
   <!-- 페이징 끝-->
				<div class="row margin-30px-bottom" id="hotelListContent">
					<div th:each="v : ${video}" class="hotels col-md-6 margin-30px-bottom">
						<div class="hotel border border-radius-4 package h-100">

							<div class="padding-30px-all">
								<div
									class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
									<p>[[${v.videoName}]]</p>
								</div>
								<img th:src="${v.thumbnail}" />
							</div>
						<a th:href="@{/videoSelectDetail/{videoCode}(videoCode = ${v.videoCode})}">Details</a>
						</div>
					</div>
				</div>

				
	<!-- 페이징 추가 해주세요 -->
									<div class="gopage" align="center">
										<nav aria-label="Page navigation example" class="gopage">
											<ul class="pagination">
											<li class="page-item" th:if="${paging.startPage > 1}">
												<a  class="page-link" th:href="|javascript:gopage(${paging.startPage-1})|">이전</a>
												</li>											
												<li class="page-item" th:classappend="${paging.page}==${num} ? 'active'"
													th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}">
													<a class="page-link" th:href="|javascript:gopage(${num})|">	[[${num}]] </a>
												</li>										
												<li class="page-item" th:if="${paging.endPage < paging.lastPage}">
												<a  class="page-link" th:href="|javascript:gopage(${paging.endPage+1})|">다음</a>
												</li>
											</ul>
										</nav>
									</div> 
                   				<!-- 페이징 끝 -->
</section>
</body>
</html>