<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{admin/headAdmin :: adminHead}"></head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		<ul th:replace="~{admin/sidebarAdmin :: adminSidebar}"></ul>
		
			
				<div th:replace="~{admin/topbarAdmin :: adminTopbar}"></div>
				
			
	</div>
	<!-- End of Topbar -->
	<footer th:replace="~{admin/footerAdmin :: adminFooter}"></footer>
</body>

</html>