<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/indexAdmin}">

<body layout:fragment="adminContent">
<style>
.ck.ck-editor {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.ck.ck-editor__editable_inline>:last-child{
  height: 150px;
}
.ck-editor__editable {
	min-height: 400px;
}

.editor {
	width: 100px;
}

.form-control {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.ck-toolbar__items {
	width: 300px;
}

</style>
	
	<!-- 각자 내용 -->
	<form action="noticeInsert" method="POST" id="frm"
		enctype="multipart/form-data">
		<input type="text" name="noticeTitle" id="noticeTitle"
			class="form-control" placeholder="[필수]제목을 입력하세요"><br>
		<div>
			<input type="file" name="imgFile" id="imgFile" class="form-control"><br>
			<input type="hidden" name="imgGroCode" id="imgGroCode" value="NO">
			<input type="hidden" name="imgPath" id="imgPath">
		</div>
		<textarea class="editor" id="noticeContent" name="noticeContent" style="width: 100px;"
			placeholder="[필수]내용을 입력하세요"></textarea>
		<br>
		<div class="pull-right" style="width: 100px; margin: auto; text-align: center;">
			<input type="submit" class="btn btn-primary btn-block" value="등록" id="inBtn">
		</div>
		<br>
	</form>
	<script
		src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
	<script
		src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
	<script>
      ClassicEditor.create( document.querySelector( '.editor' ),{
      language: 'ko' //언어설정
    
      })
      .catch( error => {
          console.error( error );
      } );
      

      $(document).ready(function() {
        $('#frm').submit(function(e) {
          e.preventDefault();
          var title = $('#noticeTitle').val();
          var content = $('#noticeContent').val();
          if (!title) {
            swal("","제목을 입력하세요","warning");
          } else if (!content) {
            swal("","내용을 입력하세요","warning");
          } else  {
            this.submit();
          }
        });
      });

    </script>
	
</body>
</html>