<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin/indexAdmin}">

<style>
body {
	margin-bottom: 60px;
}

body>.container {
	padding: 60px 15px 0;
}

.gopage {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.pagination {
		margin: 0;
	}

</style>
<body layout:fragment="adminContent">
<!-- 페이징 -->
		<script>
			function gopage(page) {
				location.href = "notice?page=" + page;
				frmSearch.page.value = page;
				frmSearch.submit();
			}
		</script>
		<!-- start faq section -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-10 center-col">
						<div class="accordion" id="accordionOne">
							<div class="card">
								<div class="card-header" id="headingOne">
									<div class="mb-0">
										<div id="mainHide">
											<table class="table table-hover">
												<div class="pull-right"
													style="width: 100px; margin: 10px; margin-left: 800px;">
													<a href="noticeForm" class="btn btn-primary btn-block">등록</a>
												</div>
												<br>
												<thead>
													<tr>
														<th class="col-md-2">번호</th>
														<th class="col-md-5">제목</th>
														<th class="col-md-3">등록일</th>
														<th class="col-md-3">수정일</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="n  : ${noticelists}">
														<td th:text="${n.noticeCode}"></td>
														<td><a th:text="${n.noticeTitle}"
															th:href="@{/noticeDetails/{noticeCode}(noticeCode=${n.noticeCode})}"></a></td>
														<td th:text="${n.noticeRegDate}"></td>
														<td th:text="${n.noticeModDate}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<br> <br>
								<!--  페이징 bootstrap 적용 -->
								<div class="gopage">
									<nav aria-label="Page navigation example" class="gopage">
										<ul class="pagination">
											<li class="page-item"
												th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}">
												<a class="page-link" th:href="|javascript:gopage(${num})|" 
												th:class="${paging.page}==${num} ? 'active'"> [[${num}]]
											</a>
											</li>
										</ul>
									</nav>
								</div>
								<!--  페이징 bootstrap 끝 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- end faq section -->
	<!-- 내용 끝 -->
</body>
</html>