 <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="adminSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">ADMIN</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/main">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>홈</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
               회원
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
               <a class="nav-link" href="/admemList">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>회원관리</span></a>
            </li>
			<div class="sidebar-heading">
               공지
            </div>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                  <a class="nav-link" href="/noticeAdmin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>공지사항</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                관광정보
            </div>
            
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="adminTourForm">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>관광정보요청</span></a>
            </li>
			 <div class="sidebar-heading">
                커뮤니티
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/video">
                    <i class="fas fa-fw fa-table"></i>
                    <span>영상게시판</span></a>
            </li>
            <!-- Nav Item - Tables -->
             <div class="sidebar-heading">
                신고
            </div>
      
            <li class="nav-item">
                <a class="nav-link" href="/reportCompanion">
                    <i class="fas fa-fw fa-table"></i>
                    <span>동행자신고</span></a>
            </li>
            
                <!-- Nav Item - Tables -->
            <div class="sidebar-heading">
                예약관리
            </div>
                <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/Admin/reservation">
                    <i class="fas fa-fw fa-table"></i>
                    <span>예약관리</span></a>
            </li>
            

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


        </ul>
    