<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<header th:fragment="header">
    <!-- Navigation-->
    [[${session.name}]]
         <div class="navbar-default">
                <!-- start top search -->
                <div class="top-search bg-black">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div >
                                        <!-- start logo -->
                                        <a href="/main" ><img id="logo" src="/img/logos/logos.png" alt="logo" style="width:100px; height:100px" /></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none; margin:0 auto;">
                                        <li><a href="/main">Home</a></li>
                                        <li><a href="/notice">공지사항</a>
                                        <li><a href="/course">여행지</a>
                                            <ul>
                                                <li><a href="/trip">여행 지역</a></li>
                                                <li><a href="/course">여행 코스</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">커뮤니티</a>
                                            <ul>
                                                <li><a href="/food">맛집</a></li>
                                                <li><a href="/videoSelect">영상</a></li>
                                                <li><a href="/companion">동행자</a></li>
                                                <li><a href="/diaryAll">여행 일지</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/hotel">숙소</a></li>
                                        <li><a href="/chat/room">채팅</a></li>
                                        <li th:if="${session.name != null}"><a href="/myPage">마이페이지</a></li>
                                        <li th:if="${session.name == 'ADMIN'}"><a href="/admin">관리자페이지</a></li>
                                        <li th:if="${session.name == null}"><a href="/login">로그인</a></li>
                                        <li th:if="${session.name != null}"><a href="/logout">로그아웃</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start atribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-65px-right xs-margin-50px-right">
                                        <ul class="no-margin-top">
                                            <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end atribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
  
</header>
</body>
</html>