<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- <head> -->

<head th:replace="~{head :: head}"></head>



<body>

    <!-- start main-wrapper section -->
    <div class="main-wrapper">
        <!-- start header section -->
        <header th:replace="~{header :: header}"></header>
        <!-- end header section -->


        <!-- Start popular destination Section -->

        
        <section layout:fragment="content"></section>
        
        <!-- end other section -->

        
        
        <!-- start footer section -->
        
        <footer th:replace="~{footer :: footer}"></footer>
        
        
        <!-- end footer section -->
</div>

</body>

</html>