<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
</head>

<body>
	<style>
#nav {
	background-color: white;
}

.hotelMark {
	align-content: center;
}


</style>

<div layout:fragment="content" class="content">
	
		<!-- 배너시작 -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background:url(img/banner/bg2.jpg)|">
			<div class="container">

				<h1 class="text-white font-weight-600">즐겨찾기</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><span class="active">즐겨찾기</span></li>
				</ul>
			</div>
		</section>
		<!-- 배너끝 -->

	<section class="blogs" style="position: left;">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-6 sm-margin-30px-bottom">
                <h3 class="footer-title-style1" style="color: orange;">즐겨찾기</h3>
                <ul class="list-style-1 no-margin-bottom">
                    <li><a href="/bookmark" role="tab" data-flag="HT">▶ 숙소</a></li>
                    <li><a href="/bookmarkTr" role="tab" data-flag="TR">▶ 여행지</a></li>
                </ul>
            </div>

            <div class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom">
                <div id="mainHide">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-8" style="text-align: center; color: orange;" colspan="2">호텔명</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="h : ${bookHotel}">
                                <td style="width: 20%; border:0.1px solid lightgray;">
                                   <div class="img-container">
                                <img alt="" th:src="${h.img1}" width="120px;"></div></td>
                                <td style="text-align: center; width: 120px; border:0.1px solid lightgray;">
                                    <a th:text="${h.hotelName}"    th:href="@{/hotelDetail/{hotelId}(hotelId=${h.hotelId})}"></a><hr>
                                    
                                    <div><th:block th:text="${#strings.substring(h.hotelAddr, 0, 9)}" /></div>
                                    
                                </td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

	
</div>

</body>

</html>