<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
<script src="https://code.jquery.com/jquery-3.5.1.js";></script>
<script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js";></script>
    <title>Chat</title>
</head>
<body>
    <div>
        <input type="text" id="message" />
        <button id="send">Send</button>
    </div>
    
    <div class="row">
			<div class="col-md-12">
				<table id="conversation" class="table table-striped">
					<thead>
						<tr>
							<th>내용</th>
						</tr>
					</thead>
					<tbody id="chat">
					</tbody>
				</table>
			</div>
		</div>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script>
    var stompClient = null;
		
	    function setConnected(connected) {
	        $("#connect").prop("disabled", connected);
	        $("#disconnect").prop("disabled", !connected);
	        if (connected) {
	            $("#conversation").show();
	        }
	        else {
	            $("#conversation").hide();
	        }
	        $("#chat").html("");
	    }
    
        function connect() {
            var socket = new SockJS('/chatServer');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/chat', function(message) {
                    showMessage(JSON.parse(message.body).content);
                });
            });
        }

        function sendMessage() {
            var message = $('#message').val();
            stompClient.send("/app/chat", {} , JSON.stringify({'content': $("#message").val()}));
            $('#message').val('');
            
        }

        function showMessage(message) {
        	  $('#chat').append('<div>' + message + '</div>');
        	}

        $(function() {
            connect();
            $('#send').click(function() {
                sendMessage();
            });
        });
        
    
    </script>
</body>
</html>