<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml"
	xmlns:v-bind="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<title>Websocket ChatRoom</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- Bootstrap CSS -->

</head>
<body>
	<div layout:fragment="content" class="content">
		<!-- 배너시작 -->
		<section class="page-title-section bg-img cover-background"
			th:style="|background:url(/img/banner/bg2.jpg)|">
			<div class="container">

				<h1 class="text-white font-weight-600">커뮤니티</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><a href="/chat/room">채팅방 목록</a></li>
					<li><a href="/companionForm"><span class="active">채팅방</span></a></li>
				</ul>
			</div>
		</section>
		<div style="padding:100px; ">
		<div style="width:110px; margin:0 auto;">
				<h2>채팅방</h2>
			</div>
		<div class="container" id="app" v-cloak style="display: flex; justify-content: center; border:2px solid gray; width:550px; border-radius: 40px; padding:20px;">
			
			<div>
				<div class="list-group" ref="messageList" style="height: 400px; overflow-y: scroll;">
					<p class="list-group-item" v-for="message in reversedMessages"
						v-bind:class="{ sent: message.sender === sender, received: message.sender !== sender }">
						{{message.sender}} - {{message.message}}</p>
				</div>
				<div class="input-group">
					<input type="text" class="inputChat" v-model="message" v-on:keypress.enter="sendMessage">
					<div class="input-group-append">
						<button class="w-btn w-btn-gray" type="button" @click="sendMessage">보내기</button><hr>
					</div>
				</div>
				<div style="padding:10px">
				<button @click="disconnect" class="btn btn-danger btn-lg" style="float:right;">나가기</button></div>
				<div></div>
			</div>
		</div></div>

		<div id="alert" class="alert alert-warning" role="alert" style="display: none;">값이 입력되지 않았습니다. 입력해주세요.</div>
		<!-- JavaScript -->
		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

		<!-- axios -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

		<!-- sockjs-client -->
		<script src="https://cdn.jsdelivr.net/sockjs/latest/sockjs.min.js"></script>

		<!-- stomp-websocket -->
		<script>
			    var sock = new SockJS("/ws/chat");
			    var ws = Stomp.over(sock);
			    var reconnect = 0;
			    // vue.js
			 	 var vm = new Vue({
			    el: '#app',
			    data: {
			        roomId: '',
			        room: {},
			        sender: '',
			        message: '',
			        messages: []
			    },
			    created() {
			        this.roomId = localStorage.getItem('wschat.roomId');
			        this.sender = localStorage.getItem('wschat.sender');
			        this.messages = JSON.parse(localStorage.getItem('wschat.messages.' + this.roomId)) || [];
			        this.findRoom();
			    },
			    computed: {
			        reversedMessages: function() {
			            return this.messages.slice().reverse();
			        }
			    },
			    methods: {
			    	//방찾음
			        findRoom: function() {
			            axios.get('/chat/room/'+this.roomId).then(response => { this.room = response.data; });
			        },
			        //메세지보냄
			        sendMessage: function() {
			            if (!this.message) { // 입력값이 비어있는 경우
			                document.getElementById('alert').style.display = 'block'; // 알림창 띄우기
			                setTimeout(function() {
			                    document.getElementById('alert').style.display = 'none'; // 2초 후 알림창 닫기
			                }, 2000);
			                return; // 함수 종료
			            }
			            ws.send("/app/chat/message", {}, JSON.stringify({type:'TALK', roomId:this.roomId, sender:this.sender, message:this.message}));
			            this.message = '';
			        },
			        //메세지 받음
			        recvMessage: function(recv) {
			            this.messages.unshift({"type":recv.type,"sender":recv.type=='ENTER'?'[알림]':recv.sender,"message":recv.message});
			            localStorage.setItem('wschat.messages.' + this.roomId, JSON.stringify(this.messages));
			            this.$nextTick(() => {
			                const messageList = this.$refs.messageList;
			                messageList.scrollTop = messageList.scrollHeight;
			            });
			        }
			    }
			});
			
				
			    function connect() {
			        // pub/sub event
			        ws.connect({}, function(frame) {
			            ws.subscribe("/topic/chat/room/"+vm.$data.roomId, function(message) {
			                var recv = JSON.parse(message.body);
			                vm.recvMessage(recv);
			            });
			            ws.send("/app/chat/message", {}, JSON.stringify({type:'ENTER', roomId:vm.$data.roomId, sender:vm.$data.sender}));
			        }, function(error) {
			            if(reconnect++ <= 5) {
			                setTimeout(function() {
			                    console.log("connection reconnect");
			                    sock = new SockJS("/ws/chat");
			                    ws = Stomp.over(sock);
			                    connect();
			                },10*1000);
			            }
			        });
			    }
			    
			    connect();
			    function disconnect() {
			        ws.send("/app/chat/message", {}, JSON.stringify({type:'QUIT', roomId:vm.$data.roomId, sender:vm.$data.sender}));
			        // 퇴장할 때 메시지 전송
			        vm.messages.unshift({"type":"QUIT","sender":"[알림]","message":vm.sender+"님이 퇴장하셨습니다."});
			        localStorage.setItem('wschat.messages.' + vm.roomId, JSON.stringify(vm.messages));
			        vm.$nextTick(() => {
			            const messageList = vm.$refs.messageList;
			            messageList.scrollTop = messageList.scrollHeight;
			        });
			        ws.disconnect(function() {
			            window.location.href = "/chat/room";
			        });
			    };
</script>
	</div>
</body>
</html>