<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/index}">


<body>

<!-- 내용 시작 -->
	<div layout:fragment="content" class="content">
	
	<!-- 배너시작 -->  
		 <section  class="page-title-section bg-img cover-background" data-overlay-dark="6" data-background="img/banner/bg1.jpg">
 			<div class="container">
                 <h1 class="text-white font-weight-600">나만의 코스</h1>
                <ul>
                    <li>
                        <a href="index.html">My Page</a>
                    </li>
                    <li>
                        <span class="active">나만의 코스</span>
                    </li>
                </ul>
               </div>
        </section>
	 <!-- 배너끝 -->
	 
<style>
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100vw * ( 45/ 1920));
	height: calc(100vw * ( 45/ 1920));
	border-radius: 50%;
	border: solid 2px #eaeaea;
	background-color: #fff;	
}

</style>	 
  <div class="container">
                <div class="row">
                    <div class="">
                        <div class="padding-40px-all sm-padding-25px-all shadow text-center border-radius-4 bg-white">
                            <h3 class="margin-5px-bottom">나만의 코스 짜기</h3>
                            <p class="margin-30px-bottom">\(@^0^@)/</p>
                            <form action="#!" method="post">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input type="text" name="exampleInputName" id="exampleInputName" 
                                        th:placeholder="${myCourse.myCouName}">
                                    </div>
                                    <br><br>
                                    <div class="form-group col-md-3">
                                    	<select>
                                    		<option value="">가족코스</option>
                                    		<option value="">혼자여행</option>                                    		
                                    	</select>
                                    </div>
                                    <div class="form-group col-md-3">
                                    	<select>
                                    		<option value="">당일여행</option>
                                    		<option value="">1박2일</option>       
                                    		<option value="">1박2일 이상</option>                              		
                                    	</select>
                                    </div>
                                 <!-- 여기에 해당 여행지 집어넣기 -->
                                 <!-- 해당 여행지로 이동 불가한건 나중에 선생님께 여쭤보기 ㅎ... -->
                                    <table class="table table-hover">
	                                    <tbody>
											<tr th:each="m : ${myCouDet}">
												<td class="couOrd" th:text="${m.couOrd}" th:data-freecode="${m.myCouFreeCode}"></td>
												<td><img th:href="@{/tripDetail/{tripUniqueNumber}(tripUniqueNumber=${m.tripUniqueNumber})}" th:src="${m.imgGroCode}" style="width:200px; height:130px;"></td>											
												<td th:href="@{/tripDetail/{tripUniqueNumber}(tripUniqueNumber=${m.tripUniqueNumber})}" th:text="${m.tripName}"></td>
												<td th:text="${tripAddr}"></td>
												<td><button onclick="myCouDetailDel()" type="button" class="btn btn-danger">삭제</button></td>
												<td>
												<button class="icon box" type="button" onclick="moveUp()">
													<img src="https://img.icons8.com/material-sharp/24/null/circled-chevron-up.png"/>
                                				</button></td>
                                				<td>
                                				<button class="icon box" type="button" onclick="moveDown()">
													<img src="https://img.icons8.com/material-sharp/24/null/circled-chevron-down.png"/>
                                				</button>
                                				</td>
                                				<td><input type="hidden" class="tripLat" th:value="${m.tripLat}"></td>
                                				<td><input type="hidden" class="tripLon" th:value="${m.tripLon}"></td>
												<td><input type="hidden" id="myCouFreeCode" th:value="${m.myCouFreeCode}"></td>
											</tr>
										</tbody>
                                    </table>
                                    
                                    <!-- 구글 지도 API 이용 -->
                                <div id="map" style="height: 600px; width: 600px;"></div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <div><p id="total-distance" >총 거리 : </p></div>
                                <script type="text/javascript">
                                
                                var map;
                                var tripMap = [(${json})]
                                console.log(tripMap);
                                // 각 위도와 경도값을 ajax로 흥엉엉 
                                function initMap() {
                                	
                                    
                                    var defaultOptions = {
                                        zoom: 7.6,
                                        center:  {
                                			lat: Number(tripMap[0].tripLat),
                                			lng: Number(tripMap[0].tripLon)
                                	},
                                        disableDefaultUI: true,
                                        zoomControl: true
                                    };

                                         
                                    map = new google.maps.Map(document.getElementById('map'), defaultOptions);
                                    
                                    var totalDistance = 0; // 총 거리 변수 초기화

                                                                        
                                    for (var i = 0 ; i < tripMap.length; i++) {
                                    	var cityHall = {
                                    			lat: Number(tripMap[i].tripLat),
                                    			lng: Number(tripMap[i].tripLon)
                                    	}
                                    	
                                    	// 코스 순서 번호 
                                    	var couOrd = Number(tripMap[i].couOrd)
                                    
                                    	
                                    	if (i > 0) {
                                    		  var polyline = new google.maps.Polyline({
                                    		    path: [
                                    		      new google.maps.LatLng(tripMap[i-1].tripLat, tripMap[i-1].tripLon),
                                    		      new google.maps.LatLng(tripMap[i].tripLat, tripMap[i].tripLon)
                                    		    ],
                                    		    strokeColor: "#FF0000",
                                    		    strokeOpacity: 1.0,
                                    		    strokeWeight: 2
                                    		  });
                                    		  polyline.setMap(map);
                                    		}
                                    	
                                    	
                                    	// 여행지 이름 변수에 담기
                                    	var name = tripMap[i].tripName
                                    	
                                    	var marker = new google.maps.Marker({
	                                        position: cityHall,
	                                        map: map,                       
	                                        index: couOrd  // 순서 정보를 가진 변수 추가
		                                    });
                                    	
                                    	// 마커 위에 말풍선 추가
                                    	var infoWindow = new google.maps.InfoWindow({
                                            content: (marker.index) + ". " + name
                                        });
                                                              	
                                    		infoWindow.open(map, marker);
                                    	
                                            map.setCenter(marker.getPosition());                                       
                                                                      
                                         // 이전 마커와 현재 마커 사이의 거리 계산
                                         if (i > 0) {
                                            var distance = google.maps.geometry.spherical.computeDistanceBetween(
	                                            new google.maps.LatLng(tripMap[i-1].tripLat, tripMap[i-1].tripLon),
	                                            new google.maps.LatLng(tripMap[i].tripLat, tripMap[i].tripLon)
                                           );
                                            
                                            totalDistance += distance; // 총 거리에 현재 마커와 이전 마커 사이의 거리를 더해줌
                                            console.log('마커 사이의 거리 index:' + (i-1) + ' and index:' + i + ': ' + (distance/1000) + ' km');
                                         }                                            
		                               }
                                    
                                    	// totalDistance 값의 소수점 2자리 까지만 출력되게 함. (.tiFixed(2))
                                    	// id가 total-distance인 p태그에 값 출력
	                                    document.getElementById("total-distance").innerHTML = "총 거리: " + (totalDistance / 1000).toFixed(2) + " km";
		                           }
                                                                    
                                </script>

                                <script 
                                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrpcuEivzWEtuaTYVRatiBMrn-sZUYovQ&libraries=geometry&callback=initMap">
                                </script>
								<!-- api 끝 -->
                                    
                                 <!-- 여기까지가 여행지 영역임 -->
                                    </div>
                                    <br>
                                    <div class="form-group col-md-12">
                                        <textarea placeholder="소개글"></textarea>
                                    </div>
                                    <br>
                                    <div class="checkbox">
										 <strong> 여행 코스에 공유하시겠습니까? </strong>&nbsp&nbsp
										 <input type="radio" name="chkMenu" id="chkMenu01" value="1">
										 <label for="chkMenu01">예</label>&nbsp&nbsp&nbsp
										 <input type="radio" name="chkMenu" id="chkMenu02" value="0">
										 <label for="chkMenu02">아니오</label>
									</div>
									<br>
                                    <div class="col-md-12">
                                        <button type="button" class="butn" onclick="moveTotal(); myCouSharing();"><span>수정하기</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
<script type="text/javascript">

/* '삭제' 버튼 클릭 시, 해당 행(여행지) 삭제 */
	function myCouDetailDel() {
		if (confirm('해당 여행지를 삭제하시겠습니까?')) {
			var row = $(event.target).closest('tr');
			var couOrd = row.children().eq(0).text();
			var imgGroCode = row.children().eq(0).children().eq(0).attr('src');
			var tripName = row.children().eq(1).text();
			var tripAddr = row.children().eq(2).text();
		    var myCouFreeCode = row.find('#myCouFreeCode').val(); // 해당 row에서 id가 myCouFreeCode인 input 태그를 찾아 값을 가져옴
			
			$.ajax({
				url : "/myCouDetailDel",
				type : "POST",
				data : JSON.stringify({
					"imgGroCode" : imgGroCode,
					"tripName" : tripName,
					"tripAddr" : tripAddr,
					"myCouFreeCode" : myCouFreeCode
				}),
				contentType : 'application/json',
				success : function(data) {
					if (data == "success") {
						alert("삭제가 완료됐습니다.");
						row.remove(); // 행 삭제
						
						 // 서버에서 행이 삭제된 이후 모든 레코드의 couOrd(순서) 값을 1씩 감소시키기 위한 ajax 호출
	                   /* $.ajax({
	                        url: "/myCouUpdateOrd",
	                        type: "POST",
	                        data: JSON.stringify({
	                            "couOrd": couOrd
	                        }),
	                        contentType: 'application/json',
	                        success: function (data) {
	                            if (data == "success") {
	                                location.reload(); // 새로고침
	                            } else {
	                          }
	                        },
	                        error: function () {
	                        }
	                    }); */

					} else {
						alert("삭제 실패");
					}
				},
				error : function() {
					alert("삭제 실패");
				}
			});
		}
	}
	
/* ↑, ↓ 버튼 클릭 시 위아래로 이동 */
	function moveUp() {
		var row = $(event.target).closest('tr');
		var prevRow = row.prev();
		if (prevRow.length) {			
			var couOrd = row.find(".couOrd").text();		
			row.find(".couOrd").text(couOrd - 1);
			var couOrdPre = prevRow.find(".couOrd").text();
			prevRow.find(".couOrd").text(parseInt(couOrdPre) + 1);
			prevRow.before(row);
		}
		
	}

	function moveDown() {
		var row = $(event.target).closest('tr');
		var nextRow = row.next();

		if (nextRow.length) {
			var couOrd = row.find(".couOrd").text();
			row.find(".couOrd").text(parseInt(couOrd) + 1);
			var couOrdNext = nextRow.find(".couOrd").text();
			nextRow.find(".couOrd").text(couOrdNext - 1);
			nextRow.after(row);
		}
	}

	
	function moveTotal() {
		var data = [];
		/* data 배열에 담을 값은 내가 옮기는 코스의 순서(couOrd)와 기본키값(myCouFreeCode)
		   기본키값에 수정된 코스의 순서 번호를 담아 UPDATE 해서 저장하면 된다!
		   id값은 잘 못 읽으니 class로 변경했었다. */ 
		$(".couOrd").each(function(item) {
		    var obj = {};
		    obj.myCouFreeCode = $(this).data("freecode"); // th:data-freecode="${m.myCouFreeCode}"에서 가져온 값
		    obj.couOrd = $(this).text();
		    data.push(obj);
		  });
		
		console.log(data);
		
		$.ajax({
			url : "/moveSaveTrip",
			method : 'POST',
			data : JSON.stringify(data),
			contentType : 'application/json',
			success : function(response) {
				alert('저장되었습니다.');
				location.reload();
			},
			error : function(error) {
				alert('저장에 실패하였습니다.');
			}
		});	
	}
	
	var total = [(${json})]
	console.log(total)
	/* 테이블 여행지 정보와 지도, 소개글을 코스에 공유할 시 코스 목록에 출력 */
	function myCouSharing() {

	// "chkMenu"라는 이름을 가진 라디오 버튼 중에서 선택된 버튼의 값을 변수 shareFlag에 저장.
    var shareFlag = $('input[name="chkMenu"]:checked').val();
    console.log(shareFlag)
    
     //if (shareFlag == 1) {
    for (var i = 0 ; i < total.length; i++) {
        var mana = total[i].couOrd
        var tripName = total[i].tripName   
        var img
	    console.log('+++'+ mana)
	    console.log('+++'+ tripName)
    }
    	var row = $(event.target).closest('tr');
    	var couOrd = row.find('.couOrd').text(); // 해당 td태그의 값을 가져옴
	    var tripLat = $('.tripLat').map(function() {
	        return $(this).val();
	    }).get();
	    var tripLon = $('.tripLon').map(function() {
	        return $(this).val();
	    }).get();

    $.ajax({
        type: "POST",
        url: "/myCouSharing",
        data: { 
            shareFlag: shareFlag,
            couOrd: couOrd,
            tripLat: tripLat,
            tripLon: tripLon
        },
        success: function(result) {
            // Ajax 요청 성공 시 처리할 코드
        },
        error: function(xhr, status, error) {
            // Ajax 요청 실패 시 처리할 코드
        }
    });
}

</script>
            </div>
            
                                
</div>

</body>

</html>