<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/index}">


<style>
body {
	margin-bottom: 60px;
}

body>.container {
	padding: 60px 15px 0;
}

.gopage {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.pagination {
		margin: 0;
	}
	
</style>
<body>
	<!-- 내용 시작 -->
	<div layout:fragment="content" class="content">
	
	<!-- 배너시작 -->  
		 <section  class="page-title-section bg-img cover-background" data-overlay-dark="6" data-background="img/banner/bg1.jpg">
 			<div class="container">
                 <h1 class="text-white font-weight-600">나만의 코스</h1>
                <ul>
                    <li>
                        <a href="index.html">My Page</a>
                    </li>
                    <li>
                        <span class="active">나만의 코스</span>
                    </li>
                </ul>
               </div>
        </section>
	 <!-- 배너끝 -->
	<!-- start faq section -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-10 center-col">
						<div class="accordion" id="accordionOne">
							<div class="card">
								<div class="card-header" id="headingOne">
									<div class="mb-0">
										<div id="mainHide">
											<table class="table table-hover">
												<div class="pull-right"
													style="width: 100px; margin: 10px; margin-left: 800px;">
													<a id="Btn" class="btn btn-primary btn-block">코스만들기</a>
												</div>	
												
			<!-- 코스명 입력 Modal-->
            <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog modal-dialog modal-dialog-centered">
               <form id="titleForm" method="post">
                   <div class="modal-content ">
                     <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalLabel">코스명을 입력하세요</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                     <div class="modal-body">
                       <form>
                         <div class="form-group">
                         <!-- 코스명 입력란 -->
                           <input id="myCouName" name="myCouName" type="text" class="form-control">
                         </div>
                       </form>
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                       <button type="button" class="btn btn-primary" id="Reg">등록</button>
                     </div>
                     <input type="hidden" name="myCouId" id="myCouId" th:value="${session.name}">
                   </div>
                 </form>
                 </div>
               </div>
                                    <br>
																							
												<br>
												<thead>
													<tr>
														<th class="col-md-2">번호</th>
														<th class="col-md-5">코스명</th>
														<th class="col-md-3">코스테마</th>
														<th class="col-md-3">코스일정</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="m : ${test}">
														<td th:text="${m.myCourseCode}"></td>
														<td><a th:text="${m.myCouName}"
														th:href="@{/myCourseDetail/{myCourseCode}(myCourseCode=${m.myCourseCode})}"></a></td>
														<td th:text="${m.theme}"></td>
														<td th:text=${m.myCouDate}></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<br> <br>
								<!-- 나중에 히든으로 유저id 넘기기... -->
							<!-- 페이징? 할려나? 모르겠음 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

<script type="text/javascript">

/* '등록' 버튼 클릭 시 데이터 바로 들어가는? 폼...? */

		

/* '코스만들기' 버튼 클릭 시 모달창 뜨기 */
$('#Btn').click(function(e){
         e.preventDefault();
         $('#exampleModal').modal("show");
      });
      
/* '등록' 버튼 클릭 시 코스명, 회원아이디 db에 담기 */
$("#Reg").click(function(){
	   let myCouName = $("#myCouName").val(); // 코스명 내용
	   let myCouId = $("#myCouId").val(); // 회원아이디
	   
	   $.ajax({
		   url : "/myCourseInsert",
		   type: "POST",
		   data : JSON.stringify({
			   "myCouName" : myCouName,
			   "myCouId" : myCouId
		   }),
		   contentType : 'application/json',
		   success : function(data) {
			   if(data == "success") {
				   alert("등록 성공");
				   $('#exampleModal').modal("hide"); // 모달 숨기기
				   location.reload(true);
			   } else {
				   alert("등록 실패");
			   }
			   $("#myCouName").val();
		   },
	  	   error: function() {
	  		   alert('등록 실패');
	  	   }
	   });
	});
      
</script>	
	
	</div>

</body>

</html>