<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/index}">

<body>
  
  <div layout:fragment="content" class="content">
  <!--좋아요 버튼 css-->
<style>
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	
}

.right_area .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100vw * ( 45/ 1920));
	height: calc(100vw * ( 45/ 1920));
	border-radius: 50%;
	border: solid 2px #eaeaea;
	background-color: #fff;
	
	
}

.icon.heart img {
	width: calc(100vw * ( 24/ 1920));
	height: calc(100vw * ( 24/ 1920));
}

.icon.heart.fas {
	color: red;
	position: absolute;
     left: 700px;
      top: 50px;
	
}

.heart {
	transform-origin: center;
	
	
}

.heart.active img {
	animation: animateHeart .3s linear forwards;
	
}

@keyframes animateHeart { 0%{
	transform: scale(.2);
	
}
40%
{
transform:scale(1.2);

}
100%
{
transform:scale(1);
}
}
#greatBtn{
position: absolute;
     left: 700px;
      top: 50px;
}


#tripBtn{
	position: absolute;
	left: 650px;
	top: 50px;
}

</style>
<!--좋아요 버튼 css-종료-->	
  
  <!-- 배너시작 -->  
		 <section  class="page-title-section bg-img cover-background" data-overlay-dark="6" data-background="img/banner/bg1.jpg">
 			<div class="container">
               
                <h1 class="text-white font-weight-600">여행 지역</h1>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span class="active">여행 지역</span>
                    </li>
                    <li>
                        <a href="index.html">상세정보</a>
                    </li>
                </ul>
               </div>
        </section>
	 <!-- 배너끝 -->
	 
	<!-- 썸네일 리스트 -->
	<!-- start blog detail section -->
     [[${trip.tripLat}]]
        <section class="blogs"></section>
            <div class="container">
                <div class="row">
                    <!--  start blog left-->
                    <div class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom">
                        <div class="posts">
                            <!--  start post-->
                            <div class="post">
                                <div class="post-img">
                                    <img src="img/blog/blog-7.jpg" alt="" />
                                </div>
                                <div class="content">
                                    <div class="blog-list-simple-text post-meta">
                                        <div class="post-title">
                                            <h5 th:text="${trip.tripName}">팔공산온천관광호텔(온천)예시임</h5>
                                        </div>
                        		<!-- 나만의 코스 여행지 담기 버튼 기능 -->
                                        <div class="right_area" id="tripBtn">
                                			<button class="icon box">
												<img src="https://img.icons8.com/material-outlined/24/null/downloads.png"/>
                                			</button>
                         				</div>
                      			<!-- 나만의 코스 여행지 담기 버튼 기능 -->
                      			
             <!-- '여행지 담기' 버튼 클릭 시 뜨는 Modal-->
            <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog modal-dialog-scrollable를">
                  <form id="myCourseInsert" method="post">
                   <div class="modal-content ">
                     <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalLabel">코스 선택</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                     <div th:each="m : ${myCou}"  class="modal-body">
                         <div class="form-group">
                         	<label th:text="${m.myCouName}" for="recipient-name" class="col-form-label">코스목록 떠야함</label>
                         	<button id="couSel" type="button" class="btn btn-outline-info" onclick="myCouTripInsert()">선택</button>                       
                         	<input type="hidden" name="myCourseCode" id="myCourseCode" th:value="${m.myCourseCode}">
                         </div>
                         <hr>
                         <br>
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                     <input type="hidden" name="tripUniqueNumber" id="tripUniqueNumber" th:value="${trip.tripUniqueNumber}">
                     </div>
                   </div>
                   </form>
                 </div>
               </div>
               <!-- modal 끝 -->
                        		
                        		<!--좋아요 버튼 기능html-->
                       						 	<div class="right_area" id="greatBtn">
												<button type="button" class="icon heart">
													<img src="https://cdn-icons-png.flaticon.com/512/812/812327.png" id="greatImg">
													<input type="hidden" id="id" name="id" th:value="${session.name}">
												</button>
												</div>												
											</div>
						<!--좋아요 버튼 기능html 종료-->	
						
									<!-- /////////////
                                 		북마크
                                 ///////////////// -->
                                 <!--즐찾 버튼 기능html-->
                                 <!-- 즐겨찾기를 누르지 않은 경우  -->
                                 <div class="book_area">
                                    <div class="bmark">
                                       <a href="#" class="emptyMark">
                                          <i class="fa-regular fa-bookmark" ></i>
                                       </a>
                                        <a href="/bookDel/{bookCode}" class="fullMark" style="display: none;">
                                     <i class="fa-solid fa-bookmark"></i>                                       
                                       </a> 
                                       <input type="hidden" id="id" name="id"
                                          th:value="${session.name}">
                                       <!-- 즐겨찾기를 누른 경우 -->
                                    </div>
                                 </div>
                                 <!-- 즐찾 버튼 끝 -->
                                 
                                 
                                    </div>
                                    <ul class="meta">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-user" aria-hidden="true"></i> Admin
                                            </a>                                     
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-comments" aria-hidden="true"></i> 0 Comments
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="margin-30px-bottom">
                                    
                                    </div>
                                    <div class="row margin-30px-bottom">
                                        <div class="col-6">
                                            <img th:src="${trip.imgGroCode}" style="width:440; height:280px;" class="rounded" alt="" />
                                        </div>
                                        <div class="col-6">
                                            <img src="img/blog/blog-11.jpg" class="rounded" alt="" />
                                        </div>
                                    </div>
                                    <p th:text="${trip.tripSumm}"></p>
                                </div>
                            </div>
                            <!--  start post-->
                            
                            <!-- 상세정보 -->
                            <ul class="tour-inner">
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">문의 및 안내</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.tripAnnounce}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">쉬는 날</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.restDate}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">이용시간</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.useTime}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">주차시설</h6>
													</div>
													<div>
														<p 
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.tripParking}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">유모차 대여 여부</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.tripChild}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">애완동물 동반가능 여부</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.tripPet}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">신용카드 가능 여부</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.tripChkCard}]]</p>
													</div>
												</div>
											</li>
									</ul>
                            <!-- 상세정보 끝 -->
                            
                            <!-- 구글 지도 API 이용 TEST -->
                                <div id="map" style="height: 600px;"
                                th:attr="data-lat=${trip.tripLat}, data-lon=${trip.tripLon}, data-name=${trip.tripName}"></div>
                                <script type="text/javascript">
                                var map;
                                function initMap() {
                                    var cityHall = {
                                        lat: parseFloat(document.getElementById('map').getAttribute('data-lat')),
                                        lng: parseFloat(document.getElementById('map').getAttribute('data-lon'))
                                    };
                                    
                                    var tripName = document.getElementById('map').getAttribute('data-name');


                                    var defaultOptions = {
                                        zoom: 12,
                                        center: cityHall,
                                        disableDefaultUI: true,
                                        zoomControl: true
                                    };

                                    map = new google.maps.Map(document.getElementById('map'), defaultOptions);

                                    var marker = new google.maps.Marker({
                                        position: cityHall,
                                        map: map,
                                    });
                                    
                                    var infoWindow = new google.maps.InfoWindow({
                                        content: tripName
                                    });
                                        infoWindow.open(map, marker);
                                        map.setCenter(marker.getPosition());
                                }
                                </script>

                                <script async defer
                                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrpcuEivzWEtuaTYVRatiBMrn-sZUYovQ&callback=initMap">
                                </script>
                     <!-- api 끝 -->

							
                            <!--  start comment-->
                            <div class="comments-area">
                                <div class="title-g margin-30px-bottom">
                                    <h3>Comments</h3>
                                </div>
                                <div class="comment-box">
                                    <div class="author-thumb">
                                        <img src="img/blog/01.png" class="rounded-circle width-85 xs-width-100" alt="" />
                                    </div>
                                    <div class="comment-info">
                                        <h6><a href="javascript:void(0);">Alex Joyrina</a></h6>
                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <div class="reply">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-reply" aria-hidden="true"></i> Reply
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-box">
                                    <div class="author-thumb">
                                        <img src="img/blog/02.png" alt="" class="rounded-circle width-85 xs-width-100" />
                                    </div>
                                    <div class="comment-info">
                                        <h6><a href="javascript:void(0);">Jama Karleny</a></h6>
                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <div class="reply">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-reply" aria-hidden="true"></i> Reply
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-box">
                                    <div class="author-thumb">
                                        <img src="img/blog/03.png" alt="" class="rounded-circle width-85 xs-width-100" />
                                    </div>
                                    <div class="comment-info">
                                        <h6><a href="javascript:void(0);">Ivonne Drennen</a></h6>
                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <div class="reply">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-reply" aria-hidden="true"></i> Reply
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end comment-->

                            <!--  start form-->
                            <div class="comment-form">
                                <div class="title-g margin-30px-bottom">
                                    <h3>Post a Comment</h3>
                                </div>
                                <form action="#!" id='comment-form' method='post'>
                                    <div class="controls">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required"></textarea>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="butn"><span>Send Message</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--  end form-->
                        </div>
                    </div>
                    <!--  end blog left-->
                </div>
                                
                
                <script>
				
				//좋아요 기능 시작

				//회원 좋아요 있는지 여부 확인 
				$(document).ready(function(){
					getGreat()
				})
				
				var id = $('#id').val();  //id값 들고오기 
				var greatNcode = window.location.pathname.split("/").pop(); //상세페이지 번호
				var greatFlag = ("LTR");  //호텔 구분
				var $likeBtn = $('.heart'); //하트버튼 id값
				
				
				var greatVO = {
					    id: id,
					    greatFlag: greatFlag,
					    greatNcode: greatNcode
					};
				
				//회원 좋아요 있는지 여부 확인 
				function getGreat(){
				$.ajax({
				  url: "/greatCheck/"  + greatNcode +"/"+ id,
				  data: greatVO
				}).then(function(result) { 
				  if (result) { // greatCheck 메서드에서 반환된 값이 true/false이므로, result로 바로 사용 가능
				    $likeBtn.addClass("active")
				    .find("img").attr({
				      src: "https://cdn-icons-png.flaticon.com/512/803/803087.png", 
				    })
				  } else {
				    $likeBtn.removeClass("active")
				    .find("img").attr({
				      src: "https://cdn-icons-png.flaticon.com/512/812/812327.png",
				    })
				    
				  }

				});
				}

				$(function() {
					  $likeBtn.click(function() {
					    if (!$likeBtn.hasClass('active')) {
					      $(this).find('img').attr({
					        'src': 'https://cdn-icons-png.flaticon.com/512/803/803087.png',
					        alt: '좋아요 꽉찬거'
					      });
					      great(); //좋아요 함수 호출 
					    } else {
					      $(this).find('i').removeClass('active');
					      $(this).find('img').attr({
					        'src': 'https://cdn-icons-png.flaticon.com/512/812/812327.png',
					        alt: '좋아요 안한거'
					      });
					      greatDown(); //좋아요 취소 호출 
					    }
					  });
					});


			  
				//좋아요 클릭시 효과 
				 function great() {
				  $.ajax({
				    url: "/greatUP/" + greatNcode,
				    type: "POST",
				    data: greatVO,
				    success: function(result) {
				      alert(result.message);
				      getGreat(); //회원 확인 여부 호출
				    },
				    error: function() {
				      alert("좋아요를 누르는 중 오류가 발생했습니다.");
				      getGreat(); //회원 확인 여부 호출
				    }
				  });
				  console.log(greatVO);
				}

				//좋아요 취소시 효과 기능 
				function greatDown(){
				      $.ajax({
				        url: "/greatDown/" + greatFlag + "/" + greatNcode + "/" + id,
				        type: "POST",
				        data: greatVO,
				        success: function(result) {
				          alert(result.message);
				          getGreat(); //회원 확인 여부 호출
				        },
				        error: function() {
				          alert("좋아요 취소 중 오류가 발생했습니다.");
				        }
				          });
				    } 
				
				/* -----------------------
               			 북마크 START
        		  -----------------------*/
       
          $(function() {
               // 즐겨찾기 추가 여부 확인 함수
               function checkBookmark() {
                 var id = $('#id').val();
                 var bookNcode = window.location.pathname.split("/").pop();
                 var bookFlag = ("TR") // 호텔/여행지 여부에 따라 bookFlag 값 지정
                 var bookCode =  $('#bookCode').val();

                 $.ajax({
                   type: 'POST',
                   url: '/bookmarkCheck/' + bookNcode + '/' + id,
                   data: {
                     'id': id,
                     'bookCode': bookCode
                   },
                   success: function(data) {
                       if (data === true) { // 즐겨찾기 추가된 경우
                           $('.emptyMark').hide(); // emptyMark 숨김
                           $('.fullMark').show(); // fullMark 보임
                       } else { // 즐겨찾기 추가되지 않은 경우
                           $('.fullMark').hide(); // fullMark 숨김
                           $('.emptyMark').show(); // emptyMark 보임
                       }
                   },
                   error: function() {
                       console.log('bookmarkCheck 오류');
                   }
               });
               }

               // 페이지 로딩시 즐겨찾기 추가 여부 확인(새로고침에도 북마크 값 가지고옴)
               checkBookmark();

               
               //즐겨찾기 추가 (emptyMark 클릭 시)
               $('.emptyMark').on('click', function(e) {
                 e.preventDefault();
                 var id = $('#id').val();
                 var bookCode = $(this).data('bookcode');
                 var bookNcode = window.location.pathname.split("/").pop();
                 var fullMark = $(this).siblings('.fullMark');
                 var emptyMark = $(this);

                 $.ajax({
                   type: 'POST',
                   url: '/insertBookTrip/' + bookNcode,
                   data: {
                     'bookCode': bookCode,
                     'bookNcode': bookNcode
                   },
                   success: function(data) {
                     if (data.bookCode > 0) {
                       $('.emptyMark').hide();
                       $('.fullMark').show();
                       //alert('등록완료');
                     } else {
                       // 실패했을 때 
                     }
                   },
                   error: function() {
                     alert('등록실패!');
                   }
                 });
               });
             });

          //즐겨찾기 취소(fullMark 클릭시)
        $('.fullMark').on('click', function(e) {
			  e.preventDefault();
			  var id = $('#id').val();
			  var bookCode = $(this).data('bookcode');
			  var bookNcode = window.location.pathname.split("/").pop();
			  var emptyMark = $(this).siblings('.emptyMark');
			  var fullMark = $(this);
			
			  $.ajax({
			    type: 'POST',
			    url: '/bookDel/' + bookNcode,
			    data: {
			      'bookCode': bookCode,
			      'bookNcode': bookNcode
			    },
			    success: function(data) {
			      if (data > 0) {
			    	  emptyMark.show();
		              fullMark.hide();
			        //alert('취소완료');
			      } else {
			        // 실패했을 때 
			      }

			    },
			    error: function() {
			      alert('취소실패!');
			    }
			  });
			});
        /* -----------------------
        		북마크 끝!
  		-----------------------*/
  
				
				/* 여행지 나만의 코스에 담기 */
				/* '여행지 담기' 버튼 클릭 시 모달창 뜨기 */
				$('#tripBtn').click(function(e){
				         e.preventDefault();
				         $('#exampleModal').modal("show");
				      });
				
				/* '선택' 버튼 클릭 시, 여행고유번호 db에 담기*/
				function myCouTripInsert(){
					let tripUniqueNumber = $("#tripUniqueNumber").val(); // 여행고유번호
					let myCourseCode = $(event.target).next().val();
					console.log(event.target)
					$.ajax({
						url : "/myCouTripInsert",
						type : "POST",
						data : JSON.stringify({
							"tripUniqueNumber" : tripUniqueNumber,
							"myCourseCode" : myCourseCode
						}),
						contentType : 'application/json',
						success : function(data) {
							if(data == "success") {
								alert("해당 코스에 담았습니다");
							} else {
								alert("담기 실패");
							}
							$("#tripUniqueNumber").val();
						},
						error: function() {
							alter('담기 실패');
						}
					});
				};
				
				
				</script>
            </div>
        </section>
        <!-- end blog detail section -->
	<!-- 썸네일 리스트 끝 -->
</div>

</body>
</html>