<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/index}">

<body>

   <div layout:fragment="content" class="content">
      <!-- start tour-list section -->
      <section>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom">
                  <div class="row margin-30px-bottom">
                     <div class="col-12 margin-40px-bottom">
                     
                        <div class="card card-list">
                                 <ul class="no-margin-bottom">
                                    <li><a href="javascript:void(0);" onclick="testapi(); return false;" class="font-size20 text-theme-color">여행지</a>
                                       <a class="font-size20 text-theme-color">|</a>
                                       <a href="#" class="font-size20 text-theme-color">코스</a>
                                    
                                       <a href="#" class="font-size20 text-theme-color" >검색 옵션</a>
                                       <a class="font-size20 text-theme-color">|</a>
                                       <a href="#" class="font-size20 text-theme-color">최신순</a>
                                       <a class="font-size20 text-theme-color">|</a>
                                       <a href="#" class="font-size20 text-theme-color">인기순</a>
                                       <a class="font-size20 text-theme-color">|</a>      
                                       <a href="#" class="font-size20 text-theme-color">조회순</a>
                                    </li>
                                    </ul>                        
                        </div><br>

             
                     </div>
	
					
                </div>
                     
                     
				<div id="tripList"></div>

                    

                
                     <div
                        class="pagination text-small text-uppercase text-extra-dark-gray col-12">
                        <ul>
                           <li><a href="javascript:void(0);"><i
                                 class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i>
                                 Prev</a></li>
                           <li class="active"><a href="javascript:void(0);">1</a></li>
                           <li><a href="javascript:void(0);">2</a></li>
                           <li><a href="javascript:void(0);">3</a></li>
                           <li><a href="javascript:void(0);">Next <i
                                 class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
                        </ul>
                     </div>

                  </div>
               </div>
               <div class="col-lg-4 col-md-12 padding-30px-left sm-padding-15px-left">
                        <div class="side-bar">
                       <div class="widget">
                                   <div class="widget-title">
                                       <h3>태그</h3>
                                   </div>
                                   <p>월별</p>
                                   <ul class="tags">
                                       <li><a href="#">#전체</a></li>
                                       <li><a href="#">#1월</a></li>
                                       <li><a href="#">#2월</a></li>
                                       <li><a href="#">#3월</a></li>
                                       <li><a href="#">#4월</a></li>
                                       <li><a href="#">#5월</a></li>
                                       <li><a href="#">#6월</a></li>
                                       <li><a href="#">#7월</a></li>
                                       <li><a href="#">#8월</a></li>
                                       <li><a href="#">#9월</a></li>
                                       <li><a href="#">#10월</a></li>
                                       <li><a href="#">#11월</a></li>
                                       <li><a href="#">#12월</a></li>                                       
                                   </ul>
                               </div>
                         </div>
                   </div>
               
            </div>
      </section>
   <script type="text/javascript">
function testapi() {
   // code : 지역번호 (일단 1-8번)
   // title: 제목, addr1 : 주소 일단? 가져와보기?
   fetch(
         `https://apis.data.go.kr/B551011/KorService/areaBasedList?serviceKey=5gtCcmZt9I035nXIlRn1NfxTbfivYkN69cghQlZ5EGLSe%2FvYaLMhXG%2B3bN1fQ%2F2BASibMcSqEouIrIyqNT64Eg%3D%3D&numOfRows=40&pageNo=1&MobileOS=ETC&MobileApp=AppTest&_type=json&listYN=Y&arrange=CA&areaCode=32&cat1=`
         )
         .then(res => res.json())
         .then(data => {
            let tripList = data.response.body.items.item;
            console.log(tripList);
   
            for (let trip of tripList) {
               let tr = ` <div class="card card-list margin-15px-bottom">
                   <div class="row align-items-center">
                   <div class="col-md-5 col-lg-4 xs-margin-20px-bottom">
                      <div class="card-list-img">
                         <img class="border-radius-5" src="${trip.firstimage2}" style="width:300; height:200px;"
                            alt="" />
                      </div>
                   </div>
                   <div class="col-md-7 col-lg-8" id="trip">
                      <div
                         class="card-body padding-15px-tb xs-no-padding-top xs-padding-20px-left padding-40px-right no-padding-left">
                         <div
                            class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title no-margin-bottom font-size22">
                               <a id="title" href="tour-detail.html" class="text-extra-dark-gray">${trip.title}</a>
                            </h5>
                         </div>
                         <p class="margin-20px-tb sm-margin-10px-top">${trip.addr1}</p>
                         <!-- 해시태그 -->
                         <ul class="tags">
                         <li><a href="#">#대구</a></li>
                         </ul>
                      </div>

                   </div>
                </div>
             </div>`
            
               
    
               $("#tripList").append(tr);

            }
         
         })
         .catch(data => console.log(data));
    }
    
	testapi();
	
</script >   
   </div>
      <!-- end tour-list section -->

</body>
</html>