<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<body>
  
  <div layout:fragment="content" class="content">
  <script src="/js/comments.js"></script>
  <!--좋아요 버튼 css-->
<style>
/* 댓글 css  */
.btnDel {
  width: 70px;
  height: 40px;

}
.comment-box {
margin-bottom: 50px;
position: relative;
}

.comment-box .author-thumb {
float: left;
margin-right: 15px;
position: relative;
z-index: 1;
}

.comment-box .author-thumb img {
max-width: 100%;
}

.comment-box .comment-info h6 {
margin-top: 0;
margin-bottom: 5px;
}

.comment-box .reply {
margin-top: 10px;
font-size: 14px;
}

.comment-box .reply a {
color: #999;
margin-left: 10px;
}

.comment-box .rep-form {
margin-left: 100px;
}

.comment-box .comRep {
width: 100%;
height: 100px;
border: 1px solid #ddd;
padding: 10px;
margin-bottom: 10px;
}

.comment-box .reButn {
background-color: #2d8bff;
color: #fff;
border: none;
padding: 8px 20px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
margin-right: 10px;
}

.comment-box .btnDel {
float: right;
background-color: #d9534f;
color: #fff;
border: none;
padding: 8px 20px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
margin-right: 10px;
}

.comment-box .secChk {
margin-left: 10px;
}

.comment-box .comContent {
white-space: pre-line;
}

.comment-box p {
margin: 0;
font-size: 14px;
line-height: 1.5;
color: #666;
}

.comment-box .title-g {
margin-bottom: 30px;
}

.comment-box .title-g h3 {
margin-top: 0;
margin-bottom: 15px;
font-size: 28px;
line-height: 1.3;
font-weight: 700;
color: #333;
}
 .posts {
  margin-top: 40px;
}

.comments-area {
  margin-bottom: 40px;
}

.comment-form {
  margin-bottom: 60px;
}

.controls {
  padding-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.butn {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  padding: 12px 24px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.butn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.butn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.butn:hover span {
  padding-right: 25px;
}

.butn:hover span:after {
  opacity: 1;
  right: 0;
}

.secChk {
  margin-left: 10px;
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	
}
/* 댓글 css 끝 */

.right_area .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100vw * ( 45/ 1920));
	height: calc(100vw * ( 45/ 1920));
	border-radius: 50%;
	border: solid 2px #eaeaea;
	background-color: #fff;
	
	
}

.icon.heart img {
	width: calc(100vw * ( 24/ 1920));
	height: calc(100vw * ( 24/ 1920));
}

.icon.heart.fas {
	color: red;
	position: absolute;
     left: 700px;
      top: 50px;
	
}

.heart {
	transform-origin: center;
	
	
}

.heart.active img {
	animation: animateHeart .3s linear forwards;
	
}

@keyframes animateHeart { 0%{
	transform: scale(.2);
	
}
40%
{
transform:scale(1.2);

}
100%
{
transform:scale(1);
}
}
#greatBtn{
position: absolute;
     left: 700px;
      top: 50px;
}


#tripBtn{
   position: absolute;
   left: 765px;
   top: 50px;
}


</style>
<!--좋아요 버튼 css-종료-->	
  
  <!-- 배너시작 -->  
		 <section  class="page-title-section bg-img cover-background" data-overlay-dark="6" data-background="img/banner/bg1.jpg">
 			<div class="container">
               
                <h1 class="text-white font-weight-600">여행 지역</h1>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span class="active">여행 지역</span>
                    </li>
                    <li>
                        <a href="index.html">상세정보</a>
                    </li>
                </ul>
               </div>
        </section>
	 <!-- 배너끝 -->
	 
	<!-- 썸네일 리스트 -->
	<!-- start blog detail section -->
        <section class="blogs"></section>
            <div class="container">
                <div class="row">
                    <!--  start blog left-->
                    <div class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom">
                        <div class="posts">
                            <!--  start post-->
                            <div class="post">
                                <div class="post-img">
                                    <img src="img/blog/blog-7.jpg" alt="" />
                                </div>
                                <div class="content">
                                    <div class="blog-list-simple-text post-meta">
                                        <div class="post-title">
                                            <h5 th:text="${trip.tripName}"></h5>
                                        </div>
                        		<!-- 나만의 코스 여행지 담기 버튼 기능 -->
                                        <div class="right_area" id="tripBtn">
                                			<button class="icon box">
												<img src="https://img.icons8.com/material-outlined/24/null/downloads.png"/>
                                			</button>
                         				</div>
                      			<!-- 나만의 코스 여행지 담기 버튼 기능 -->
                      			
             <!-- '여행지 담기' 버튼 클릭 시 뜨는 Modal-->
            <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog modal-dialog-scrollable를">
                  <form id="myCourseInsert" method="post">
                   <div class="modal-content ">
                     <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalLabel">코스 선택</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                     <div th:each="m : ${myCou}" th:if="${m.myCouId == session.name || session.name == 'ADMIN'}" class="modal-body">
                         <div class="form-group">
                         	<label th:text="${m.myCouName}" for="recipient-name" class="col-form-label">코스목록 떠야함</label>
                         	<button id="couSel" type="button" class="btn btn-outline-info" onclick="myCouTripInsert()">선택</button>                       
                         	<input type="hidden" name="myCourseCode" id="myCourseCode" th:value="${m.myCourseCode}">
                         </div>
                         <hr>
                         <br>
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                     <input type="hidden" name="tripUniqueNumber" id="tripUniqueNumber" th:value="${trip.tripUniqueNumber}">
                     </div>
                   </div>
                   </form>
                 </div>
               </div>
               <!-- modal 끝 -->
                        		
                        		<!--좋아요 버튼 기능html-->
                       						 	<div class="right_area" id="greatBtn">
												<button type="button" class="icon heart">
													<img src="https://cdn-icons-png.flaticon.com/512/812/812327.png" id="greatImg">
												</button>
												<input type="hidden" id="id" name="id" th:value="${session.name}">
												</div>												
											</div>
						<!--좋아요 버튼 기능html 종료-->	
						
									<!-- /////////////
                                 		북마크
                                 ///////////////// -->
                                 <!--즐찾 버튼 기능html-->
                                 <!-- 즐겨찾기를 누르지 않은 경우  -->
                                 <div class="book_area">
                                    <div class="bmark">
                                       <a href="#" class="emptyMark">
                                          <i class="fa-regular fa-bookmark" ></i>
                                       </a>
                                        <a href="/bookDel/{bookCode}" class="fullMark" style="display: none;   ">
                                     <i class="fa-solid fa-bookmark"></i>                                       
                                       </a> 
                                       <input type="hidden" id="id" name="id"
                                          th:value="${session.name}">
                                       <!-- 즐겨찾기를 누른 경우 -->
                                    </div>
                                 </div>
                                 <!-- 즐찾 버튼 끝 -->
                                 
                                 
                                    </div>
                                    <ul class="meta">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-user" aria-hidden="true"></i> Admin
                                            </a>                                     
                                        <li>
                                        </li>
                                    </ul>
                                    <div class="margin-30px-bottom">
                                    
                                    </div>
                                    <div class="row margin-30px-bottom">
                                        <div class="col-6">
                                            <img th:if="${trip.tripCode < 2221}" th:src="${trip.imgGroCode}" style="width:440; height:280px;" class="rounded" alt="" />
                                            <img th:if="${trip.tripCode >= 2221}" th:src="'/image/'+${trip.imgPath}" style="width:440; height:280px;" class="rounded" alt="" />
                                        </div>
                                        <div class="col-6">
                                            <img src="img/blog/blog-11.jpg" class="rounded" alt="" />
                                        </div>
                                    </div>
                                    <p th:text="${trip.tripSumm}"></p>
                                </div>
                            </div>
                            <!--  start post-->
                            
                            <!-- 상세정보 -->
                            <ul class="tour-inner">
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">문의 및 안내</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.tripAnnounce}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">쉬는 날</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.restDate}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">이용시간</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.useTime}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">주차시설</h6>
													</div>
													<div>
														<p 
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.tripParking}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">유모차 대여 여부</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.tripChild}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">애완동물 동반가능 여부</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.tripPet}]]</p>
													</div>
												</div>
											</li>
											<li>
												<div class="row align-items-center">
													<div class="col-md-6">
														<h6 class="font-size17 no-margin-bottom">신용카드 가능 여부</h6>
													</div>
													<div>
														<p
															class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">[[${trip.tripChkCard}]]</p>
													</div>
												</div>
											</li>
									</ul>
                            <!-- 상세정보 끝 -->
                            
                            	<p style="font-size: 30px;">지도<p><hr>
                            <!-- 구글 지도 API 이용 TEST -->
                                <div id="map" style="height: 600px;"
                                th:attr="data-lat=${trip.tripLat}, data-lon=${trip.tripLon}, data-name=${trip.tripName}"></div>
                                <script type="text/javascript">
                                var map;
                                function initMap() {
                                    var cityHall = {
                                        lat: parseFloat(document.getElementById('map').getAttribute('data-lat')),
                                        lng: parseFloat(document.getElementById('map').getAttribute('data-lon'))
                                    };
                                    
                                    var tripName = document.getElementById('map').getAttribute('data-name');


                                    var defaultOptions = {
                                        zoom: 12,
                                        center: cityHall,
                                        disableDefaultUI: true,
                                        zoomControl: true
                                    };

                                    map = new google.maps.Map(document.getElementById('map'), defaultOptions);

                                    var marker = new google.maps.Marker({
                                        position: cityHall,
                                        map: map,
                                    });
                                    
                                    var infoWindow = new google.maps.InfoWindow({
                                        content: tripName
                                    });
                                        infoWindow.open(map, marker);
                                        map.setCenter(marker.getPosition());
                                }
                                </script>

                                <script async defer
                                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrpcuEivzWEtuaTYVRatiBMrn-sZUYovQ&callback=initMap">
                                </script>
                     <!-- api 끝 -->
               <!-- 댓글 시작 -->
			<section class="blogs">
				<div class="posts">
					<div class="posts">
                         <div class="comments-area"></div>
							<div class="comment-form">
								<form id='comment-form' method='post'>
									<div class="controls">
										<div class="row">
												<input type="hidden" name="id" th:value="${session.name}" id="id">
												<input type="hidden" th:value="${session.perm}" id="perm">
												<div class="col-md-12 form-group">
													<textarea id="comContent" name="comContent"
														placeholder="댓글 내용" rows="2" required="required"></textarea>
												</div>
												<div class="col-md-12">
													<button type="button" id="butn" class="butn">
														<span>댓글 달기</span>
													</button>
													<label><input type="checkbox" id="lockChk"class="secChk" value="1">비밀</label>
												</div>
											</div>
										</div>
										<input type="hidden" id="comBoardCode" name="comBoardCode" th:value="${trip.tripCode}">
										<input type="hidden" id="comFlag" name="comFlag" value="CTR">
									</form>
								</div>
							</div>
						</div>
				</section>
				<!-- 댓글 끝 -->
                            <!--  end form-->
                        </div>
                    </div>
                    <!--  end blog left-->
                </div>
                                
                
                <script>
				
				//좋아요 기능 시작

				//회원 좋아요 있는지 여부 확인 
				$(document).ready(function(){
					getGreat()
				})
				
				var id = $('#id').val();  //id값 들고오기 
				var greatNcode = window.location.pathname.split("/").pop(); //상세페이지 번호
				var greatFlag = ("LTR");  //호텔 구분
				var $likeBtn = $('.heart'); //하트버튼 id값
				
				
				var greatVO = {
					    id: id,
					    greatFlag: greatFlag,
					    greatNcode: greatNcode
					};
				
				//회원 좋아요 있는지 여부 확인 
				function getGreat(){
				$.ajax({
				  url: "/greatCheck/"  + greatNcode +"/"+ id,
				  data: greatVO
				}).then(function(result) { 
				  if (result) { // greatCheck 메서드에서 반환된 값이 true/false이므로, result로 바로 사용 가능
				    $likeBtn.addClass("active")
				    .find("img").attr({
				      src: "https://cdn-icons-png.flaticon.com/512/803/803087.png", 
				    })
				  } else {
				    $likeBtn.removeClass("active")
				    .find("img").attr({
				      src: "https://cdn-icons-png.flaticon.com/512/812/812327.png",
				    })
				    
				  }

				});
				}

				$(function() {
					  $likeBtn.click(function() {
					    if (!$likeBtn.hasClass('active')) {
					      $(this).find('img').attr({
					        'src': 'https://cdn-icons-png.flaticon.com/512/803/803087.png',
					        alt: '좋아요 꽉찬거'
					      });
					      great(); //좋아요 함수 호출 
					    } else {
					      $(this).find('i').removeClass('active');
					      $(this).find('img').attr({
					        'src': 'https://cdn-icons-png.flaticon.com/512/812/812327.png',
					        alt: '좋아요 안한거'
					      });
					      greatDown(); //좋아요 취소 호출 
					    }
					  });
					});


			  
				//좋아요 클릭시 효과 
				 function great() {
				  $.ajax({
				    url: "/greatUP/" + greatNcode,
				    type: "POST",
				    data: greatVO,
				    success: function(result) {
				      alert(result.message);
				      getGreat(); //회원 확인 여부 호출
				    },
				    error: function() {
				      alert("좋아요를 누르는 중 오류가 발생했습니다.");
				      getGreat(); //회원 확인 여부 호출
				    }
				  });
				  console.log(greatVO);
				}

				//좋아요 취소시 효과 기능 
				function greatDown(){
				      $.ajax({
				        url: "/greatDown/" + greatFlag + "/" + greatNcode + "/" + id,
				        type: "POST",
				        data: greatVO,
				        success: function(result) {
				          alert(result.message);
				          getGreat(); //회원 확인 여부 호출
				        },
				        error: function() {
				          alert("좋아요 취소 중 오류가 발생했습니다.");
				        }
				          });
				    } 
				
				/* -----------------------
               			 북마크 START
        		  -----------------------*/
       
          $(function() {
               // 즐겨찾기 추가 여부 확인 함수
               function checkBookmark() {
                 var id = $('#id').val();
                 var bookNcode = window.location.pathname.split("/").pop();
                 var bookFlag = ("TR") // 호텔/여행지 여부에 따라 bookFlag 값 지정
                 var bookCode =  $('#bookCode').val();

                 $.ajax({
                   type: 'POST',
                   url: '/bookmarkCheck/' + bookNcode + '/' + id,
                   data: {
                     'id': id,
                     'bookCode': bookCode
                   },
                   success: function(data) {
                       if (data === true) { // 즐겨찾기 추가된 경우
                           $('.emptyMark').hide(); // emptyMark 숨김
                           $('.fullMark').show(); // fullMark 보임
                       } else { // 즐겨찾기 추가되지 않은 경우
                           $('.fullMark').hide(); // fullMark 숨김
                           $('.emptyMark').show(); // emptyMark 보임
                       }
                   },
                   error: function() {
                       console.log('bookmarkCheck 오류');
                   }
               });
               }

               // 페이지 로딩시 즐겨찾기 추가 여부 확인(새로고침에도 북마크 값 가지고옴)
               checkBookmark();

               
               //즐겨찾기 추가 (emptyMark 클릭 시)
               $('.emptyMark').on('click', function(e) {
                 e.preventDefault();
                 var id = $('#id').val();
                 var bookCode = $(this).data('bookcode');
                 var bookNcode = window.location.pathname.split("/").pop();
                 var fullMark = $(this).siblings('.fullMark');
                 var emptyMark = $(this);

                 $.ajax({
                   type: 'POST',
                   url: '/insertBookTrip/' + bookNcode,
                   data: {
                     'bookCode': bookCode,
                     'bookNcode': bookNcode
                   },
                   success: function(data) {
                     if (data.bookCode > 0) {
                       $('.emptyMark').hide();
                       $('.fullMark').show();
                       //alert('등록완료');
                     } else {
                       // 실패했을 때 
                     }
                   },
                   error: function() {
                     alert('등록실패!');
                   }
                 });
               });
             });

          //즐겨찾기 취소(fullMark 클릭시)
        $('.fullMark').on('click', function(e) {
			  e.preventDefault();
			  var id = $('#id').val();
			  var bookCode = $(this).data('bookcode');
			  var bookNcode = window.location.pathname.split("/").pop();
			  var emptyMark = $(this).siblings('.emptyMark');
			  var fullMark = $(this);
			
			  $.ajax({
			    type: 'POST',
			    url: '/bookDel/' + bookNcode,
			    data: {
			      'bookCode': bookCode,
			      'bookNcode': bookNcode
			    },
			    success: function(data) {
			      if (data > 0) {
			    	  emptyMark.show();
		              fullMark.hide();
			        //alert('취소완료');
			      } else {
			        // 실패했을 때 
			      }

			    },
			    error: function() {
			      alert('취소실패!');
			    }
			  });
			});
        /* -----------------------
        		북마크 끝!
  		-----------------------*/
  
				
				/* 여행지 나만의 코스에 담기 */
				/* '여행지 담기' 버튼 클릭 시 모달창 뜨기 */
				$('#tripBtn').click(function(e){
				         e.preventDefault();
				         $('#exampleModal').modal("show");
				      });
				
				/* '선택' 버튼 클릭 시, 여행고유번호 db에 담기*/
				function myCouTripInsert(){
				 if (confirm("코스에 담겠습니까?")) { // 사용자 확인 메시지 표시
					let tripUniqueNumber = $("#tripUniqueNumber").val(); // 여행고유번호
					let myCourseCode = $(event.target).next().val();
					console.log(event.target)
					$.ajax({
						url : "/myCouTripInsert",
						type : "POST",
						data : JSON.stringify({
							"tripUniqueNumber" : tripUniqueNumber,
							"myCourseCode" : myCourseCode
						}),
						contentType : 'application/json',
						success : function(data) {
							if(data == "success") {
								alert("해당 코스에 담았습니다");
							} else {
								alert("담기 실패");
							}
							$("#tripUniqueNumber").val();
						},
						error: function() {
							alter('담기 실패');
						}
					});
					
				 }
				};
				/* 댓글  시작*/
				$(document).ready(function(){
					getComList() 
				})
				
				$("#butn").click(function(){ //댓글 등록
					let comContent = $("#comContent").val(); //댓글내용
					let comId =$("#id").val(); //회원아이디
					let comOrder = 1 //댓글순서
					let comBlock = 1 //댓글계층
					let comFlag = $("#comFlag").val();  //게시물구분
					let comBoardCode = $("#comBoardCode").val(); //게시물번호
				
					let comLock = $("#lockChk").val() //비밀댓글
					if($("#lockChk").is(':checked') == true){
						comLock = 0
					}
					if(comId == ""){
						alert("로그인 후 이용하세요")
						return;
					}; // 로그인 안했을시 댓글 작성 x
					
					$.ajax({
						url:"/comInsert",
						type:"POST",
						data: JSON.stringify(
							{
								"block" : comBlock, //댓글계층
								"comContent" :comContent,
								"id" :comId,
								"comLock" : comLock,
								"comOrder" : comOrder,
								"comFlag" : comFlag, //게시물 구분
								"comBoardCode" : comBoardCode// 게시물 번호
							}
						),
						contentType:'application/json',
						success : function(data){
							console.log("댓글등록")
							$("#comContent").val("")
							console.log("====")
							getComList()
						},
						error:function(){
							alert('등록실패');
						}
					});
				});
				
				function getComList(){ //댓글 리스트
					let str = ""
					id = $("#id").val()
					author = $("#perm").val()
					perm = author.slice(1,-1)
					console.log(perm)
					console.log(id)
					let comFlag = $("#comFlag").val();  //게시물구분
					let comBoardCode = $("#comBoardCode").val(); //게시물번호
					    str += '<div class="title-g margin-30px-bottom">'
						str +='<h3>댓글</h3>'
						str +='</div>'
					let comArea =$(".comments-area");
					$.ajax({
						url:"/comGetList",
						type:"POST",
						data: JSON.stringify(
								{
									"comFlag" : comFlag, //게시물 구분
									"comBoardCode" : comBoardCode// 게시물 번호
								}
							),
						contentType:'application/json',
						success : function(result){
							$(".title-g margin-30px-bottom").remove()
							$(result).each(function(index,item){
								if(item.block == 1){
									str += "<div class='comment-box' id='"+item.comCode+"' >"
									str += '<div class="author-thumb">'
									str += '<img src="img/blog/01.png" alt="" class="rounded-circle width-85px width-100px" /> </div>'
									str += '<div class="comment-info">'
									str += '<h6> <a href="javascript:void(0);" >'+item.name+' </a></h6>'
									if(item.comLock != 0 || item.id == id || perm == "ADMIN"){
									str	+= '<p>'+item.comContent+'</p>'
									}else{
									str += 	'<p>비밀 댓글입니다.</p>'
									}
									if( perm == "ADMIN" || item.id == id){
									str += '<button type="button" class="btnDel" onclick="comDelete()">삭제</button>'
									str += '<button type="button" class="btnDel" onclick="comUpdateForm()">수정</button>'
									}
									str += '<input type="hidden" name="comGroup" id="comGroup" value="'+item.comGroup+'">'
								}else{
									str += "<div class='comment-box' id='"+item.comCode+"' style='margin-left: 100px;'>"
									str += '<div class="author-thumb">'
									str += '<img src="img/blog/01.png" alt="" class="rounded-circle width-85px width-100px" /> </div>'
									str += '<div class="comment-info"> '
									str += '<h6> <a href="javascript:void(0);" >'+item.name+'</a></h6>'
									if(item.comLock != '0' || item.id == id || perm == "ADMIN"){
									str	+= '<p>'+item.comContent+'</p>'
									}else{
									str += 	'<p>비밀 댓글입니다.</p>'
									}
									if(perm == "ADMIN" || item.id == id){
									str += '<button type="button" class="btnDel" onclick="reComDelete()">삭제</button>'
									str += '<button type="button" class="btnDel" onclick="comUpdateForm()">수정</button>'
									}
								}
							//if(item.block == 1){
								str += '<div class="reply">'
								str += '<h6>'+item.comDate+'</h6>'
								str += '<a href="javascript:void(0);" onclick="comReply()"> <i class="fa fa-reply" aria-hidden="true"></i> 답글</a>' 
								str += '</div> </div> </div>'
								str += '<div class="rep-form" id="'+item.comCode+'" style="display:none" text-align: right;>'
								str += 	'<form id="reply-form " method="post">'
								str +=  '<div class="controls">'
								str +=  '<div class="row">'
								str += '<div class="col-md-12 form-group">'
								str += '<textarea id="comRep" name="comContent" class="comRep"'
								str += 'placeholder="답글" rows="2" required="required">#'+item.id+'</textarea>'
								str += '<input type="hidden" name="comGroup" id="comGroup" value="'+item.comGroup+'">'
								str += '<button type="button" id="reButn" class="butn" onclick="comReplyInsert()">답글등록</button>'
								str += '<label><input type="checkbox" class="secChk" value="1">비밀</label>'
								str +=	'</div>'
								str += '<div class="col-md-12">'
								str += '<input type="hidden" name="comGroup" value="'+item.comGroup+'"'
								str += '</div></div></div></form></div></div>'
								//}
							})
							comArea.html(str);
						}
					})
				}
				
				function reComDelete(){ //댓글 삭제
					let comBox = $(event.target).closest(".comment-box")
					let reply = comBox.next()
					console.log($(event.target).text())
					let comGroup = $(event.target).find("#comGroup").val()
					let comOrder = 1
					let comCode = comBox.attr('id')
					console.log(comCode)
					//alert 후 true 일경우 삭제 누른 댓글 삭제
					//false 후 
					$.ajax({
						url:"/reComDelete",
						type:"delete",
						data:{
										
										
								 comCode
										//게시물 번호
									    //댓글 비밀여부
									}
						,
						success : function(data){
							console.log(data)
							getComList()
						}
					})
				}
				
				function comDelete(){ //댓글 삭제
					let comBox = $(event.target).closest(".comment-box")
					let reply = comBox.next()
					let comGroup = $(event.target).next().next().val()
					//alert 후 true 일경우 삭제 누른 댓글 삭제
					//false 후 
					$.ajax({
						url:"/comDelete",
						type:"delete",
						data:{	
							comGroup		
						}	   
						,
						success : function(data){
							console.log(data)
							getComList()
						}
					})
				}
				
				function comReply(){ //답글창 on,off
					let comBox = $(event.target).closest(".comment-box")
					let recom = comBox.next()
					if(recom.is(':visible') != true){	
						recom.show();
					}else{
						recom.hide();
					}
					
				}
				//대댓글 댓글 그룹,  
				function comReplyInsert(){
					let rep = $(event.target).closest(".rep-form").attr('id')
					let reContent =$(event.target).prev().prev().val()
					let comId =$("#id").val();
					let comGroup = $(event.target).prev().val()
					let comLock = $(event.target).next().val() //비밀댓글
					let comBlock = '2'
					let comFlag = $("#comFlag").val();
					let comBoardCode = $("#comBoardCode").val();
					if($(event.target).next().is(':checked') == true){
						comLock = 0
					}
					$.ajax({
						url:"/reComInsert",
						type:"POST",
						data: JSON.stringify(
							{
								"comContent" :reContent,
								"id" :comId,
								"comGroup" : comGroup,
								"comLock" : comLock,
								"block" : comBlock,
								"comFlag" : comFlag, //게시물 구분
								"comBoardCode" : comBoardCode// 게시물 번호
								//게시물 번호
							   //댓글 비밀여부
							}
						),
						contentType:'application/json',
						success : function(data){
							console.log("답글등록")
							$(event.target).prev().val("")
							getComList()
						},
						error:function(){
							alert('등록실패');
						}
					});
				}
				$(".btnUp").on("click")
				
				 function comUpdate(){
					let comContent =$(event.target).prev().prev().val();
					let comCode =$(event.target).closest(".comment-box").attr('id');
					$.ajax({
						url:"/comUpdate",
						type:"POST",
						data: JSON.stringify(
							{
								"comContent" :comContent,
								"comCode" : comCode,
							}
						),
						contentType:'application/json',
						success : function(data){
							console.log("답글등록")
							getComList()
						},
						error:function(){
							alert('등록실패');
						}
					});
				}
				
				function comUpdateForm(){
					
					let pTag = $(event.target).prev().prev()
					let content = pTag.text()
					console.log(content)
					let delBtn =  $(event.target).prev()
					let upBtn = $(event.target)
					
					$( pTag ).replaceWith('<textarea id="coUpText" name="comContent" class="coUpText">'+content+'');
					$(delBtn).replaceWith('<button type="button" class="btnDel" onclick="resetBtn()">취소</button>')
					let up = $(upBtn).replaceWith('<button type="button" class="btnDel" onclick="comUpdate()">저장</button>')
				}
				
				function resetBtn(){
					getComList()
				}
				/* 댓글  끝*/
				</script>
            
       
        <!-- end blog detail section -->
	<!-- 썸네일 리스트 끝 -->
</div>


</body>
</html>