<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
</head>


<body>

<div layout:fragment="content" class="content">
<style>
.active {
	background-color : lightskyblue;
}
</style>

   
   
   <!-- 배너시작 -->  
		 <section  class="page-title-section bg-img cover-background" 
			th:style="|background: url('/img/banner/bg1.jpg')|">
                <h1 class="text-white font-weight-600">여행 지역</h1>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span class="active">여행 지역</span>
                    </li>
                </ul>
        </section>
	 <!-- 배너끝 -->
	 
      <!-- start tour-list section -->
      <section>
         <div class="container">
                 <p style="font-size: 30px;">지역별 여행지<p><hr>
                 <hr>
                 <div id="product_order_list">
                 
			<p id="regionSection">
			<a href="#" onclick="region('');" class="active">전체</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(1);">서울</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(6);">부산</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(4);">대구</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(2);">인천</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(5);">광주</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(3);">대전</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(7);">울산</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(8);">세종</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(31);">경기</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(32);">강원</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(33);">충북</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(34);">충남</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(37);">전북</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(38);">전남</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(35);">경북</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(36);">경남</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="#" onclick="region(39);">제주</a>&nbsp&nbsp|&nbsp&nbsp
			</p>
		</div>
            	<div id="product_order_list">
					<p>
					<a href="javascript:latestList();">최신순</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
					<a href="javascript:tripGoodRatingList()">좋아요순</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					</p>
				</div>
                 <!-- 검색 폼 -->
				
					<input type="hidden" id="page" name="page" value="1">
					<input type="hidden" id="tripRegion" name="tripRegion" th:value="${param.tripRegion}">
                	<input type="text" onkeypress="tripNameFind()" id="tripName" name="tripName" th:value="${param.tripName}" class="form-control"  placeholder="여행지를 검색하세요"><br>
                	<input type="hidden" id="orders" name="orders" th:value="${param.orders}">
  
                
               <div  class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom" style="float: left;">
          		<div class="row margin-30px-bottom" id="tripListContent">
             
               </div>
             </div>
             	<script th:inline="javascript">

             	function tripNameFind() {
             		if(event.keyCode == 13) {
             			goregion();
             		} 
             	}
             	
				function gopage(page) {
		   			$("#page").val(page)
		   			goregion()

		   		}  
		   		
		   		function region(tripRegion){
					event.preventDefault()
		   			$(".active").removeClass("active");
		   			$(event.target).addClass("active");
		   			$("#tripRegion").val(tripRegion);
		   			$("#page").val(1)
		   			$("#tripName").val("");
		   			$("#orders").val();
		   			goregion()
		   		}
		   		
				
				// 지역별 / 이름 입력 시 출력
				var goregion = function() {
					var tripRegion = $("#tripRegion").val()
		 			var page = $("#page").val()
		 			var tripName = $("#tripName").val()
					$.ajax({
						type: 'post',
						url: "/tripRegion",
						data:{tripRegion, page, tripName},
						success: function(data) {
							$("#tripListContent").replaceWith(data);
						},
						error: function(request, status, error) {
							alert(error);
						}
					});
				};
				
				// 최신순 정렬
				var latestList = function(url) {
					$.ajax({
						type: 'post',
						url: "/latestList",
						success: function(data) {
							$("#tripListContent").replaceWith(data);
						},
						error: function(request, status, error) {
							alert(error);
						}
					})
				}
				
				// 좋아요순 정렬
				var tripGoodRatingList = function(url) {
					$.ajax({
						type: 'post',
						url: "/tripGoodRatingList",
						success: function(data) {
							$("#tripListContent").replaceWith(data);
						},
						error: function(request, status, error) {
							alert(error);
						}
					})
				}
			
                
                // 여행지명 검색 리스트
                function tripNameSearchList() {
		 			var page = $("#page").val()
                	$.ajax({
                		type: 'post',
                		url: "/tripNameSearchList",
                		data: {page},
                		success: function(data) {
                			$("#tripListContent").realaceWith(data);
                		},
                		error: function(request, status, error) {
                			alert(error);
                		}
                	});
                };
                
               	goregion();
                
                // 자동완성
                $('#selfSearch').selfsearch({
                	source : function(request, response) { //source: 입력시 보일 목록
                		$.ajax({
                			url : "/ajax/selfsearch"   
   					         , type : "POST"
   					         , dataType: "JSON"
   					         , data : {value: request.term}	// 검색 키워드
   					         , success : function(data){ 	// 성공
   					             response(
   					                 $.map(data.resultList, function(item) {
   					                     return {
   					                    	     label : item.TRIP_NAME   	// 목록에 표시되는 값
   					                           , value : item.TRIP_NAME 		// 선택 시 input창에 표시되는 값
   					                           , idx : item.TRIP_CODE // index
   					                     };
   					                 })
   					             );    //response
   					         }
   					         ,error : function(){ //실패
   					             alert("오류가 발생했습니다.");
   					         }
   					     });
   					}
   					,focus : function(event, ui) { // 방향키로 자동완성단어 선택 가능하게 만들어줌	
   							return false;
   					}
   					,minLength: 1// 최소 글자수
   					,autoFocus : true // true == 첫 번째 항목에 자동으로 초점이 맞춰짐
   					,delay: 50	//selfSearch 딜레이 시간(ms)
   					,select : function(evt, ui) { 
   				      	// 아이템 선택시 실행 ui.item 이 선택된 항목을 나타내는 객체, lavel/value/idx를 가짐
   							console.log(ui.item.label);
   							console.log(ui.item.idx);
   					 }
   				});
                
          
       			</script>
        </div>
   </section>
      <!-- end tour-list section -->
      

</div>
</body>
</html>