<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
</head>


<body>

   <div layout:fragment="content" class="content">
   
   <!-- 페이징 -->
   <script>
   		function gopage(page) {
   			location.href = "trip?page=" + page;
			frmSearch.page.value = page;
			frmSearch.submit();
   		}
   </script>
   <!-- 페이징 끝-->
   
   
   <!-- 배너시작 -->  
		 <section  class="page-title-section bg-img cover-background" 
			th:style="|background: url('/img/banner/bg1.jpg')|">
                <h1 class="text-white font-weight-600">여행 지역</h1>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span class="active">여행 지역</span>
                    </li>
                </ul>
        </section>
	 <!-- 배너끝 -->
	 
      <!-- start tour-list section -->
      <section>
         <div class="container">
            <div class="row">
               <div  class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom">
                                 
                        <p style="font-size: 30px;">전체 여행지<p><hr>
                 <div id="product_order_list">
                 
			<p>
			<a href="javascript:region(1);">서울</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(6);">부산</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(4);">대구</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(2);">인천</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(5);">광주</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(3);">대전</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(7);">울산</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(8);">세종</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(31);">경기</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(32);">강원</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(33);">충북</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(34);">충남</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(37);">전북</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(38);">전남</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(35);">경북</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(36);">경남</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="javascript:region(39);">제주</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			</p>
		</div>
            	<div id="product_order_list">
					<p>
					<a href="javascript:latestList();">최신순</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
					<a href="javascript:tripGoodRatingList()">좋아요순</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					</p>
				</div>
				<script th:inline="javascript">
				
				// 지역...
				var region = function(tripRegion) {
					$.ajax({
						type: 'post',
						url: "/tripRegion",
						data: {tripRegion},
						success: function(data) {
							$("#tripListContent").replaceWith(data);
						},
						error: function(request, status, error) {
							alert(error);
						}
					});
				};
				
				// 최신순 정렬
				var latestList = function(url) {
					$.ajax({
						type: 'post',
						url: "/latestList",
						success: function(data) {
							$("#tripListContent").replaceWith(data);
						},
						error: function(request, status, error) {
							alert(error);
						}
					})
				}
				
				// 좋아요순 정렬
				var tripGoodRatingList = function(url) {
					$.ajax({
						type: 'post',
						url: "/tripGoodRatingList",
						success: function(data) {
							$("#tripListContent").replaceWith(data);
						},
						error: function(request, status, error) {
							alert(error);
						}
					})
				}
				
				</script>
 			
 			
                
                 <!-- 검색 폼 -->
				<form action="/tripNameSearchList" method="post" name="searchFrm" style="margin-top: 20px;">
                	<br><input type="text" class="form-control" id="selfSearch" name="tripName" placeholder="여행지를 검색하세요"><br><br>
                </form>
  
                <script>
                
                // 여행지명 검색 리스트
                function tripNameSearchList() {
                	$.ajax({
                		type: 'post',
                		url: "/tripNameSearchList",
                		success: function(data) {
                			$("#tripListContent").realaceWith(data);
                		},
                		error: function(request, status, error) {
                			alert(error);
                		}
                	});
                };
                
                // 자동완성
                $('#selfSearch').selfsearch({
                	source : function(request, response) { //source: 입력시 보일 목록
                		$.ajax({
                			url : "/ajax/selfsearch"   
   					         , type : "POST"
   					         , dataType: "JSON"
   					         , data : {value: request.term}	// 검색 키워드
   					         , success : function(data){ 	// 성공
   					             response(
   					                 $.map(data.resultList, function(item) {
   					                     return {
   					                    	     label : item.TRIP_NAME   	// 목록에 표시되는 값
   					                           , value : item.TRIP_NAME 		// 선택 시 input창에 표시되는 값
   					                           , idx : item.TRIP_CODE // index
   					                     };
   					                 })
   					             );    //response
   					         }
   					         ,error : function(){ //실패
   					             alert("오류가 발생했습니다.");
   					         }
   					     });
   					}
   					,focus : function(event, ui) { // 방향키로 자동완성단어 선택 가능하게 만들어줌	
   							return false;
   					}
   					,minLength: 1// 최소 글자수
   					,autoFocus : true // true == 첫 번째 항목에 자동으로 초점이 맞춰짐
   					,delay: 50	//selfSearch 딜레이 시간(ms)
   					,select : function(evt, ui) { 
   				      	// 아이템 선택시 실행 ui.item 이 선택된 항목을 나타내는 객체, lavel/value/idx를 가짐
   							console.log(ui.item.label);
   							console.log(ui.item.idx);
   					 }
   				});
       			</script>
          <div class="row margin-30px-bottom" id="tripListContent">
             <div class="col-12 margin-40px-bottom">                
                <div  th:each="t, nStat: ${tripList}" class="card card-list margin-15px-bottom">
                   <div class="row align-items-center">
                   <div class="col-md-5 col-lg-4 xs-margin-20px-bottom">
                   <div class="card-list-img">
                         <img th:if="${t.tripCode < 2221}" class="border-radius-5" th:src="${t.imgGroCode}" style="width:300; height:200px;"/>
                             <img th:if="${t.tripCode >= 2221}" th:src="'/image/'+${t.imgPath}" style="width:300; height:200px;" class="border-radius-5"/>
                      </div>
                      <div class="card-list-img">
                      </div>
                   </div>
                   <div class="col-md-7 col-lg-8" id="trip">
                      <div
                         class="card-body padding-15px-tb xs-no-padding-top xs-padding-20px-left padding-40px-right no-padding-left">
                         <div
                            class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title no-margin-bottom font-size22">
                               <a th:href="@{/tripDetail/{tripCode}(tripCode=${t.tripCode})}" class="text-extra-dark-gray">[[${t.tripName}]]</a>
                            </h5>
                         </div>
                         <p class="margin-20px-tb sm-margin-10px-top">[[${t.tripAddr}]]</p>
                         <!-- 해시태그 -->
                         <ul class="tags">
                         <li><a href="#">#</a></li>
                         </ul>
                      </div>

                   </div>
                </div>
             </div>

								<!-- 페이징 추가 해주세요 -->
									<div class="gopage" align="center">
										<nav aria-label="Page navigation example" class="gopage">
											<ul class="pagination">
											<li class="page-item" th:if="${paging.startPage > 1}">
												<a  class="page-link" th:href="|javascript:gopage(${paging.startPage-1})|">이전</a>
												</li>											
												<li class="page-item" th:classappend="${paging.page}==${num} ? 'active'"
													th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}">
													<a class="page-link" th:href="|javascript:gopage(${num})|">	[[${num}]] </a>
												</li>										
												<li class="page-item" th:if="${paging.endPage < paging.lastPage}">
												<a  class="page-link" th:href="|javascript:gopage(${paging.endPage+1})|">다음</a>
												</li>
											</ul>
										</nav>
									</div> 
                   				<!-- 페이징 끝 -->

                  </div>
               </div>
               <div class="col-lg-4 col-md-12 padding-30px-left sm-padding-15px-left">
                        <div class="side-bar">
                       <div class="widget">
                                   <div class="widget-title">
                                       <h3>태그</h3>
                                   </div>
                                   <p>월별</p>
                                   <ul class="tags">
                                       <li><a href="#">#전체</a></li>
                                       <li><a href="#">#1월</a></li>
                                       <li><a href="#">#2월</a></li>
                                       <li><a href="#">#3월</a></li>
                                       <li><a href="#">#4월</a></li>
                                       <li><a href="#">#5월</a></li>
                                       <li><a href="#">#6월</a></li>
                                       <li><a href="#">#7월</a></li>
                                       <li><a href="#">#8월</a></li>
                                       <li><a href="#">#9월</a></li>
                                       <li><a href="#">#10월</a></li>
                                       <li><a href="#">#11월</a></li>
                                       <li><a href="#">#12월</a></li>                                       
                                   </ul>
                               </div>
                         </div>
                   </div>
          	   </div>
             </div>
        </div>
   </section>
      <!-- end tour-list section -->
      


</body>
</html>