<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<!-- 뭐야.. CSS -->

<!-- 뭐야.. CSS 끝 -->
<body layout:fragment="content">
	<!-- 헤더 시작 -->
	<!-- start register section -->
	<section
		class="full-screen text-center cover-background bg-img no-padding"
		data-overlay-dark="5" data-background="img/member/1.jpg">
		<div class="container d-flex flex-column">
			<div class="row align-items-center justify-content-center min-vh-100">
				<div class="col-md-8">

					<div
						class="bg-black-opacity padding-40px-all sm-padding-25px-all rounded">
						<h3
							class="margin-40px-bottom xs-margin-20px-bottom xs-font-size24 text-center text-white">관광정보요청</h3>
						<form method="post" action="#!" id="frm">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<p>제목</p>
										<input type="text" name="id" id="id" placeholder="제목"
											maxlength="70">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<p>내용</p>
										<textarea rows="" cols=""></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<button onclick="goPopup();">도로명주소 호출해보기</button>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<p>위도</p>
										<input type="text" name="gender">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<p>경도</p>
										<input type="tel" name="tel" id="tel" placeholder=""
											maxlength="70">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<p>주소</p>
										<input type="email" name="email" id="email" placeholder="이메일"
											maxlength="70">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<p>지역</p>
										<input type="email" name="email" id="email" placeholder="이메일"
											maxlength="70">
									</div>
								</div>

								<div class="col-md-6 margin-25px-top">
									<button type="button" class="butn btn-block" id="tourReqBtn">등록</button>
								</div>
								<div class="col-md-6 margin-25px-top">
									<button type="reset">취소</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		var pop;

		function goPopup() {
			pop = window.open("/jusoPopup", "pop",
					"width=570, height=420, scrollbars=yes");
		}

		function jusoCallBack(entX, entY) {
			var form = $('<form></form>');
			form.attr('action', '/map');
			form.attr('method', 'post');
			form.appendTo('body');
			form
					.append($('<input type="hidden" value="' + entX + '" name=entX>'));
			form
					.append($('<input type="hidden" value="' + entY + '" name=entY>'));
			form.submit();

			pop.close();
		}
	</script>
</body>
</html>