<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/index}">
<body layout:fragment="content">
	<!-- start login section -->
	<section
		class="full-screen text-center cover-background bg-img no-padding"
		data-overlay-dark="5" data-background="img/member/1.jpg">
		<div class="container d-flex flex-column">
			<div class="row align-items-center justify-content-center min-vh-100">
				<div class="col-md-8">

					<div
						class="bg-black-opacity padding-40px-all sm-padding-25px-all rounded">
						<h3 class="margin-40px-bottom text-center text-white">로그인</h3>
						<form method="post" action="/memberLogin" id="frm">
							<!-- form 로그인 -->
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" name="id" id="id" required="required"
											placeholder="id" maxlength="70">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<input type="password" name="pass" id="password"
											required="required" placeholder="Password" maxlength="70">
									</div>
								</div>
							</div>
							<div class="row">
                                    <div class="col-sm-6 mb-2">
                                        <div class="custom-control custom-checkbox text-left text-white">
                                            <input type="checkbox" class="custom-control-input" id="login-remember">
                                            <label class="custom-control-label" for="login-remember">자동로그인</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-left text-sm-right">
                                        <a href="/passFind" class="text-white">비밀번호 찾기</a>
                                    </div>

                                </div>
							<div class="col-12margin-25px-top">
								<button type="button" class="butn btn-block" id="login">로그인</button>
							</div>
								<div class="row">
                                    <div class="col-sm-6 mb-2">
                                        <div class="custom-control custom-checkbox text-left text-white">
											<span><a href="/memberSignUpForm" class="text-white">회원가입</a></span>
										</div>
                                    </div>
           
							</div>
														<div class="col-12margin-25px-top">
<a href="/oauth2/authorization/kakao"><img src="/img/login/kakao_login_medium_narrow.png"/></a>	
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- end login section -->
	<!-- 내용 끝 -->
	<!-- 푸터 시작 -->
	<!-- 푸터 끝 -->
	<script>
		/*
		  2. 간편로그인 (구글,카카오,네이버)
		  3. 아이디,비밀번호 찾기
		 */
		 $("#login").click(function() {
			 lId = $("#id").val()
			 lPass = $("#password").val()
			 if(lId == "" ){
				 alert("아이디를 입력해주세요")
				 return false
			 }else if(lPass == ""){
				 alert("비밀번호를 입력해주세요")
				 return false
			 }else{
				 $("#frm").submit()
			 }
		})
	</script>
</body>

</html>