<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<body layout:fragment="content">

	<section
		class="full-screen text-center cover-background bg-img no-padding"
		data-overlay-dark="5" data-background="img/member/1.jpg">
		<div class="container d-flex flex-column">
			<div class="row align-items-center justify-content-center min-vh-100">
				<div class="col-md-8">

					<div
						class="bg-black-opacity padding-40px-all sm-padding-25px-all rounded">
						<h3
							class="margin-40px-bottom xs-margin-20px-bottom xs-font-size24 text-center text-white">회원탈퇴</h3>
						<form method="post" action="#!">
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<input type="password" name="password" id="password1"
											placeholder="비밀번호" maxlength="70">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<input type="password" name="password" id="password2"
											placeholder="비밀번호확인" maxlength="70">
									</div>
								</div>
								<div class="col-md-12 margin-25px-top">
									<button type="button" class="butn btn-block" id="signUp">회원탈퇴</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		/*
		 * 1.비밀번호가 일치하지 않을경우 오류메시지를 띄운다
		 2.비밀번호가 일치할경우 경고창을 띄우고 동의하면 탈퇴테이블로 insert 하고 회원테이블에서 삭제된다.
		
		 */
	</script>
</body>
</html>