<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<!-- 뭐야.. CSS -->

<!-- 뭐야.. CSS 끝 -->

<body layout:fragment="content">
	<!-- 헤더 시작 -->
	<section class="page-title-section bg-img cover-background"
			th:style="|background:url(/img/banner/bg2.jpg)|">
			<div class="container">

				<h1 class="text-white font-weight-600">My page</h1>
				<ul>
					<li><a href="/main">Home</a></li>
					<li><a href="/myPage"><span class="active">My page</span></a></li>
				</ul>
			</div>
		</section>
	<div class="container" style="padding:30px;">
		<div class="row text-center col-md-12">
			<div class="col-lg-4 col-md-12 sm-margin-30px-bottom">
				<div
					class="padding-45px-tb padding-25px-lr shadow border-radius-4 h-100">
					<div class="margin-25px-bottom sm-margin-15px-bottom">
						<i class="bi bi-bookmark text-theme-color font-size40"></i>
						<div class="box-circle-large"></div>
						<div class="box-circle-small"></div>
					</div>
					<div
						class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">
						<a href="/bookmark">즐겨찾기</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div
					class="padding-45px-tb padding-25px-lr shadow border-radius-4 h-100">
					<div class="margin-25px-bottom sm-margin-15px-bottom">
						<i class="fas fa-map-marker-alt text-theme-color font-size40"></i>
						<div class="box-circle-large"></div>
						<div class="box-circle-small"></div>
					</div>
					<div
						class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">
						<a href="/myCourse">나만의 코스</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div
					class="padding-45px-tb padding-25px-lr shadow border-radius-4 h-100">
					<div class="margin-25px-bottom sm-margin-15px-bottom">
						<i class="bi bi-pencil-square text-theme-color font-size40"></i>
						<div class="box-circle-large"></div>
						<div class="box-circle-small"></div>
					</div>
					<div
						class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">
						<a href="/myReservation">예약 내역</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 sm-margin-30px-bottom">
				<div
					class="padding-45px-tb padding-25px-lr shadow border-radius-4 h-100">
					<div class="margin-25px-bottom sm-margin-15px-bottom">
						<i class="bi bi-exclamation text-theme-color font-size40"></i>
						<div class="box-circle-large"></div>
						<div class="box-circle-small"></div>
					</div>
					<div
						class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">
						<a href="/tourReForm">관광 정보 수정<br>신규 요청
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 sm-margin-30px-bottom">
				<div
					class="padding-45px-tb padding-25px-lr shadow border-radius-4 h-100">
					<div class="margin-25px-bottom sm-margin-15px-bottom">
						<i class="bi bi-pencil-square text-theme-color font-size40"></i>
						<div class="box-circle-large"></div>
						<div class="box-circle-small"></div>
					</div>
					<div
						class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">
						<a href="/memberUpdateForm">회원정보 수정</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div
					class="padding-45px-tb padding-25px-lr shadow border-radius-4 h-100">
					<div class="margin-25px-bottom sm-margin-15px-bottom">
						<i class="bi bi-exclamation text-theme-color font-size40"></i>
						<div class="box-circle-large"></div>
						<div class="box-circle-small"></div>
					</div>
					<div
						class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">
						<a href="/companionList">동행자 게시물 확인</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 sm-margin-30px-bottom">
				<div
					class="padding-45px-tb padding-25px-lr shadow border-radius-4 h-100">
					<div class="margin-25px-bottom sm-margin-15px-bottom">
						<i class="fas fa-comments text-theme-color font-size40"></i>
						<div class="box-circle-large"></div>
						<div class="box-circle-small"></div>
					</div>
					<div
						class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">
						<a href="/todolist">to do list</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div
					class="padding-45px-tb padding-25px-lr shadow border-radius-4 h-100">
					<div class="margin-25px-bottom sm-margin-15px-bottom">
						<i class="bi bi-exclamation text-theme-color font-size40"></i>
						<div class="box-circle-large"></div>
						<div class="box-circle-small"></div>
					</div>
					<div
						class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">
						<a href="">팔로우 목록</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div
					class="padding-45px-tb padding-25px-lr shadow border-radius-4 h-100">
					<div class="margin-25px-bottom sm-margin-15px-bottom">
						<i class="fas fa-envelope text-theme-color font-size40"></i>
						<div class="box-circle-large"></div>
						<div class="box-circle-small"></div>
					</div>
					<div
						class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">
						<a href="/diary">여행리뷰</a>
					</div>
				</div>
			</div>
			<!-- end -->
		</div>
	</div>
<script type="text/javascript">
	/* 
		1.프로필수정 시간남으면 하자
			1-1 모달창 띄워서 시도
			
	*/
</script>

</body>
</html>